set_location DUT.fifo_rx_inst.rFifoCount_RNI250E6[0] 14 15 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNI250E6[0]_LC_0)
set_location DUT.fifo_rx_inst.rFifoCount_RNI9EGD1[0] 13 17 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNI9EGD1[0]_LC_1)
set_location DUT.fifo_rx_inst.rFifoCount_RNICMVR[2] 13 16 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNICMVR[2]_LC_2)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0] 13 17 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0]_LC_3)
set_location DUT.fifo_rx_inst.rFifoCount_RNIK3G92[1] 13 17 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIK3G92[1]_LC_4)
set_location DUT.fifo_rx_inst.rFifoCount_RNIL4G92[2] 13 17 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIL4G92[2]_LC_5)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[0] 14 17 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[0]_LC_6)
set_location DUT.fifo_rx_inst.rFifoCount[0] 14 17 1 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[0]_LC_6)
set_location DUT.fifo_rx_inst.rFifoCount_RNO_0[2] 13 17 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNO_0[2]_LC_7)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[1] 13 18 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_8)
set_location DUT.fifo_rx_inst.rFifoCount[1] 13 18 1 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_8)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_1_c 13 18 1 # SB_CARRY (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_8)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[2] 13 18 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[2]_LC_9)
set_location DUT.fifo_rx_inst.rFifoCount[2] 13 18 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[2]_LC_9)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0] 14 14 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0]_LC_10)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1] 14 14 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1]_LC_11)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2] 14 14 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2]_LC_12)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3] 13 15 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3]_LC_13)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4] 13 15 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4]_LC_14)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5] 13 15 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5]_LC_15)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6] 13 15 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6]_LC_16)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7] 14 14 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7]_LC_17)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI1BK22[7] 14 14 0 # SB_LUT4 (LogicCell: rTxByte_esr[7]_LC_18)
set_location rTxByte_esr[7] 14 14 0 # SB_DFFESR (LogicCell: rTxByte_esr[7]_LC_18)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI5EJ22[0] 14 14 7 # SB_LUT4 (LogicCell: rTxByte_esr[0]_LC_19)
set_location rTxByte_esr[0] 14 14 7 # SB_DFFESR (LogicCell: rTxByte_esr[0]_LC_19)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9IJ22[1] 14 14 4 # SB_LUT4 (LogicCell: rTxByte_esr[1]_LC_20)
set_location rTxByte_esr[1] 14 14 4 # SB_DFFESR (LogicCell: rTxByte_esr[1]_LC_20)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIDMJ22[2] 14 14 2 # SB_LUT4 (LogicCell: rTxByte_esr[2]_LC_21)
set_location rTxByte_esr[2] 14 14 2 # SB_DFFESR (LogicCell: rTxByte_esr[2]_LC_21)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIHQJ22[3] 13 15 7 # SB_LUT4 (LogicCell: rTxByte_esr[3]_LC_22)
set_location rTxByte_esr[3] 13 15 7 # SB_DFFESR (LogicCell: rTxByte_esr[3]_LC_22)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILUJ22[4] 13 15 0 # SB_LUT4 (LogicCell: rTxByte_esr[4]_LC_23)
set_location rTxByte_esr[4] 13 15 0 # SB_DFFESR (LogicCell: rTxByte_esr[4]_LC_23)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIP2K22[5] 13 15 2 # SB_LUT4 (LogicCell: rTxByte_esr[5]_LC_24)
set_location rTxByte_esr[5] 13 15 2 # SB_DFFESR (LogicCell: rTxByte_esr[5]_LC_24)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIT6K22[6] 13 15 4 # SB_LUT4 (LogicCell: rTxByte_esr[6]_LC_25)
set_location rTxByte_esr[6] 13 15 4 # SB_DFFESR (LogicCell: rTxByte_esr[6]_LC_25)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1 14 16 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1_LC_26)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNIHJV05 14 16 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_RNIHJV05_LC_27)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNO 14 17 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_LC_28)
set_location DUT.fifo_rx_inst.rFifoDatarff_0 14 17 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_LC_28)
set_location DUT.fifo_rx_inst.rFifoDatarff_1_RNO 13 16 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_1_LC_29)
set_location DUT.fifo_rx_inst.rFifoDatarff_1 13 16 7 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_1_LC_29)
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1 13 16 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1_LC_30)
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNO 13 16 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_LC_31)
set_location DUT.fifo_rx_inst.rFifoDatarff_2 13 16 1 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_LC_31)
set_location DUT.fifo_rx_inst.rFifoDatarff_3_RNO 13 16 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_3_LC_32)
set_location DUT.fifo_rx_inst.rFifoDatarff_3 13 16 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_3_LC_32)
set_location DUT.fifo_rx_inst.rReadPtr_RNI4NC92[0] 14 16 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr_RNI4NC92[0]_LC_33)
set_location DUT.fifo_rx_inst.rReadPtr_RNO[0] 14 16 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr[0]_LC_34)
set_location DUT.fifo_rx_inst.rReadPtr[0] 14 16 4 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rReadPtr[0]_LC_34)
set_location DUT.fifo_rx_inst.rReadPtr_RNO[1] 14 16 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr[1]_LC_35)
set_location DUT.fifo_rx_inst.rReadPtr[1] 14 16 2 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rReadPtr[1]_LC_35)
set_location DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1] 12 16 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1]_LC_36)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1] 13 16 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1]_LC_37)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91[1] 13 16 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91[1]_LC_38)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1] 13 16 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1]_LC_39)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1] 12 16 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1]_LC_40)
set_location DUT.fifo_rx_inst.rWritePtr_RNO[0] 12 16 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr[0]_LC_41)
set_location DUT.fifo_rx_inst.rWritePtr[0] 12 16 3 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rWritePtr[0]_LC_41)
set_location DUT.fifo_rx_inst.rWritePtr_RNO[1] 12 16 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr[1]_LC_42)
set_location DUT.fifo_rx_inst.rWritePtr[1] 12 16 0 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rWritePtr[1]_LC_42)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_inv 13 18 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_inv_LC_43)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c 13 18 0 # SB_CARRY (LogicCell: DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_inv_LC_43)
set_location DUT.fifo_tx_inst.rFifoCount_RNIBPFM[1] 16 19 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIBPFM[1]_LC_44)
set_location DUT.fifo_tx_inst.rFifoCount_RNIF689[0] 13 19 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIF689[0]_LC_45)
set_location DUT.fifo_tx_inst.rFifoCount_RNIMBD3[2] 13 19 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIMBD3[2]_LC_46)
set_location DUT.fifo_tx_inst.rFifoCount_RNIN79A[2] 15 20 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIN79A[2]_LC_47)
set_location DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0] 13 19 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0]_LC_48)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[0] 12 19 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[0]_LC_49)
set_location DUT.fifo_tx_inst.rFifoCount[0] 12 19 1 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[0]_LC_49)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[1] 14 19 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_50)
set_location DUT.fifo_tx_inst.rFifoCount[1] 14 19 1 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_50)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_1_c 14 19 1 # SB_CARRY (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_50)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[2] 14 19 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[2]_LC_51)
set_location DUT.fifo_tx_inst.rFifoCount[2] 14 19 2 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[2]_LC_51)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4] 14 22 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4]_LC_52)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5] 14 21 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5]_LC_53)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6] 15 21 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6]_LC_54)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7] 14 22 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7]_LC_55)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0] 14 20 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0]_LC_56)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1] 14 21 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1]_LC_57)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2] 14 22 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2]_LC_58)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3] 14 21 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3]_LC_59)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4] 15 21 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4]_LC_60)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5] 14 21 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5]_LC_61)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6] 15 21 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6]_LC_62)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7] 14 22 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7]_LC_63)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0] 14 20 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0]_LC_64)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1] 16 21 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1]_LC_65)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2] 14 22 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2]_LC_66)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3] 17 21 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3]_LC_67)
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNIJBAM 14 20 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_RNIJBAM_LC_68)
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNO 13 20 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_LC_69)
set_location DUT.fifo_tx_inst.rFifoDatarff_0 13 20 7 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_LC_69)
set_location DUT.fifo_tx_inst.rFifoDatarff_1_RNO 13 20 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_1_LC_70)
set_location DUT.fifo_tx_inst.rFifoDatarff_1 13 20 3 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_1_LC_70)
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE 14 20 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE_LC_71)
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNO 14 20 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_LC_72)
set_location DUT.fifo_tx_inst.rFifoDatarff_2 14 20 2 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_LC_72)
set_location DUT.fifo_tx_inst.rFifoDatarff_3_RNO 14 20 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_3_LC_73)
set_location DUT.fifo_tx_inst.rFifoDatarff_3 14 20 1 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_3_LC_73)
set_location DUT.fifo_tx_inst.rReadPtr_RNILV421[1] 14 21 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr_RNILV421[1]_LC_74)
set_location DUT.fifo_tx_inst.rReadPtr_RNINFEP[0] 14 21 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr_RNINFEP[0]_LC_75)
set_location DUT.fifo_tx_inst.rReadPtr_RNO[0] 14 21 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr[0]_LC_76)
set_location DUT.fifo_tx_inst.rReadPtr[0] 14 21 1 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rReadPtr[0]_LC_76)
set_location DUT.fifo_tx_inst.rReadPtr_RNO[1] 14 21 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr[1]_LC_77)
set_location DUT.fifo_tx_inst.rReadPtr[1] 14 21 5 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rReadPtr[1]_LC_77)
set_location DUT.fifo_tx_inst.rWritePtr_RNIJLJC[1] 13 17 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIJLJC[1]_LC_78)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_0[1] 13 23 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A_0[1]_LC_79)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A[1] 12 20 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A[1]_LC_80)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_1[1] 14 22 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A_1[1]_LC_81)
set_location DUT.fifo_tx_inst.rWritePtr_RNO[0] 13 17 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr[0]_LC_82)
set_location DUT.fifo_tx_inst.rWritePtr[0] 13 17 2 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rWritePtr[0]_LC_82)
set_location DUT.fifo_tx_inst.rWritePtr_RNO[1] 13 17 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr[1]_LC_83)
set_location DUT.fifo_tx_inst.rWritePtr[1] 13 17 0 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rWritePtr[1]_LC_83)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO 13 19 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO_LC_84)
set_location DUT.rTransmit_RNO 16 19 6 # SB_LUT4 (LogicCell: DUT.rTransmit_LC_85)
set_location DUT.rTransmit 16 19 6 # SB_DFFSR (LogicCell: DUT.rTransmit_LC_85)
set_location DUT.uart_inst0.recv_state_RNI237O[0] 16 13 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNI237O[0]_LC_86)
set_location DUT.uart_inst0.recv_state_RNI8P9F[2] 15 17 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNI8P9F[2]_LC_87)
set_location DUT.uart_inst0.recv_state_RNIBTG71[2] 15 16 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNIBTG71[2]_LC_88)
set_location DUT.uart_inst0.recv_state_RNIHH651[0] 15 15 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNIHH651[0]_LC_89)
set_location DUT.uart_inst0.recv_state_RNIQJ1OI[2] 15 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNIQJ1OI[2]_LC_90)
set_location DUT.uart_inst0.recv_state_RNITN8GJ[2] 15 16 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNITN8GJ[2]_LC_91)
set_location DUT.uart_inst0.recv_state_RNO[0] 16 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[0]_LC_92)
set_location DUT.uart_inst0.recv_state[0] 16 14 7 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[0]_LC_92)
set_location DUT.uart_inst0.recv_state_RNO_0[0] 15 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[0]_LC_93)
set_location DUT.uart_inst0.recv_state_RNO_0[1] 15 16 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[1]_LC_94)
set_location DUT.uart_inst0.recv_state_RNO_0[2] 15 17 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[2]_LC_95)
set_location DUT.uart_inst0.recv_state_RNO_0[3] 15 17 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[3]_LC_96)
set_location DUT.uart_inst0.recv_state_RNO_0[4] 16 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[4]_LC_97)
set_location DUT.uart_inst0.recv_state_RNO_0[5] 16 15 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[5]_LC_98)
set_location DUT.uart_inst0.recv_state_RNO_0[6] 14 16 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[6]_LC_99)
set_location DUT.uart_inst0.recv_state_RNO[1] 15 16 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[1]_LC_100)
set_location DUT.uart_inst0.recv_state[1] 15 16 4 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[1]_LC_100)
set_location DUT.uart_inst0.recv_state_RNO_1[0] 16 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_1[0]_LC_101)
set_location DUT.uart_inst0.recv_state_RNO[2] 15 17 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[2]_LC_102)
set_location DUT.uart_inst0.recv_state[2] 15 17 5 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[2]_LC_102)
set_location DUT.uart_inst0.recv_state_RNO[3] 15 17 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[3]_LC_103)
set_location DUT.uart_inst0.recv_state[3] 15 17 7 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[3]_LC_103)
set_location DUT.uart_inst0.recv_state_RNO[4] 16 15 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[4]_LC_104)
set_location DUT.uart_inst0.recv_state[4] 16 15 4 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[4]_LC_104)
set_location DUT.uart_inst0.recv_state_RNO[5] 15 15 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[5]_LC_105)
set_location DUT.uart_inst0.recv_state[5] 15 15 6 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[5]_LC_105)
set_location DUT.uart_inst0.recv_state_RNO[6] 14 16 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[6]_LC_106)
set_location DUT.uart_inst0.recv_state[6] 14 16 7 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[6]_LC_106)
set_location DUT.uart_inst0.rx_bits_remaining_RNIT7PG[1] 15 15 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNIT7PG[1]_LC_107)
set_location DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3] 15 17 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3]_LC_108)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[0] 14 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[0]_LC_109)
set_location DUT.uart_inst0.rx_bits_remaining[0] 14 15 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_bits_remaining[0]_LC_109)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[1] 15 17 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[1]_LC_110)
set_location DUT.uart_inst0.rx_bits_remaining[1] 15 17 2 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[1]_LC_110)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[2] 15 16 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[2]_LC_111)
set_location DUT.uart_inst0.rx_bits_remaining[2] 15 16 7 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[2]_LC_111)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[3] 14 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[3]_LC_112)
set_location DUT.uart_inst0.rx_bits_remaining[3] 14 15 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_bits_remaining[3]_LC_112)
set_location DUT.uart_inst0.rx_clk_divider_RNI3ALC[17] 17 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI3ALC[17]_LC_113)
set_location DUT.uart_inst0.rx_clk_divider_RNI6B671[5] 16 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI6B671[5]_LC_114)
set_location DUT.uart_inst0.rx_clk_divider_RNI7H9R3[10] 16 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI7H9R3[10]_LC_115)
set_location DUT.uart_inst0.rx_clk_divider_RNIB99J[10] 17 14 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIB99J[10]_LC_116)
set_location DUT.uart_inst0.rx_clk_divider_RNIIDCT[2] 17 15 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIIDCT[2]_LC_117)
set_location DUT.uart_inst0.rx_clk_divider_RNIJI4K1[16] 17 15 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIJI4K1[16]_LC_118)
set_location DUT.uart_inst0.rx_clk_divider_RNIKU472[10] 16 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIKU472[10]_LC_119)
set_location DUT.uart_inst0.rx_clk_divider_RNO[0] 17 13 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[0]_LC_120)
set_location DUT.uart_inst0.rx_clk_divider[0] 17 13 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[0]_LC_120)
set_location DUT.uart_inst0.rx_clk_divider_RNO[1] 17 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[1]_LC_121)
set_location DUT.uart_inst0.rx_clk_divider[1] 17 14 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[1]_LC_121)
set_location DUT.uart_inst0.rx_clk_divider_RNO[10] 17 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[10]_LC_122)
set_location DUT.uart_inst0.rx_clk_divider[10] 17 14 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[10]_LC_122)
set_location DUT.uart_inst0.rx_clk_divider_RNO[11] 17 14 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[11]_LC_123)
set_location DUT.uart_inst0.rx_clk_divider[11] 17 14 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[11]_LC_123)
set_location DUT.uart_inst0.rx_clk_divider_RNO[12] 17 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[12]_LC_124)
set_location DUT.uart_inst0.rx_clk_divider[12] 17 14 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[12]_LC_124)
set_location DUT.uart_inst0.rx_clk_divider_RNO[13] 17 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[13]_LC_125)
set_location DUT.uart_inst0.rx_clk_divider[13] 17 15 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[13]_LC_125)
set_location DUT.uart_inst0.rx_clk_divider_RNO[14] 17 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[14]_LC_126)
set_location DUT.uart_inst0.rx_clk_divider[14] 17 15 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[14]_LC_126)
set_location DUT.uart_inst0.rx_clk_divider_RNO[15] 17 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[15]_LC_127)
set_location DUT.uart_inst0.rx_clk_divider[15] 17 15 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[15]_LC_127)
set_location DUT.uart_inst0.rx_clk_divider_RNO[16] 17 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[16]_LC_128)
set_location DUT.uart_inst0.rx_clk_divider[16] 17 14 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[16]_LC_128)
set_location DUT.uart_inst0.rx_clk_divider_RNO[17] 18 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[17]_LC_129)
set_location DUT.uart_inst0.rx_clk_divider[17] 18 15 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[17]_LC_129)
set_location DUT.uart_inst0.rx_clk_divider_RNO[2] 17 15 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[2]_LC_130)
set_location DUT.uart_inst0.rx_clk_divider[2] 17 15 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[2]_LC_130)
set_location DUT.uart_inst0.rx_clk_divider_RNO[3] 16 17 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[3]_LC_131)
set_location DUT.uart_inst0.rx_clk_divider[3] 16 17 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[3]_LC_131)
set_location DUT.uart_inst0.rx_clk_divider_RNO[4] 17 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[4]_LC_132)
set_location DUT.uart_inst0.rx_clk_divider[4] 17 14 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[4]_LC_132)
set_location DUT.uart_inst0.rx_clk_divider_RNO[5] 17 13 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[5]_LC_133)
set_location DUT.uart_inst0.rx_clk_divider[5] 17 13 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[5]_LC_133)
set_location DUT.uart_inst0.rx_clk_divider_RNO[6] 17 13 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[6]_LC_134)
set_location DUT.uart_inst0.rx_clk_divider[6] 17 13 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[6]_LC_134)
set_location DUT.uart_inst0.rx_clk_divider_RNO[7] 17 13 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[7]_LC_135)
set_location DUT.uart_inst0.rx_clk_divider[7] 17 13 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[7]_LC_135)
set_location DUT.uart_inst0.rx_clk_divider_RNO[8] 17 16 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[8]_LC_136)
set_location DUT.uart_inst0.rx_clk_divider[8] 17 16 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[8]_LC_136)
set_location DUT.uart_inst0.rx_clk_divider_RNO[9] 17 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[9]_LC_137)
set_location DUT.uart_inst0.rx_clk_divider[9] 17 14 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[9]_LC_137)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_s1_c_RNIKPDT 16 16 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_s1_c_RNIKPDT_LC_138)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_c 16 16 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_s1_c_RNIKPDT_LC_138)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_c_RNIIQN8I 15 16 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_s1_c_RNIIQN8I_LC_139)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_c_RNITG1J4 15 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_s1_c_RNITG1J4_LC_140)
set_location DUT.uart_inst0.rx_countdown_3_cry_2_s1_c_RNIO52I 16 16 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_2_s1_c_RNIO52I_LC_141)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_s1_c 16 16 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_2_s1_c_RNIO52I_LC_141)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_s1_c_RNIQBCS 16 16 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_s1_c_RNIQBCS_LC_142)
set_location DUT.uart_inst0.rx_countdown_3_cry_4_s1_c 16 16 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_s1_c_RNIQBCS_LC_142)
set_location DUT.uart_inst0.rx_countdown_3_cry_4_s1_c_RNISHMM 16 16 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_4_s1_c_RNISHMM_LC_143)
set_location DUT.uart_inst0.rx_countdown_RNI8UI86[3] 16 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNI8UI86[3]_LC_144)
set_location DUT.uart_inst0.rx_countdown_RNIDB3D7[0] 15 16 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNIDB3D7[0]_LC_145)
set_location DUT.uart_inst0.rx_countdown_RNIEMU42[5] 15 16 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNIEMU42[5]_LC_146)
set_location DUT.uart_inst0.rx_countdown_RNIFRQU[3] 16 17 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNIFRQU[3]_LC_147)
set_location DUT.uart_inst0.rx_countdown_RNO[0] 17 16 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[0]_LC_148)
set_location DUT.uart_inst0.rx_countdown[0] 17 16 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[0]_LC_148)
set_location DUT.uart_inst0.rx_countdown_RNO_0[1] 16 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_0[1]_LC_149)
set_location DUT.uart_inst0.rx_countdown_RNO_0[2] 15 17 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_0[2]_LC_150)
set_location DUT.uart_inst0.rx_countdown_RNO_0[3] 16 15 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_0[3]_LC_151)
set_location DUT.uart_inst0.rx_countdown_RNO[1] 16 17 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[1]_LC_152)
set_location DUT.uart_inst0.rx_countdown[1] 16 17 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[1]_LC_152)
set_location DUT.uart_inst0.rx_countdown_RNO_1[2] 15 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_1[2]_LC_153)
set_location DUT.uart_inst0.rx_countdown_RNO[2] 16 18 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[2]_LC_154)
set_location DUT.uart_inst0.rx_countdown[2] 16 18 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[2]_LC_154)
set_location DUT.uart_inst0.rx_countdown_RNO[3] 16 17 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[3]_LC_155)
set_location DUT.uart_inst0.rx_countdown[3] 16 17 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[3]_LC_155)
set_location DUT.uart_inst0.rx_countdown_RNO[4] 16 17 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[4]_LC_156)
set_location DUT.uart_inst0.rx_countdown[4] 16 17 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[4]_LC_156)
set_location DUT.uart_inst0.rx_countdown_RNO[5] 17 16 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[5]_LC_157)
set_location DUT.uart_inst0.rx_countdown[5] 17 16 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[5]_LC_157)
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK_0[3] 16 19 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNI6CFK_0[3]_LC_158)
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3] 16 18 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3]_LC_159)
set_location DUT.uart_inst0.tx_bits_remaining_RNIB46K[3] 17 21 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNIB46K[3]_LC_160)
set_location DUT.uart_inst0.tx_bits_remaining_RNICODU[1] 17 21 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNICODU[1]_LC_161)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[0] 17 18 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[0]_LC_162)
set_location DUT.uart_inst0.tx_bits_remaining[0] 17 18 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[0]_LC_162)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_0[2] 18 21 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_0[2]_LC_163)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_0[3] 18 21 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_0[3]_LC_164)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[1] 17 18 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_165)
set_location DUT.uart_inst0.tx_bits_remaining[1] 17 18 0 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_165)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_1[2] 16 18 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_1[2]_LC_166)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[2] 17 18 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_167)
set_location DUT.uart_inst0.tx_bits_remaining[2] 17 18 3 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_167)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_2[2] 16 18 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_2[2]_LC_168)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[3] 17 18 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[3]_LC_169)
set_location DUT.uart_inst0.tx_bits_remaining[3] 17 18 2 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_bits_remaining[3]_LC_169)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_3[2] 16 21 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_3[2]_LC_170)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_4[2] 15 18 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_4[2]_LC_171)
set_location DUT.uart_inst0.tx_clk_divider_RNI2V95[2] 17 19 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNI2V95[2]_LC_172)
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[13] 17 19 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[13]_LC_173)
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[8] 17 19 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[8]_LC_174)
set_location DUT.uart_inst0.tx_clk_divider_RNIBPK2[0] 16 18 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNIBPK2[0]_LC_175)
set_location DUT.uart_inst0.tx_clk_divider_RNITC2S1[0] 16 18 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNITC2S1[0]_LC_176)
set_location DUT.uart_inst0.tx_clk_divider_RNO[0] 16 16 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[0]_LC_177)
set_location DUT.uart_inst0.tx_clk_divider[0] 16 16 6 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[0]_LC_177)
set_location DUT.uart_inst0.tx_clk_divider_RNO[1] 18 19 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_178)
set_location DUT.uart_inst0.tx_clk_divider[1] 18 19 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_178)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[1] 18 19 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_178)
set_location DUT.uart_inst0.tx_clk_divider_RNO[10] 18 20 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_179)
set_location DUT.uart_inst0.tx_clk_divider[10] 18 20 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_179)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[10] 18 20 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_179)
set_location DUT.uart_inst0.tx_clk_divider_RNO[11] 18 20 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_180)
set_location DUT.uart_inst0.tx_clk_divider[11] 18 20 3 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_180)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[11] 18 20 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_180)
set_location DUT.uart_inst0.tx_clk_divider_RNO[12] 18 20 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_181)
set_location DUT.uart_inst0.tx_clk_divider[12] 18 20 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_181)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[12] 18 20 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_181)
set_location DUT.uart_inst0.tx_clk_divider_RNO[13] 18 20 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[13]_LC_182)
set_location DUT.uart_inst0.tx_clk_divider[13] 18 20 5 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[13]_LC_182)
set_location DUT.uart_inst0.tx_clk_divider_RNO[2] 18 19 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_183)
set_location DUT.uart_inst0.tx_clk_divider[2] 18 19 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_183)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[2] 18 19 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_183)
set_location DUT.uart_inst0.tx_clk_divider_RNO[3] 18 19 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_184)
set_location DUT.uart_inst0.tx_clk_divider[3] 18 19 3 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_184)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[3] 18 19 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_184)
set_location DUT.uart_inst0.tx_clk_divider_RNO[4] 18 19 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_185)
set_location DUT.uart_inst0.tx_clk_divider[4] 18 19 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_185)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[4] 18 19 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_185)
set_location DUT.uart_inst0.tx_clk_divider_RNO[5] 18 19 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_186)
set_location DUT.uart_inst0.tx_clk_divider[5] 18 19 5 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_186)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[5] 18 19 5 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_186)
set_location DUT.uart_inst0.tx_clk_divider_RNO[6] 18 19 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_187)
set_location DUT.uart_inst0.tx_clk_divider[6] 18 19 6 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_187)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[6] 18 19 6 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_187)
set_location DUT.uart_inst0.tx_clk_divider_RNO[7] 18 19 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_188)
set_location DUT.uart_inst0.tx_clk_divider[7] 18 19 7 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_188)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[7] 18 19 7 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_188)
set_location DUT.uart_inst0.tx_clk_divider_RNO[8] 18 20 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_189)
set_location DUT.uart_inst0.tx_clk_divider[8] 18 20 0 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_189)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[8] 18 20 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_189)
set_location DUT.uart_inst0.tx_clk_divider_RNO[9] 18 20 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_190)
set_location DUT.uart_inst0.tx_clk_divider[9] 18 20 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_190)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[9] 18 20 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_190)
set_location DUT.uart_inst0.tx_countdown_RNI18BH1[5] 16 19 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI18BH1[5]_LC_191)
set_location DUT.uart_inst0.tx_countdown_RNI1BIT5[0] 16 19 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI1BIT5[0]_LC_192)
set_location DUT.uart_inst0.tx_countdown_RNIBSRA4[4] 17 19 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIBSRA4[4]_LC_193)
set_location DUT.uart_inst0.tx_countdown_RNIHJJ88[5] 17 19 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIHJJ88[5]_LC_194)
set_location DUT.uart_inst0.tx_countdown_RNIJ3F33[3] 17 19 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIJ3F33[3]_LC_195)
set_location DUT.uart_inst0.tx_countdown_RNIP6303[4] 16 19 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIP6303[4]_LC_196)
set_location DUT.uart_inst0.tx_countdown_RNIUUGK1[3] 15 19 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIUUGK1[3]_LC_197)
set_location DUT.uart_inst0.tx_countdown_RNO[0] 15 19 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[0]_LC_198)
set_location DUT.uart_inst0.tx_countdown[0] 15 19 7 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[0]_LC_198)
set_location DUT.uart_inst0.tx_countdown_RNO_0[1] 15 19 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[1]_LC_199)
set_location DUT.uart_inst0.tx_countdown_RNO_0[2] 15 21 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[2]_LC_200)
set_location DUT.uart_inst0.tx_countdown_RNO_0[3] 15 19 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[3]_LC_201)
set_location DUT.uart_inst0.tx_countdown_RNO_0[4] 15 18 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[4]_LC_202)
set_location DUT.uart_inst0.tx_countdown_RNO_0[5] 16 20 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[5]_LC_203)
set_location DUT.uart_inst0.tx_countdown_RNO[1] 15 19 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[1]_LC_204)
set_location DUT.uart_inst0.tx_countdown[1] 15 19 6 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[1]_LC_204)
set_location DUT.uart_inst0.tx_countdown_RNO_1[3] 15 19 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_1[3]_LC_205)
set_location DUT.uart_inst0.tx_countdown_RNO_1[4] 15 18 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_1[4]_LC_206)
set_location DUT.uart_inst0.tx_countdown_RNO[2] 16 20 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[2]_LC_207)
set_location DUT.uart_inst0.tx_countdown[2] 16 20 7 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[2]_LC_207)
set_location DUT.uart_inst0.tx_countdown_RNO_2[3] 15 18 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_2[3]_LC_208)
set_location DUT.uart_inst0.tx_countdown_RNO[3] 15 19 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[3]_LC_209)
set_location DUT.uart_inst0.tx_countdown[3] 15 19 4 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[3]_LC_209)
set_location DUT.uart_inst0.tx_countdown_RNO_3[3] 15 18 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_3[3]_LC_210)
set_location DUT.uart_inst0.tx_countdown_RNO[4] 15 18 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[4]_LC_211)
set_location DUT.uart_inst0.tx_countdown[4] 15 18 1 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[4]_LC_211)
set_location DUT.uart_inst0.tx_countdown_RNO_4[3] 15 19 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_4[3]_LC_212)
set_location DUT.uart_inst0.tx_countdown_RNO[5] 16 20 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[5]_LC_213)
set_location DUT.uart_inst0.tx_countdown[5] 16 20 1 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[5]_LC_213)
set_location DUT.uart_inst0.tx_countdown_RNO_5[3] 17 21 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_5[3]_LC_214)
set_location DUT.uart_inst0.tx_data_RNO[0] 16 21 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[0]_LC_215)
set_location DUT.uart_inst0.tx_data[0] 16 21 5 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[0]_LC_215)
set_location DUT.uart_inst0.tx_data_RNO_0[0] 15 20 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[0]_LC_216)
set_location DUT.uart_inst0.tx_data_RNO_0[1] 16 21 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[1]_LC_217)
set_location DUT.uart_inst0.tx_data_RNO_0[2] 14 22 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[2]_LC_218)
set_location DUT.uart_inst0.tx_data_RNO_0[3] 17 20 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[3]_LC_219)
set_location DUT.uart_inst0.tx_data_RNO_0[4] 15 21 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[4]_LC_220)
set_location DUT.uart_inst0.tx_data_RNO_0[5] 16 21 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[5]_LC_221)
set_location DUT.uart_inst0.tx_data_RNO_0[6] 17 20 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[6]_LC_222)
set_location DUT.uart_inst0.tx_data_RNO_0[7] 15 23 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data_RNO_0[7]_LC_223)
set_location DUT.uart_inst0.tx_data_RNO[1] 16 21 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[1]_LC_224)
set_location DUT.uart_inst0.tx_data[1] 16 21 4 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[1]_LC_224)
set_location DUT.uart_inst0.tx_data_RNO[2] 15 21 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[2]_LC_225)
set_location DUT.uart_inst0.tx_data[2] 15 21 5 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[2]_LC_225)
set_location DUT.uart_inst0.tx_data_RNO[3] 17 20 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[3]_LC_226)
set_location DUT.uart_inst0.tx_data[3] 17 20 3 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[3]_LC_226)
set_location DUT.uart_inst0.tx_data_RNO[4] 15 20 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[4]_LC_227)
set_location DUT.uart_inst0.tx_data[4] 15 20 0 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[4]_LC_227)
set_location DUT.uart_inst0.tx_data_RNO[5] 16 21 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[5]_LC_228)
set_location DUT.uart_inst0.tx_data[5] 16 21 7 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[5]_LC_228)
set_location DUT.uart_inst0.tx_data_RNO[6] 17 20 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[6]_LC_229)
set_location DUT.uart_inst0.tx_data[6] 17 20 1 # SB_DFF (LogicCell: DUT.uart_inst0.tx_data[6]_LC_229)
set_location DUT.uart_inst0.tx_data_RNO[7] 16 23 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[7]_LC_230)
set_location DUT.uart_inst0.tx_data[7] 16 23 0 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[7]_LC_230)
set_location DUT.uart_inst0.tx_out_RNO 16 20 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_LC_231)
set_location DUT.uart_inst0.tx_out 16 20 6 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_out_LC_231)
set_location DUT.uart_inst0.tx_out_RNO_0 17 21 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_0_LC_232)
set_location DUT.uart_inst0.tx_out_RNO_1 16 20 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_1_LC_233)
set_location DUT.uart_inst0.tx_out_RNO_2 17 20 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_2_LC_234)
set_location DUT.uart_inst0.tx_out_RNO_3 15 20 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_3_LC_235)
set_location DUT.uart_inst0.tx_out_RNO_4 15 18 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_4_LC_236)
set_location DUT.uart_inst0.tx_out_RNO_5 17 20 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_5_LC_237)
set_location DUT.uart_inst0.tx_out_RNO_6 15 20 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_6_LC_238)
set_location DUT.uart_inst0.tx_state_RNI5H8K[0] 17 20 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI5H8K[0]_LC_239)
set_location DUT.uart_inst0.tx_state_RNO[0] 18 21 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state[0]_LC_240)
set_location DUT.uart_inst0.tx_state[0] 18 21 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_state[0]_LC_240)
set_location DUT.uart_inst0.tx_state_RNO_0[0] 17 21 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNO_0[0]_LC_241)
set_location DUT.uart_inst0.tx_state_esr_RNICLU7[1] 18 18 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_esr_RNICLU7[1]_LC_242)
set_location DUT.uart_inst0.tx_state_esr_RNIEJ9O2[1] 18 18 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_esr_RNIEJ9O2[1]_LC_243)
set_location DUT.uart_inst0.tx_state_esr_RNIH67S[1] 18 18 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_esr_RNIH67S[1]_LC_244)
set_location DUT.uart_inst0.tx_state_esr_RNILOSP[1] 18 18 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_esr_RNILOSP[1]_LC_245)
set_location DUT.uart_inst0.tx_state_esr_RNO[1] 18 18 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_esr_RNO[1]_LC_246)
set_location DUT.uart_inst0.wTxEn_1 15 11 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.wTxEn_1_LC_247)
set_location fifo_inst.ftdi_input_inst.SUM_0[2] 16 10 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.SUM_0[2]_LC_248)
set_location fifo_inst.ftdi_input_inst.SUM[2] 14 11 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.SUM[2]_LC_249)
set_location fifo_inst.ftdi_input_inst.SUM[3] 15 11 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.SUM[3]_LC_250)
set_location fifo_inst.ftdi_input_inst.oPacketAvail_latch 16 11 0 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.oPacketAvail_latch_LC_251)
set_location fifo_inst.ftdi_input_inst.oTxFull_0 15 11 2 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.oTxFull_0_LC_252)
set_location fifo_inst.ftdi_input_inst.rPacketCount15 15 11 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rPacketCount15_LC_253)
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[0] 15 11 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rPacketCount_latch[0]_LC_254)
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[1] 14 11 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rPacketCount_latch[1]_LC_255)
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[2] 14 11 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rPacketCount_latch[2]_LC_256)
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[3] 15 11 1 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rPacketCount_latch[3]_LC_257)
set_location fifo_inst.ftdi_input_inst.rRamWrAddr_latch[0] 16 10 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rRamWrAddr_latch[0]_LC_258)
set_location fifo_inst.ftdi_input_inst.rRamWrAddr_latch[1] 16 10 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rRamWrAddr_latch[1]_LC_259)
set_location fifo_inst.ftdi_input_inst.rRamWrAddr_latch[2] 16 10 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rRamWrAddr_latch[2]_LC_260)
set_location fifo_inst.ftdi_input_inst.rRamWrEn_latch 15 10 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rRamWrEn_latch_LC_261)
set_location fifo_inst.ftdi_input_inst.rWrState_latch[1] 15 10 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.rWrState_latch[1]_LC_262)
set_location fifo_inst.ftdi_input_inst.un1_rWrState_1 15 10 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.un1_rWrState_1_LC_263)
set_location fifo_inst.ftdi_input_inst.un2_oPacketAvail_i 15 11 0 # SB_LUT4 (LogicCell: fifo_inst.ftdi_input_inst.un2_oPacketAvail_i_LC_264)
set_location fifo_inst.ftdi_output_inst.oRamRdAddr_RNO[0] 18 16 0 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oRamRdAddr[0]_LC_265)
set_location fifo_inst.ftdi_output_inst.oRamRdAddr[0] 18 16 0 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.oRamRdAddr[0]_LC_265)
set_location fifo_inst.ftdi_output_inst.oRamRdAddr_RNO[1] 18 16 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oRamRdAddr[1]_LC_266)
set_location fifo_inst.ftdi_output_inst.oRamRdAddr[1] 18 16 7 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.oRamRdAddr[1]_LC_266)
set_location fifo_inst.ftdi_output_inst.oRamRdAddr_RNO[2] 18 16 1 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oRamRdAddr[2]_LC_267)
set_location fifo_inst.ftdi_output_inst.oRamRdAddr[2] 18 16 1 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.oRamRdAddr[2]_LC_267)
set_location fifo_inst.ftdi_output_inst.oRxFlag_RNO 14 18 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oRxFlag_LC_268)
set_location fifo_inst.ftdi_output_inst.oRxFlag 14 18 6 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.oRxFlag_LC_268)
set_location fifo_inst.ftdi_output_inst.oTx_n_RNO 14 17 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oTx_n_LC_269)
set_location fifo_inst.ftdi_output_inst.oTx_n 14 17 3 # SB_DFFSS (LogicCell: fifo_inst.ftdi_output_inst.oTx_n_LC_269)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIBT9K[4] 18 16 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNIBT9K[4]_LC_270)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[0] 17 17 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[0]_LC_271)
set_location fifo_inst.ftdi_output_inst.rFifoState[0] 17 17 7 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[0]_LC_271)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO_0[0] 17 17 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNO_0[0]_LC_272)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[1] 18 18 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[1]_LC_273)
set_location fifo_inst.ftdi_output_inst.rFifoState[1] 18 18 7 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[1]_LC_273)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[2] 17 17 2 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[2]_LC_274)
set_location fifo_inst.ftdi_output_inst.rFifoState[2] 17 17 2 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[2]_LC_274)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[3] 17 17 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[3]_LC_275)
set_location fifo_inst.ftdi_output_inst.rFifoState[3] 17 17 4 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[3]_LC_275)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[4] 17 17 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[4]_LC_276)
set_location fifo_inst.ftdi_output_inst.rFifoState[4] 17 17 5 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[4]_LC_276)
set_location fifo_inst.ftdi_output_inst.rRxF_n_RNIHPJ8[1] 17 17 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxF_n_RNIHPJ8[1]_LC_277)
set_location fifo_inst.ftdi_output_inst.rTxE_n_RNIJBK2[1] 17 17 0 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxE_n_RNIJBK2[1]_LC_278)
set_location fifo_inst.ftdi_output_inst.rWrDelay_RNO 14 17 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rWrDelay_LC_279)
set_location fifo_inst.ftdi_output_inst.rWrDelay 14 17 4 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rWrDelay_LC_279)
set_location oTx_n_c_sbtinv 12 18 3 # SB_LUT4 (LogicCell: oTx_n_c_sbtinv_LC_280)
set_location top_pll_inst.top_pll_inst_RNISDA2_0 12 20 4 # SB_LUT4 (LogicCell: top_pll_inst.top_pll_inst_RNISDA2_0_LC_281)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0_rRxRead_REP_LUT4_0 13 19 1 # SB_LUT4 (LogicCell: rRxRead_LC_282)
set_location rRxRead 13 19 1 # SB_DFFSR (LogicCell: rRxRead_LC_282)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 13 13 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0]_LC_283)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0] 13 13 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0]_LC_283)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 13 13 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1]_LC_284)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1] 13 13 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1]_LC_284)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 13 13 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2]_LC_285)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2] 13 13 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2]_LC_285)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 13 13 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3]_LC_286)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3] 13 13 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3]_LC_286)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 13 13 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4]_LC_287)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4] 13 13 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4]_LC_287)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 13 13 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5]_LC_288)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5] 13 13 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5]_LC_288)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 13 13 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6]_LC_289)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6] 13 13 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6]_LC_289)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 13 13 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7]_LC_290)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7] 13 13 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7]_LC_290)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 15 13 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0]_LC_291)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0] 15 13 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0]_LC_291)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 15 13 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1]_LC_292)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1] 15 13 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1]_LC_292)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 15 13 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2]_LC_293)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2] 15 13 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2]_LC_293)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 15 13 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3]_LC_294)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3] 15 13 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3]_LC_294)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 15 13 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4]_LC_295)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4] 15 13 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4]_LC_295)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 15 13 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5]_LC_296)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5] 15 13 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5]_LC_296)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 15 13 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6]_LC_297)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6] 15 13 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6]_LC_297)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 15 13 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7]_LC_298)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7] 15 13 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7]_LC_298)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 13 14 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0]_LC_299)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0] 13 14 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0]_LC_299)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 13 14 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1]_LC_300)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1] 13 14 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1]_LC_300)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 13 14 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2]_LC_301)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2] 13 14 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2]_LC_301)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 13 14 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3]_LC_302)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3] 13 14 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3]_LC_302)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 13 14 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4]_LC_303)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4] 13 14 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4]_LC_303)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 13 14 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5]_LC_304)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5] 13 14 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5]_LC_304)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 13 14 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6]_LC_305)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6] 13 14 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6]_LC_305)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 13 14 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7]_LC_306)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7] 13 14 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7]_LC_306)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 14 13 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0]_LC_307)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0] 14 13 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0]_LC_307)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 14 13 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1]_LC_308)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1] 14 13 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1]_LC_308)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 12 14 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2]_LC_309)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2] 12 14 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2]_LC_309)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 12 15 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3]_LC_310)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3] 12 15 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3]_LC_310)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 12 15 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4]_LC_311)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4] 12 15 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4]_LC_311)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 12 15 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5]_LC_312)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5] 12 15 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5]_LC_312)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 12 15 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6]_LC_313)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6] 12 15 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6]_LC_313)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 14 13 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7]_LC_314)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7] 14 13 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7]_LC_314)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 13 21 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0]_LC_315)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0] 13 21 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0]_LC_315)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 13 21 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1]_LC_316)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1] 13 21 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1]_LC_316)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 13 21 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2]_LC_317)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2] 13 21 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2]_LC_317)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 13 21 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3]_LC_318)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3] 13 21 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3]_LC_318)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 13 21 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4]_LC_319)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4] 13 21 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4]_LC_319)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 13 21 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5]_LC_320)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5] 13 21 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5]_LC_320)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 13 21 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6]_LC_321)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6] 13 21 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6]_LC_321)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 13 21 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7]_LC_322)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7] 13 21 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7]_LC_322)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 13 22 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0]_LC_323)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0] 13 22 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0]_LC_323)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 13 22 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1]_LC_324)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1] 13 22 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1]_LC_324)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 13 22 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2]_LC_325)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2] 13 22 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2]_LC_325)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 13 22 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3]_LC_326)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3] 13 22 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3]_LC_326)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 13 22 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4]_LC_327)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4] 13 22 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4]_LC_327)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 13 22 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5]_LC_328)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5] 13 22 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5]_LC_328)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 14 23 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6]_LC_329)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6] 14 23 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6]_LC_329)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 13 22 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7]_LC_330)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7] 13 22 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7]_LC_330)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 16 22 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0]_LC_331)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0] 16 22 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0]_LC_331)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 16 22 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1]_LC_332)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1] 16 22 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1]_LC_332)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 12 22 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2]_LC_333)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2] 12 22 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2]_LC_333)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 17 22 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3]_LC_334)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3] 17 22 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3]_LC_334)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 12 22 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4]_LC_335)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4] 12 22 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4]_LC_335)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 12 21 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5]_LC_336)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5] 12 21 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5]_LC_336)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 16 22 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6]_LC_337)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6] 16 22 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6]_LC_337)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 12 22 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7]_LC_338)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7] 12 22 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7]_LC_338)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 15 22 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0]_LC_339)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0] 15 22 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0]_LC_339)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 15 22 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1]_LC_340)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1] 15 22 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1]_LC_340)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 15 22 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2]_LC_341)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2] 15 22 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2]_LC_341)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 15 22 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3]_LC_342)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3] 15 22 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3]_LC_342)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 15 22 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4]_LC_343)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4] 15 22 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4]_LC_343)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 15 22 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5]_LC_344)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5] 15 22 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5]_LC_344)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 15 22 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6]_LC_345)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6] 15 22 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6]_LC_345)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 15 22 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7]_LC_346)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7] 15 22 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7]_LC_346)
set_location DUT.uart_inst0.rx_data_0_THRU_LUT4_0 15 14 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[0]_LC_347)
set_location DUT.uart_inst0.rx_data[0] 15 14 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[0]_LC_347)
set_location DUT.uart_inst0.rx_data_1_THRU_LUT4_0 15 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[1]_LC_348)
set_location DUT.uart_inst0.rx_data[1] 15 14 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[1]_LC_348)
set_location DUT.uart_inst0.rx_data_2_THRU_LUT4_0 15 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[2]_LC_349)
set_location DUT.uart_inst0.rx_data[2] 15 14 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[2]_LC_349)
set_location DUT.uart_inst0.rx_data_3_THRU_LUT4_0 15 14 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[3]_LC_350)
set_location DUT.uart_inst0.rx_data[3] 15 14 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[3]_LC_350)
set_location DUT.uart_inst0.rx_data_4_THRU_LUT4_0 15 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[4]_LC_351)
set_location DUT.uart_inst0.rx_data[4] 15 14 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[4]_LC_351)
set_location DUT.uart_inst0.rx_data_5_THRU_LUT4_0 15 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[5]_LC_352)
set_location DUT.uart_inst0.rx_data[5] 15 14 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[5]_LC_352)
set_location DUT.uart_inst0.rx_data_6_THRU_LUT4_0 15 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[6]_LC_353)
set_location DUT.uart_inst0.rx_data[6] 15 14 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[6]_LC_353)
set_location DUT.uart_inst0.rx_data_7_THRU_LUT4_0 15 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[7]_LC_354)
set_location DUT.uart_inst0.rx_data[7] 15 14 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[7]_LC_354)
set_location DUT.uart_inst0.tx_bits_remaining_RNICODU_1_DUT.uart_inst0.tx_state_esr_1_REP_LUT4_0 18 17 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_esr[1]_LC_355)
set_location DUT.uart_inst0.tx_state_esr[1] 18 17 2 # SB_DFFESR (LogicCell: DUT.uart_inst0.tx_state_esr[1]_LC_355)
set_location fifo_inst.ftdi_output_inst.rRxF_n_0_THRU_LUT4_0 18 23 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxF_n[0]_LC_356)
set_location fifo_inst.ftdi_output_inst.rRxF_n[0] 18 23 4 # SB_DFFE (LogicCell: fifo_inst.ftdi_output_inst.rRxF_n[0]_LC_356)
set_location fifo_inst.ftdi_output_inst.rRxF_n_1_THRU_LUT4_0 17 16 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxF_n[1]_LC_357)
set_location fifo_inst.ftdi_output_inst.rRxF_n[1] 17 16 6 # SB_DFFE (LogicCell: fifo_inst.ftdi_output_inst.rRxF_n[1]_LC_357)
set_location fifo_inst.ftdi_output_inst.rTxE_n_0_THRU_LUT4_0 17 24 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxE_n[0]_LC_358)
set_location fifo_inst.ftdi_output_inst.rTxE_n[0] 17 24 3 # SB_DFFE (LogicCell: fifo_inst.ftdi_output_inst.rTxE_n[0]_LC_358)
set_location fifo_inst.ftdi_output_inst.rTxE_n_1_THRU_LUT4_0 17 23 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxE_n[1]_LC_359)
set_location fifo_inst.ftdi_output_inst.rTxE_n[1] 17 23 6 # SB_DFFE (LogicCell: fifo_inst.ftdi_output_inst.rTxE_n[1]_LC_359)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0 18 13 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0_LC_360)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_c 18 13 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0_LC_360)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0 18 14 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0_LC_361)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_c 18 14 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0_LC_361)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0 18 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0_LC_362)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_c 18 14 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0_LC_362)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0 18 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0_LC_363)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_c 18 14 5 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0_LC_363)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0 18 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0_LC_364)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_c 18 14 6 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0_LC_364)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0 18 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0_LC_365)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_c 18 14 7 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0_LC_365)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0 18 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0_LC_366)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_16_c 18 15 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0_LC_366)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0 18 13 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0_LC_367)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_2_c 18 13 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0_LC_367)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_2_THRU_LUT4_0 18 13 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_2_THRU_LUT4_0_LC_368)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_c 18 13 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_2_THRU_LUT4_0_LC_368)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0 18 13 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0_LC_369)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_4_c 18 13 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0_LC_369)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_4_THRU_LUT4_0 18 13 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_4_THRU_LUT4_0_LC_370)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_5_c 18 13 5 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_4_THRU_LUT4_0_LC_370)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_5_THRU_LUT4_0 18 13 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_5_THRU_LUT4_0_LC_371)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_c 18 13 6 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_5_THRU_LUT4_0_LC_371)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0 18 13 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0_LC_372)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_c 18 13 7 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0_LC_372)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0 18 14 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0_LC_373)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_c 18 14 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0_LC_373)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0 18 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0_LC_374)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_c 18 14 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0_LC_374)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0 18 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0_LC_375)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_c 18 14 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0_LC_375)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_THRU_LUT4_0 16 16 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_s1_THRU_LUT4_0_LC_376)
set_location DUT.uart_inst0.rx_countdown_3_cry_2_s1_c 16 16 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_s1_THRU_LUT4_0_LC_376)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c 14 19 0 # SB_CARRY (LogicCell: DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_LC_377)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_c 18 13 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_c_LC_378)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_s1_c 16 16 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_s1_c_LC_379)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[0] 18 19 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider_cry_c[0]_LC_380)
set_location PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0 1 30 0 # SB_LUT4 (LogicCell: LC_PLL_PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK)
set_io BTN_N_ibuf 16 0 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io P1A1_ibuf 9 0 0 # ICE_IO
set_io P1A2_obuf 8 31 0 # ICE_IO
set_io P1A3_obuf 16 31 0 # ICE_IO
set_io P1A7_obuf 9 0 1 # ICE_IO
set_io P1A8_obuft 7 0 0 # ICE_IO
set_io P1A9_obuft 5 0 0 # ICE_IO
set_location fifo_inst.ftdi_input_inst.ram512x8_inst 19 9 0 # SB_RAM40_4K
set_io iRxF_n_ibuf 18 31 0 # ICE_IO
set_io iTxE_n_ibuf 18 31 1 # ICE_IO
set_io ioFifoData_obuft[0] 13 0 1 # ICE_IO
set_io ioFifoData_obuft[1] 15 0 0 # ICE_IO
set_io ioFifoData_obuft[2] 22 0 1 # ICE_IO
set_io ioFifoData_obuft[3] 21 0 1 # ICE_IO
set_io ioFifoData_obuft[4] 19 0 1 # ICE_IO
set_io ioFifoData_obuft[5] 18 0 1 # ICE_IO
set_io ioFifoData_obuft[6] 19 31 0 # ICE_IO
set_io ioFifoData_obuft[7] 19 31 1 # ICE_IO
set_io oRx_n_obuf 17 0 0 # ICE_IO
set_io oTx_n_obuf 13 31 0 # ICE_IO
set_location top_pll_inst.top_pll_inst 12 31 1 # SB_PLL40_PAD
set_io top_pll_inst.top_pll_inst_RNISDA2 12 0 1 # ICE_GB
set_io top_pll_inst.top_pll_inst_RNISDA2_1 12 31 1 # ICE_GB
set_location CONSTANT_ONE_LUT4 18 18 0 # SB_LUT4 (LogicCell: LC_382)
