set_location DUT.fifo_rx_inst.rFifoCount_RNI250E6[0] 14 17 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNI250E6[0]_LC_0)
set_location DUT.fifo_rx_inst.rFifoCount_RNI9EGD1[0] 11 16 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNI9EGD1[0]_LC_1)
set_location DUT.fifo_rx_inst.rFifoCount_RNICMVR[2] 11 17 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNICMVR[2]_LC_2)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0] 11 16 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0]_LC_3)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0[0] 14 17 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0[0]_LC_4)
set_location DUT.fifo_rx_inst.rFifoCount_RNIK3G92[1] 11 16 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIK3G92[1]_LC_5)
set_location DUT.fifo_rx_inst.rFifoCount_RNIPTFQ1[0] 11 16 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIPTFQ1[0]_LC_6)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[0] 11 17 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[0]_LC_7)
set_location DUT.fifo_rx_inst.rFifoCount[0] 11 17 3 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[0]_LC_7)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[1] 10 16 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_8)
set_location DUT.fifo_rx_inst.rFifoCount[1] 10 16 1 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_8)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_1_c 10 16 1 # SB_CARRY (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_8)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[2] 10 16 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[2]_LC_9)
set_location DUT.fifo_rx_inst.rFifoCount[2] 10 16 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[2]_LC_9)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0] 15 17 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0]_LC_10)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1] 13 18 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1]_LC_11)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2] 14 17 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2]_LC_12)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3] 14 19 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3]_LC_13)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4] 14 19 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4]_LC_14)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5] 14 19 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5]_LC_15)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6] 13 18 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6]_LC_16)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7] 13 18 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7]_LC_17)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI1BK22[7] 15 17 2 # SB_LUT4 (LogicCell: rTxByte_esr[7]_LC_18)
set_location rTxByte_esr[7] 15 17 2 # SB_DFFESR (LogicCell: rTxByte_esr[7]_LC_18)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI5EJ22[0] 15 17 1 # SB_LUT4 (LogicCell: rTxByte_esr[0]_LC_19)
set_location rTxByte_esr[0] 15 17 1 # SB_DFFESR (LogicCell: rTxByte_esr[0]_LC_19)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9IJ22[1] 15 17 4 # SB_LUT4 (LogicCell: rTxByte_esr[1]_LC_20)
set_location rTxByte_esr[1] 15 17 4 # SB_DFFESR (LogicCell: rTxByte_esr[1]_LC_20)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIDMJ22[2] 15 17 6 # SB_LUT4 (LogicCell: rTxByte_esr[2]_LC_21)
set_location rTxByte_esr[2] 15 17 6 # SB_DFFESR (LogicCell: rTxByte_esr[2]_LC_21)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIHQJ22[3] 14 19 5 # SB_LUT4 (LogicCell: rTxByte_esr[3]_LC_22)
set_location rTxByte_esr[3] 14 19 5 # SB_DFFESR (LogicCell: rTxByte_esr[3]_LC_22)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILUJ22[4] 14 19 2 # SB_LUT4 (LogicCell: rTxByte_esr[4]_LC_23)
set_location rTxByte_esr[4] 14 19 2 # SB_DFFESR (LogicCell: rTxByte_esr[4]_LC_23)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIP2K22[5] 14 19 0 # SB_LUT4 (LogicCell: rTxByte_esr[5]_LC_24)
set_location rTxByte_esr[5] 14 19 0 # SB_DFFESR (LogicCell: rTxByte_esr[5]_LC_24)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIT6K22[6] 14 19 6 # SB_LUT4 (LogicCell: rTxByte_esr[6]_LC_25)
set_location rTxByte_esr[6] 14 19 6 # SB_DFFESR (LogicCell: rTxByte_esr[6]_LC_25)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1 13 17 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1_LC_26)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNIHJV05 14 17 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_RNIHJV05_LC_27)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNO 13 17 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_LC_28)
set_location DUT.fifo_rx_inst.rFifoDatarff_0 13 17 1 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_LC_28)
set_location DUT.fifo_rx_inst.rFifoDatarff_1_RNO 13 17 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_1_LC_29)
set_location DUT.fifo_rx_inst.rFifoDatarff_1 13 17 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_1_LC_29)
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1 14 17 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1_LC_30)
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNO 15 16 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_LC_31)
set_location DUT.fifo_rx_inst.rFifoDatarff_2 15 16 6 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_LC_31)
set_location DUT.fifo_rx_inst.rFifoDatarff_3_RNO 15 16 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_3_LC_32)
set_location DUT.fifo_rx_inst.rFifoDatarff_3 15 16 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_3_LC_32)
set_location DUT.fifo_rx_inst.rReadPtr_RNI4NC92[0] 12 17 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr_RNI4NC92[0]_LC_33)
set_location DUT.fifo_rx_inst.rReadPtr_RNO[0] 12 17 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr[0]_LC_34)
set_location DUT.fifo_rx_inst.rReadPtr[0] 12 17 3 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rReadPtr[0]_LC_34)
set_location DUT.fifo_rx_inst.rReadPtr_RNO[1] 12 17 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr[1]_LC_35)
set_location DUT.fifo_rx_inst.rReadPtr[1] 12 17 0 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rReadPtr[1]_LC_35)
set_location DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1] 10 17 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1]_LC_36)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1] 12 17 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1]_LC_37)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91[1] 12 17 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91[1]_LC_38)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1] 12 17 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1]_LC_39)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1] 10 17 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1]_LC_40)
set_location DUT.fifo_rx_inst.rWritePtr_RNO[0] 10 17 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr[0]_LC_41)
set_location DUT.fifo_rx_inst.rWritePtr[0] 10 17 3 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rWritePtr[0]_LC_41)
set_location DUT.fifo_rx_inst.rWritePtr_RNO[1] 10 17 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr[1]_LC_42)
set_location DUT.fifo_rx_inst.rWritePtr[1] 10 17 6 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rWritePtr[1]_LC_42)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_RNO 11 16 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_RNO_LC_43)
set_location DUT.fifo_tx_inst.rFifoCount_RNIBPFM[1] 18 17 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIBPFM[1]_LC_44)
set_location DUT.fifo_tx_inst.rFifoCount_RNIEBIJ[0] 18 17 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIEBIJ[0]_LC_45)
set_location DUT.fifo_tx_inst.rFifoCount_RNIMBD3[2] 18 17 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIMBD3[2]_LC_46)
set_location DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0] 18 17 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0]_LC_47)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[0] 18 18 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[0]_LC_48)
set_location DUT.fifo_tx_inst.rFifoCount[0] 18 18 5 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[0]_LC_48)
set_location DUT.fifo_tx_inst.rFifoCount_RNO_0[2] 18 17 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNO_0[2]_LC_49)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[1] 20 17 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_50)
set_location DUT.fifo_tx_inst.rFifoCount[1] 20 17 1 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_50)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_1_c 20 17 1 # SB_CARRY (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_50)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[2] 20 17 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[2]_LC_51)
set_location DUT.fifo_tx_inst.rFifoCount[2] 20 17 2 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[2]_LC_51)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4] 16 15 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4]_LC_52)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5] 17 14 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5]_LC_53)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6] 16 15 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6]_LC_54)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7] 18 13 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7]_LC_55)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0] 18 15 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0]_LC_56)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1] 17 14 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1]_LC_57)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2] 18 15 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2]_LC_58)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3] 17 13 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3]_LC_59)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4] 16 15 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4]_LC_60)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5] 17 14 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5]_LC_61)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6] 16 15 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6]_LC_62)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7] 17 13 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7]_LC_63)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0] 17 14 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0]_LC_64)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1] 17 14 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1]_LC_65)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2] 18 15 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2]_LC_66)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3] 17 13 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3]_LC_67)
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNIJBAM 17 14 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_RNIJBAM_LC_68)
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNO 14 16 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_LC_69)
set_location DUT.fifo_tx_inst.rFifoDatarff_0 14 16 4 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_LC_69)
set_location DUT.fifo_tx_inst.rFifoDatarff_1_RNO 17 16 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_1_LC_70)
set_location DUT.fifo_tx_inst.rFifoDatarff_1 17 16 3 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_1_LC_70)
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE 17 14 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE_LC_71)
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNO 17 16 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_LC_72)
set_location DUT.fifo_tx_inst.rFifoDatarff_2 17 16 6 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_LC_72)
set_location DUT.fifo_tx_inst.rFifoDatarff_3_RNO 21 15 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_3_LC_73)
set_location DUT.fifo_tx_inst.rFifoDatarff_3 21 15 5 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_3_LC_73)
set_location DUT.fifo_tx_inst.rReadPtr_RNILV421[1] 18 13 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr_RNILV421[1]_LC_74)
set_location DUT.fifo_tx_inst.rReadPtr_RNINFEP[0] 18 13 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr_RNINFEP[0]_LC_75)
set_location DUT.fifo_tx_inst.rReadPtr_RNO[0] 18 13 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr[0]_LC_76)
set_location DUT.fifo_tx_inst.rReadPtr[0] 18 13 3 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rReadPtr[0]_LC_76)
set_location DUT.fifo_tx_inst.rReadPtr_RNO[1] 18 13 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr[1]_LC_77)
set_location DUT.fifo_tx_inst.rReadPtr[1] 18 13 7 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rReadPtr[1]_LC_77)
set_location DUT.fifo_tx_inst.rWritePtr_RNIJLJC[1] 17 17 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIJLJC[1]_LC_78)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_0[1] 17 17 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A_0[1]_LC_79)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A[1] 17 16 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A[1]_LC_80)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_1[1] 17 16 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A_1[1]_LC_81)
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_2[1] 17 17 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNIN79A_2[1]_LC_82)
set_location DUT.fifo_tx_inst.rWritePtr_RNO[0] 17 17 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr[0]_LC_83)
set_location DUT.fifo_tx_inst.rWritePtr[0] 17 17 3 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rWritePtr[0]_LC_83)
set_location DUT.fifo_tx_inst.rWritePtr_RNO[1] 17 17 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr[1]_LC_84)
set_location DUT.fifo_tx_inst.rWritePtr[1] 17 17 0 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rWritePtr[1]_LC_84)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO 18 17 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO_LC_85)
set_location DUT.rTransmit_RNO 14 11 5 # SB_LUT4 (LogicCell: DUT.rTransmit_LC_86)
set_location DUT.rTransmit 14 11 5 # SB_DFFSR (LogicCell: DUT.rTransmit_LC_86)
set_location DUT.uart_inst0.recv_state_RNI237O[0] 11 14 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNI237O[0]_LC_87)
set_location DUT.uart_inst0.recv_state_RNIPAH9U[2] 13 13 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNIPAH9U[2]_LC_88)
set_location DUT.uart_inst0.recv_state_RNO[0] 11 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[0]_LC_89)
set_location DUT.uart_inst0.recv_state[0] 11 14 5 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[0]_LC_89)
set_location DUT.uart_inst0.recv_state_RNO_0[0] 11 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[0]_LC_90)
set_location DUT.uart_inst0.recv_state_RNO_0[2] 13 16 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[2]_LC_91)
set_location DUT.uart_inst0.recv_state_RNO_0[3] 11 15 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[3]_LC_92)
set_location DUT.uart_inst0.recv_state_RNO_0[5] 11 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[5]_LC_93)
set_location DUT.uart_inst0.recv_state_RNO[1] 12 13 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[1]_LC_94)
set_location DUT.uart_inst0.recv_state[1] 12 13 7 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[1]_LC_94)
set_location DUT.uart_inst0.recv_state_RNO[2] 13 16 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[2]_LC_95)
set_location DUT.uart_inst0.recv_state[2] 13 16 4 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[2]_LC_95)
set_location DUT.uart_inst0.recv_state_RNO[3] 11 15 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[3]_LC_96)
set_location DUT.uart_inst0.recv_state[3] 11 15 6 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[3]_LC_96)
set_location DUT.uart_inst0.recv_state_RNO[4] 11 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[4]_LC_97)
set_location DUT.uart_inst0.recv_state[4] 11 14 1 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[4]_LC_97)
set_location DUT.uart_inst0.recv_state_RNO[5] 10 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[5]_LC_98)
set_location DUT.uart_inst0.recv_state[5] 10 14 7 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[5]_LC_98)
set_location DUT.uart_inst0.recv_state_RNO[6] 11 15 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[6]_LC_99)
set_location DUT.uart_inst0.recv_state[6] 11 15 4 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[6]_LC_99)
set_location DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3] 12 16 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3]_LC_100)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[0] 13 16 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[0]_LC_101)
set_location DUT.uart_inst0.rx_bits_remaining[0] 13 16 2 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[0]_LC_101)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[0] 13 16 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[0]_LC_102)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[1] 12 17 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[1]_LC_103)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[2] 12 16 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[2]_LC_104)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[3] 12 16 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[3]_LC_105)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[1] 12 16 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[1]_LC_106)
set_location DUT.uart_inst0.rx_bits_remaining[1] 12 16 4 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[1]_LC_106)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[1] 12 17 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_1[1]_LC_107)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[2] 12 16 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_1[2]_LC_108)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[3] 12 16 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_1[3]_LC_109)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[2] 12 16 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[2]_LC_110)
set_location DUT.uart_inst0.rx_bits_remaining[2] 12 16 7 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[2]_LC_110)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_2[3] 13 16 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_2[3]_LC_111)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[3] 12 16 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[3]_LC_112)
set_location DUT.uart_inst0.rx_bits_remaining[3] 12 16 3 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[3]_LC_112)
set_location DUT.uart_inst0.rx_clk_divider_RNI3ALC[17] 12 11 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI3ALC[17]_LC_113)
set_location DUT.uart_inst0.rx_clk_divider_RNIB99J[10] 10 11 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIB99J[10]_LC_114)
set_location DUT.uart_inst0.rx_clk_divider_RNIHKFQ1[5] 10 11 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIHKFQ1[5]_LC_115)
set_location DUT.uart_inst0.rx_clk_divider_RNIL7JJ[7] 10 11 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIL7JJ[7]_LC_116)
set_location DUT.uart_inst0.rx_clk_divider_RNIMQ571[1] 12 11 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIMQ571[1]_LC_117)
set_location DUT.uart_inst0.rx_clk_divider_RNIMSP02[16] 12 11 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIMSP02[16]_LC_118)
set_location DUT.uart_inst0.rx_clk_divider_RNO[0] 12 10 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[0]_LC_119)
set_location DUT.uart_inst0.rx_clk_divider[0] 12 10 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[0]_LC_119)
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[3] 11 11 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[3]_LC_120)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_c 11 11 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[3]_LC_120)
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[5] 11 11 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[5]_LC_121)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_5_c 11 11 5 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[5]_LC_121)
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[6] 11 11 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[6]_LC_122)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_c 11 11 6 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[6]_LC_122)
set_location DUT.uart_inst0.rx_clk_divider_RNO[1] 11 10 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[1]_LC_123)
set_location DUT.uart_inst0.rx_clk_divider[1] 11 10 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[1]_LC_123)
set_location DUT.uart_inst0.rx_clk_divider_RNO[10] 10 12 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[10]_LC_124)
set_location DUT.uart_inst0.rx_clk_divider[10] 10 12 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[10]_LC_124)
set_location DUT.uart_inst0.rx_clk_divider_RNO[11] 10 12 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[11]_LC_125)
set_location DUT.uart_inst0.rx_clk_divider[11] 10 12 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[11]_LC_125)
set_location DUT.uart_inst0.rx_clk_divider_RNO[12] 10 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[12]_LC_126)
set_location DUT.uart_inst0.rx_clk_divider[12] 10 12 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[12]_LC_126)
set_location DUT.uart_inst0.rx_clk_divider_RNO[13] 12 12 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[13]_LC_127)
set_location DUT.uart_inst0.rx_clk_divider[13] 12 12 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[13]_LC_127)
set_location DUT.uart_inst0.rx_clk_divider_RNO[14] 12 12 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[14]_LC_128)
set_location DUT.uart_inst0.rx_clk_divider[14] 12 12 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[14]_LC_128)
set_location DUT.uart_inst0.rx_clk_divider_RNO[15] 12 12 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[15]_LC_129)
set_location DUT.uart_inst0.rx_clk_divider[15] 12 12 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[15]_LC_129)
set_location DUT.uart_inst0.rx_clk_divider_RNO[16] 12 12 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[16]_LC_130)
set_location DUT.uart_inst0.rx_clk_divider[16] 12 12 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[16]_LC_130)
set_location DUT.uart_inst0.rx_clk_divider_RNO[17] 11 13 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[17]_LC_131)
set_location DUT.uart_inst0.rx_clk_divider[17] 11 13 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[17]_LC_131)
set_location DUT.uart_inst0.rx_clk_divider_RNO[2] 11 10 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[2]_LC_132)
set_location DUT.uart_inst0.rx_clk_divider[2] 11 10 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[2]_LC_132)
set_location DUT.uart_inst0.rx_clk_divider_RNO[3] 11 10 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[3]_LC_133)
set_location DUT.uart_inst0.rx_clk_divider[3] 11 10 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[3]_LC_133)
set_location DUT.uart_inst0.rx_clk_divider_RNO[4] 15 11 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[4]_LC_134)
set_location DUT.uart_inst0.rx_clk_divider[4] 15 11 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[4]_LC_134)
set_location DUT.uart_inst0.rx_clk_divider_RNO[5] 13 11 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[5]_LC_135)
set_location DUT.uart_inst0.rx_clk_divider[5] 13 11 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[5]_LC_135)
set_location DUT.uart_inst0.rx_clk_divider_RNO[6] 13 11 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[6]_LC_136)
set_location DUT.uart_inst0.rx_clk_divider[6] 13 11 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[6]_LC_136)
set_location DUT.uart_inst0.rx_clk_divider_RNO[7] 10 12 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[7]_LC_137)
set_location DUT.uart_inst0.rx_clk_divider[7] 10 12 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[7]_LC_137)
set_location DUT.uart_inst0.rx_clk_divider_RNO[8] 10 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[8]_LC_138)
set_location DUT.uart_inst0.rx_clk_divider[8] 10 12 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[8]_LC_138)
set_location DUT.uart_inst0.rx_clk_divider_RNO[9] 10 12 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[9]_LC_139)
set_location DUT.uart_inst0.rx_clk_divider[9] 10 12 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[9]_LC_139)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_c_RNITO365 13 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_c_RNITO365_LC_140)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c 13 12 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_c_RNITO365_LC_140)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_c_RNO 12 11 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_c_RNO_LC_141)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI0T465 13 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI0T465_LC_142)
set_location DUT.uart_inst0.rx_countdown_3_cry_2_c 13 12 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI0T465_LC_142)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI93IIF 13 13 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI93IIF_LC_143)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c_RNIHH7QT 12 13 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_c_RNIHH7QT_LC_144)
set_location DUT.uart_inst0.rx_countdown_3_cry_2_c_RNI31665 13 12 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_2_c_RNI31665_LC_145)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_c 13 12 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_2_c_RNI31665_LC_145)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_c_RNI65765 13 12 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_c_RNI65765_LC_146)
set_location DUT.uart_inst0.rx_countdown_3_cry_4_c 13 12 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_c_RNI65765_LC_146)
set_location DUT.uart_inst0.rx_countdown_3_cry_4_c_RNI0QQM4 13 12 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_4_c_RNI0QQM4_LC_147)
set_location DUT.uart_inst0.rx_countdown_RNI8EL7E[0] 12 13 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNI8EL7E[0]_LC_148)
set_location DUT.uart_inst0.rx_countdown_RNI8KQG9[0] 12 13 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNI8KQG9[0]_LC_149)
set_location DUT.uart_inst0.rx_countdown_RNICSMA4[1] 12 11 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNICSMA4[1]_LC_150)
set_location DUT.uart_inst0.rx_countdown_RNIDTMA4[2] 13 13 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNIDTMA4[2]_LC_151)
set_location DUT.uart_inst0.rx_countdown_RNIEUMA4[3] 13 11 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNIEUMA4[3]_LC_152)
set_location DUT.uart_inst0.rx_countdown_RNIFVMA4[4] 13 12 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNIFVMA4[4]_LC_153)
set_location DUT.uart_inst0.rx_countdown_RNO[0] 12 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[0]_LC_154)
set_location DUT.uart_inst0.rx_countdown[0] 12 12 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[0]_LC_154)
set_location DUT.uart_inst0.rx_countdown_RNO_0[0] 12 13 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_0[0]_LC_155)
set_location DUT.uart_inst0.rx_countdown_RNO_0[2] 12 13 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_0[2]_LC_156)
set_location DUT.uart_inst0.rx_countdown_RNO[1] 12 12 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[1]_LC_157)
set_location DUT.uart_inst0.rx_countdown[1] 12 12 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[1]_LC_157)
set_location DUT.uart_inst0.rx_countdown_RNO_1[2] 12 13 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_1[2]_LC_158)
set_location DUT.uart_inst0.rx_countdown_RNO[2] 13 13 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[2]_LC_159)
set_location DUT.uart_inst0.rx_countdown[2] 13 13 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[2]_LC_159)
set_location DUT.uart_inst0.rx_countdown_RNO[3] 13 11 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[3]_LC_160)
set_location DUT.uart_inst0.rx_countdown[3] 13 11 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[3]_LC_160)
set_location DUT.uart_inst0.rx_countdown_RNO[4] 13 11 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[4]_LC_161)
set_location DUT.uart_inst0.rx_countdown[4] 13 11 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[4]_LC_161)
set_location DUT.uart_inst0.rx_countdown_RNO[5] 12 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[5]_LC_162)
set_location DUT.uart_inst0.rx_countdown[5] 12 12 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[5]_LC_162)
set_location DUT.uart_inst0.tx_bits_remaining_RNI5UON8[3] 14 12 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNI5UON8[3]_LC_163)
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3] 15 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3]_LC_164)
set_location DUT.uart_inst0.tx_bits_remaining_RNIAIE4L[1] 15 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNIAIE4L[1]_LC_165)
set_location DUT.uart_inst0.tx_bits_remaining_RNIBJE4L[2] 15 15 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNIBJE4L[2]_LC_166)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[0] 15 13 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[0]_LC_167)
set_location DUT.uart_inst0.tx_bits_remaining[0] 15 13 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[0]_LC_167)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_0[3] 14 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_0[3]_LC_168)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[1] 14 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_169)
set_location DUT.uart_inst0.tx_bits_remaining[1] 14 15 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_169)
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_1_c 14 15 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_169)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_1[3] 15 15 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_1[3]_LC_170)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[2] 14 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_171)
set_location DUT.uart_inst0.tx_bits_remaining[2] 14 15 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_171)
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_2_c 14 15 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_171)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[3] 15 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[3]_LC_172)
set_location DUT.uart_inst0.tx_bits_remaining[3] 15 15 0 # SB_DFF (LogicCell: DUT.uart_inst0.tx_bits_remaining[3]_LC_172)
set_location DUT.uart_inst0.tx_clk_divider_RNI2V95[2] 13 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNI2V95[2]_LC_173)
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[13] 13 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[13]_LC_174)
set_location DUT.uart_inst0.tx_clk_divider_RNIJJMS[0] 13 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNIJJMS[0]_LC_175)
set_location DUT.uart_inst0.tx_clk_divider_RNIR5NO[9] 13 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNIR5NO[9]_LC_176)
set_location DUT.uart_inst0.tx_clk_divider_RNO[0] 12 15 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[0]_LC_177)
set_location DUT.uart_inst0.tx_clk_divider[0] 12 15 6 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[0]_LC_177)
set_location DUT.uart_inst0.tx_clk_divider_RNO[1] 12 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_178)
set_location DUT.uart_inst0.tx_clk_divider[1] 12 14 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_178)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[1] 12 14 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_178)
set_location DUT.uart_inst0.tx_clk_divider_RNO[10] 12 15 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_179)
set_location DUT.uart_inst0.tx_clk_divider[10] 12 15 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_179)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[10] 12 15 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_179)
set_location DUT.uart_inst0.tx_clk_divider_RNO[11] 12 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_180)
set_location DUT.uart_inst0.tx_clk_divider[11] 12 15 3 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_180)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[11] 12 15 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_180)
set_location DUT.uart_inst0.tx_clk_divider_RNO[12] 12 15 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_181)
set_location DUT.uart_inst0.tx_clk_divider[12] 12 15 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_181)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[12] 12 15 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_181)
set_location DUT.uart_inst0.tx_clk_divider_RNO[13] 12 15 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[13]_LC_182)
set_location DUT.uart_inst0.tx_clk_divider[13] 12 15 5 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[13]_LC_182)
set_location DUT.uart_inst0.tx_clk_divider_RNO[2] 12 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_183)
set_location DUT.uart_inst0.tx_clk_divider[2] 12 14 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_183)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[2] 12 14 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_183)
set_location DUT.uart_inst0.tx_clk_divider_RNO[3] 12 14 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_184)
set_location DUT.uart_inst0.tx_clk_divider[3] 12 14 3 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_184)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[3] 12 14 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_184)
set_location DUT.uart_inst0.tx_clk_divider_RNO[4] 12 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_185)
set_location DUT.uart_inst0.tx_clk_divider[4] 12 14 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_185)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[4] 12 14 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_185)
set_location DUT.uart_inst0.tx_clk_divider_RNO[5] 12 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_186)
set_location DUT.uart_inst0.tx_clk_divider[5] 12 14 5 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_186)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[5] 12 14 5 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_186)
set_location DUT.uart_inst0.tx_clk_divider_RNO[6] 12 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_187)
set_location DUT.uart_inst0.tx_clk_divider[6] 12 14 6 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_187)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[6] 12 14 6 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_187)
set_location DUT.uart_inst0.tx_clk_divider_RNO[7] 12 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_188)
set_location DUT.uart_inst0.tx_clk_divider[7] 12 14 7 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_188)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[7] 12 14 7 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_188)
set_location DUT.uart_inst0.tx_clk_divider_RNO[8] 12 15 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_189)
set_location DUT.uart_inst0.tx_clk_divider[8] 12 15 0 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_189)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[8] 12 15 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_189)
set_location DUT.uart_inst0.tx_clk_divider_RNO[9] 12 15 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_190)
set_location DUT.uart_inst0.tx_clk_divider[9] 12 15 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_190)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[9] 12 15 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_190)
set_location DUT.uart_inst0.tx_countdown_3_cry_0_c_RNIPMF33 14 14 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_0_c_RNIPMF33_LC_191)
set_location DUT.uart_inst0.tx_countdown_3_cry_1_c 14 14 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_0_c_RNIPMF33_LC_191)
set_location DUT.uart_inst0.tx_countdown_3_cry_0_c_RNO 13 15 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_0_c_RNO_LC_192)
set_location DUT.uart_inst0.tx_countdown_3_cry_1_c_RNISQG33 14 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_1_c_RNISQG33_LC_193)
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c 14 14 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_1_c_RNISQG33_LC_193)
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIKK41C 14 12 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIKK41C_LC_194)
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIMJ5EC 15 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIMJ5EC_LC_195)
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIVUH33 14 14 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIVUH33_LC_196)
set_location DUT.uart_inst0.tx_countdown_3_cry_3_c 14 14 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIVUH33_LC_196)
set_location DUT.uart_inst0.tx_countdown_3_cry_3_c_RNI23J33 14 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_3_c_RNI23J33_LC_197)
set_location DUT.uart_inst0.tx_countdown_3_cry_4_c 14 14 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_3_c_RNI23J33_LC_197)
set_location DUT.uart_inst0.tx_countdown_3_cry_4_c_RNIQRFM2 14 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_4_c_RNIQRFM2_LC_198)
set_location DUT.uart_inst0.tx_countdown_RNI3J692[0] 13 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI3J692[0]_LC_199)
set_location DUT.uart_inst0.tx_countdown_RNI4K692[1] 14 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI4K692[1]_LC_200)
set_location DUT.uart_inst0.tx_countdown_RNI5L692[2] 13 15 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI5L692[2]_LC_201)
set_location DUT.uart_inst0.tx_countdown_RNI6M692[3] 14 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI6M692[3]_LC_202)
set_location DUT.uart_inst0.tx_countdown_RNI7N692[4] 13 14 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI7N692[4]_LC_203)
set_location DUT.uart_inst0.tx_countdown_RNI8O692[5] 13 15 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI8O692[5]_LC_204)
set_location DUT.uart_inst0.tx_countdown_RNIN7BAE[0] 14 12 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIN7BAE[0]_LC_205)
set_location DUT.uart_inst0.tx_countdown_RNO[0] 13 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[0]_LC_206)
set_location DUT.uart_inst0.tx_countdown[0] 13 14 7 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[0]_LC_206)
set_location DUT.uart_inst0.tx_countdown_RNO_0[3] 15 13 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[3]_LC_207)
set_location DUT.uart_inst0.tx_countdown_RNO[1] 14 13 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[1]_LC_208)
set_location DUT.uart_inst0.tx_countdown[1] 14 13 1 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[1]_LC_208)
set_location DUT.uart_inst0.tx_countdown_RNO_1[3] 15 13 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_1[3]_LC_209)
set_location DUT.uart_inst0.tx_countdown_RNO[2] 14 13 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[2]_LC_210)
set_location DUT.uart_inst0.tx_countdown[2] 14 13 5 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[2]_LC_210)
set_location DUT.uart_inst0.tx_countdown_RNO[3] 14 13 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[3]_LC_211)
set_location DUT.uart_inst0.tx_countdown[3] 14 13 3 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[3]_LC_211)
set_location DUT.uart_inst0.tx_countdown_RNO[4] 14 13 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[4]_LC_212)
set_location DUT.uart_inst0.tx_countdown[4] 14 13 2 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[4]_LC_212)
set_location DUT.uart_inst0.tx_countdown_RNO[5] 13 14 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[5]_LC_213)
set_location DUT.uart_inst0.tx_countdown[5] 13 14 0 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[5]_LC_213)
set_location DUT.uart_inst0.tx_data_RNO[0] 16 12 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[0]_LC_214)
set_location DUT.uart_inst0.tx_data[0] 16 12 0 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[0]_LC_214)
set_location DUT.uart_inst0.tx_data_RNO[1] 16 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[1]_LC_215)
set_location DUT.uart_inst0.tx_data[1] 16 12 2 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[1]_LC_215)
set_location DUT.uart_inst0.tx_data_RNO[2] 16 12 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[2]_LC_216)
set_location DUT.uart_inst0.tx_data[2] 16 12 3 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[2]_LC_216)
set_location DUT.uart_inst0.tx_data_RNO[3] 16 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[3]_LC_217)
set_location DUT.uart_inst0.tx_data[3] 16 12 1 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[3]_LC_217)
set_location DUT.uart_inst0.tx_data_RNO[4] 16 13 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[4]_LC_218)
set_location DUT.uart_inst0.tx_data[4] 16 13 3 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[4]_LC_218)
set_location DUT.uart_inst0.tx_data_RNO[5] 16 13 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[5]_LC_219)
set_location DUT.uart_inst0.tx_data[5] 16 13 5 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[5]_LC_219)
set_location DUT.uart_inst0.tx_data_RNO[6] 16 13 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[6]_LC_220)
set_location DUT.uart_inst0.tx_data[6] 16 13 4 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[6]_LC_220)
set_location DUT.uart_inst0.tx_data_RNO[7] 16 13 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[7]_LC_221)
set_location DUT.uart_inst0.tx_data[7] 16 13 2 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[7]_LC_221)
set_location DUT.uart_inst0.tx_out_RNO 15 11 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_LC_222)
set_location DUT.uart_inst0.tx_out 15 11 1 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_out_LC_222)
set_location DUT.uart_inst0.tx_out_RNO_0 15 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_0_LC_223)
set_location DUT.uart_inst0.tx_out_RNO_1 15 12 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_1_LC_224)
set_location DUT.uart_inst0.tx_out_RNO_2 15 12 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_2_LC_225)
set_location DUT.uart_inst0.tx_out_RNO_3 15 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_3_LC_226)
set_location DUT.uart_inst0.tx_state_RNI5PJS2[0] 13 15 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI5PJS2[0]_LC_227)
set_location DUT.uart_inst0.tx_state_RNI6I8K[1] 15 14 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI6I8K[1]_LC_228)
set_location DUT.uart_inst0.tx_state_RNI8CH01[0] 13 15 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI8CH01[0]_LC_229)
set_location DUT.uart_inst0.tx_state_RNI8CH01_0[0] 15 14 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI8CH01_0[0]_LC_230)
set_location DUT.uart_inst0.tx_state_RNI9DTT5[0] 15 14 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI9DTT5[0]_LC_231)
set_location DUT.uart_inst0.tx_state_RNIBV9AJ[0] 15 14 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIBV9AJ[0]_LC_232)
set_location DUT.uart_inst0.tx_state_RNIIAMI1[1] 15 14 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIIAMI1[1]_LC_233)
set_location DUT.uart_inst0.tx_state_RNIPNAVK[0] 15 12 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIPNAVK[0]_LC_234)
set_location DUT.uart_inst0.tx_state_RNIQSGK9[0] 14 12 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIQSGK9[0]_LC_235)
set_location DUT.uart_inst0.tx_state_RNIVQ9CI[0] 14 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIVQ9CI[0]_LC_236)
set_location DUT.uart_inst0.tx_state_RNO[0] 14 12 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state[0]_LC_237)
set_location DUT.uart_inst0.tx_state[0] 14 12 5 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_state[0]_LC_237)
set_location DUT.uart_inst0.tx_state_RNO[1] 14 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state[1]_LC_238)
set_location DUT.uart_inst0.tx_state[1] 14 12 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_state[1]_LC_238)
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_0_c_RNO 15 14 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.un1_tx_bits_remaining_cry_0_c_RNO_LC_239)
set_location DUT.uart_inst0.wPllLocked_i 12 30 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.wPllLocked_i_LC_240)
set_location fifo_inst.ft2232h_inst.rFifoState_RNIG8PK[4] 17 11 3 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState_RNIG8PK[4]_LC_241)
set_location fifo_inst.ft2232h_inst.rFifoState_RNIRPB71[0] 15 15 4 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState_RNIRPB71[0]_LC_242)
set_location fifo_inst.ft2232h_inst.rFifoState_RNO[0] 15 16 5 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState[0]_LC_243)
set_location fifo_inst.ft2232h_inst.rFifoState[0] 15 16 5 # SB_DFFSS (LogicCell: fifo_inst.ft2232h_inst.rFifoState[0]_LC_243)
set_location fifo_inst.ft2232h_inst.rFifoState_RNO_0[0] 15 15 6 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState_RNO_0[0]_LC_244)
set_location fifo_inst.ft2232h_inst.rFifoState_RNO[1] 15 16 0 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState[1]_LC_245)
set_location fifo_inst.ft2232h_inst.rFifoState[1] 15 16 0 # SB_DFFSR (LogicCell: fifo_inst.ft2232h_inst.rFifoState[1]_LC_245)
set_location fifo_inst.ft2232h_inst.rFifoState_RNO[4] 20 13 6 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState[4]_LC_246)
set_location fifo_inst.ft2232h_inst.rFifoState[4] 20 13 6 # SB_DFFSR (LogicCell: fifo_inst.ft2232h_inst.rFifoState[4]_LC_246)
set_location fifo_inst.ft2232h_inst.rRx_n_RNO 14 16 0 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rRx_n_LC_247)
set_location fifo_inst.ft2232h_inst.rRx_n 14 16 0 # SB_DFFSS (LogicCell: fifo_inst.ft2232h_inst.rRx_n_LC_247)
set_location fifo_inst.ft2232h_inst.rTxBusReady_RNO 20 15 7 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rTxBusReady_LC_248)
set_location fifo_inst.ft2232h_inst.rTxBusReady 20 15 7 # SB_DFFSR (LogicCell: fifo_inst.ft2232h_inst.rTxBusReady_LC_248)
set_location fifo_inst.ft2232h_inst.rTxRdEn_RNIS0VN 17 11 0 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rTxRdEn_RNIS0VN_LC_249)
set_location fifo_inst.ft2232h_inst.rTx_n_RNO 15 16 1 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rTx_n_LC_250)
set_location fifo_inst.ft2232h_inst.rTx_n 15 16 1 # SB_DFFSS (LogicCell: fifo_inst.ft2232h_inst.rTx_n_LC_250)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNI9F4N[5] 18 11 0 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNI9F4N[5]_LC_251)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_0[1] 16 11 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_0[1]_LC_252)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU[1] 16 11 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU[1]_LC_253)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_2[1] 16 11 7 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_2[1]_LC_254)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_3[1] 17 11 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_3[1]_LC_255)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIDL6N[7] 17 9 0 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIDL6N[7]_LC_256)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIFO7N[8] 18 9 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIFO7N[8]_LC_257)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIGLV01[2] 16 10 0 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIGLV01[2]_LC_258)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIIO011[3] 18 11 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIIO011[3]_LC_259)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIKR111[4] 17 9 3 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIKR111[4]_LC_260)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIO1411[6] 17 9 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNIO1411[6]_LC_261)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNISDA2[0] 17 11 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNISDA2[0]_LC_262)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNISJ0L[0] 17 11 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNISJ0L[0]_LC_263)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNI[1] 16 11 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNI[1]_LC_264)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNI[8] 18 11 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr_RNI[8]_LC_265)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[1] 16 10 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[1]_LC_266)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[1] 16 10 2 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[1]_LC_266)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[2] 16 10 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[2]_LC_267)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[2] 16 10 1 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[2]_LC_267)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[3] 18 10 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[3]_LC_268)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[3] 18 10 6 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[3]_LC_268)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[4] 17 9 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[4]_LC_269)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[4] 17 9 2 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[4]_LC_269)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[6] 17 9 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[6]_LC_270)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[6] 17 9 4 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[6]_LC_270)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[7] 17 9 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[7]_LC_271)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[7] 17 9 1 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[7]_LC_271)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c_RNI5G02 17 10 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c_RNI5G02_LC_272)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c 17 10 1 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c_RNI5G02_LC_272)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI20C4 18 11 3 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI20C4_LC_273)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI6I12 17 10 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI6I12_LC_274)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_3_c 17 10 2 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI6I12_LC_274)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_3_c_RNI7K22 17 10 3 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_3_c_RNI7K22_LC_275)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_4_c 17 10 3 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_3_c_RNI7K22_LC_275)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_4_c_RNI44E4 17 10 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_4_c_RNI44E4_LC_276)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_5_c 17 10 4 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_4_c_RNI44E4_LC_276)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_5_c_RNI9O42 17 10 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_5_c_RNI9O42_LC_277)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_6_c 17 10 5 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_5_c_RNI9O42_LC_277)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_6_c_RNIAQ52 17 10 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_6_c_RNIAQ52_LC_278)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_7_c 17 10 6 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_6_c_RNIAQ52_LC_278)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_7_c_RNI7AH4 17 10 7 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_7_c_RNI7AH4_LC_279)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNI 18 12 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNI_LC_280)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNI111S 18 11 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNI111S_LC_281)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIEGV6 18 11 7 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIEGV6_LC_282)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIEGV6_0 18 11 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIEGV6_0_LC_283)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNII2L4 17 12 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNII2L4_LC_284)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c 17 12 1 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNII2L4_LC_284)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIQIBG 18 12 3 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIQIBG_LC_285)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2 17 11 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_LC_286)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_1 18 12 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_1_LC_287)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_2 18 12 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_2_LC_288)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07 15 11 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_LC_289)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_0 16 11 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_0_LC_290)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_2 15 11 3 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_2_LC_291)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIJ4M4 17 12 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIJ4M4_LC_292)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c 17 12 2 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIJ4M4_LC_292)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIGK17 18 12 2 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIGK17_LC_293)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIGK17_0 17 13 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIGK17_0_LC_294)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIK6N4 17 12 3 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIK6N4_LC_295)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_4_c 17 12 3 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIK6N4_LC_295)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_4_c_RNIHM27 17 12 4 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_4_c_RNIHM27_LC_296)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c 17 12 4 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_4_c_RNIHM27_LC_296)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNIIO37 17 12 5 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNIIO37_LC_297)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c 17 12 5 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNIIO37_LC_297)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNISDA2 18 12 0 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNISDA2_LC_298)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNISDA2_0 18 13 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNISDA2_0_LC_299)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNIJQ47 17 12 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNIJQ47_LC_300)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_7_c 17 12 6 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNIJQ47_LC_300)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNISDA2 18 12 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNISDA2_LC_301)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNISDA2_0 14 13 6 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNISDA2_0_LC_302)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_7_c_RNIKS57 17 12 7 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_7_c_RNIKS57_LC_303)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0_0_rRxRead_REP_LUT4_0 14 16 1 # SB_LUT4 (LogicCell: rRxRead_LC_304)
set_location rRxRead 14 16 1 # SB_DFFSR (LogicCell: rRxRead_LC_304)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 15 20 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0]_LC_305)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0] 15 20 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0]_LC_305)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 12 18 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1]_LC_306)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1] 12 18 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1]_LC_306)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 13 19 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2]_LC_307)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2] 13 19 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2]_LC_307)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 13 19 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3]_LC_308)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3] 13 19 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3]_LC_308)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 13 19 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4]_LC_309)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4] 13 19 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4]_LC_309)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 13 19 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5]_LC_310)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5] 13 19 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5]_LC_310)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 12 18 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6]_LC_311)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6] 12 18 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6]_LC_311)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 12 18 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7]_LC_312)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7] 12 18 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7]_LC_312)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 14 18 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0]_LC_313)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0] 14 18 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0]_LC_313)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 14 18 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1]_LC_314)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1] 14 18 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1]_LC_314)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 14 18 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2]_LC_315)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2] 14 18 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2]_LC_315)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 14 18 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3]_LC_316)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3] 14 18 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3]_LC_316)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 14 18 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4]_LC_317)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4] 14 18 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4]_LC_317)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 14 18 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5]_LC_318)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5] 14 18 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5]_LC_318)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 14 18 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6]_LC_319)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6] 14 18 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6]_LC_319)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 14 18 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7]_LC_320)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7] 14 18 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7]_LC_320)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 15 19 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0]_LC_321)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0] 15 19 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0]_LC_321)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 15 19 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1]_LC_322)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1] 15 19 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1]_LC_322)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 15 19 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2]_LC_323)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2] 15 19 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2]_LC_323)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 15 19 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3]_LC_324)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3] 15 19 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3]_LC_324)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 15 19 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4]_LC_325)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4] 15 19 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4]_LC_325)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 15 19 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5]_LC_326)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5] 15 19 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5]_LC_326)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 15 19 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6]_LC_327)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6] 15 19 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6]_LC_327)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 15 19 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7]_LC_328)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7] 15 19 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7]_LC_328)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 15 18 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0]_LC_329)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0] 15 18 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0]_LC_329)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 15 18 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1]_LC_330)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1] 15 18 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1]_LC_330)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 15 18 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2]_LC_331)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2] 15 18 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2]_LC_331)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 14 20 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3]_LC_332)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3] 14 20 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3]_LC_332)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 15 18 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4]_LC_333)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4] 15 18 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4]_LC_333)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 14 20 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5]_LC_334)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5] 14 20 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5]_LC_334)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 14 20 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6]_LC_335)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6] 14 20 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6]_LC_335)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 14 20 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7]_LC_336)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7] 14 20 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7]_LC_336)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 18 15 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0]_LC_337)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0] 18 15 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0]_LC_337)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 18 15 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1]_LC_338)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1] 18 15 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1]_LC_338)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 18 16 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2]_LC_339)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2] 18 16 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2]_LC_339)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 18 16 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3]_LC_340)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3] 18 16 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3]_LC_340)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 16 15 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4]_LC_341)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4] 16 15 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4]_LC_341)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 16 15 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5]_LC_342)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5] 16 15 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5]_LC_342)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 18 16 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6]_LC_343)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6] 18 16 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6]_LC_343)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 18 16 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7]_LC_344)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7] 18 16 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7]_LC_344)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 18 14 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0]_LC_345)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0] 18 14 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0]_LC_345)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 18 14 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1]_LC_346)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1] 18 14 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1]_LC_346)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 18 14 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2]_LC_347)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2] 18 14 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2]_LC_347)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 18 14 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3]_LC_348)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3] 18 14 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3]_LC_348)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 16 17 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4]_LC_349)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4] 16 17 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4]_LC_349)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 20 14 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5]_LC_350)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5] 20 14 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5]_LC_350)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 16 17 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6]_LC_351)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6] 16 17 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6]_LC_351)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 18 14 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7]_LC_352)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7] 18 14 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7]_LC_352)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 16 14 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0]_LC_353)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0] 16 14 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0]_LC_353)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 16 14 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1]_LC_354)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1] 16 14 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1]_LC_354)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 16 16 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2]_LC_355)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2] 16 16 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2]_LC_355)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 16 14 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3]_LC_356)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3] 16 14 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3]_LC_356)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 16 16 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4]_LC_357)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4] 16 16 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4]_LC_357)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 16 14 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5]_LC_358)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5] 16 14 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5]_LC_358)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 16 16 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6]_LC_359)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6] 16 16 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6]_LC_359)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 16 14 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7]_LC_360)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7] 16 14 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7]_LC_360)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 17 15 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0]_LC_361)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0] 17 15 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0]_LC_361)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 17 15 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1]_LC_362)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1] 17 15 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1]_LC_362)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 17 15 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2]_LC_363)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2] 17 15 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2]_LC_363)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 17 15 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3]_LC_364)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3] 17 15 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3]_LC_364)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 17 15 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4]_LC_365)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4] 17 15 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4]_LC_365)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 17 15 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5]_LC_366)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5] 17 15 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5]_LC_366)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 17 15 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6]_LC_367)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6] 17 15 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6]_LC_367)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 17 15 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7]_LC_368)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7] 17 15 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7]_LC_368)
set_location DUT.uart_inst0.rx_data_0_THRU_LUT4_0 12 20 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[0]_LC_369)
set_location DUT.uart_inst0.rx_data[0] 12 20 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[0]_LC_369)
set_location DUT.uart_inst0.rx_data_1_THRU_LUT4_0 13 20 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[1]_LC_370)
set_location DUT.uart_inst0.rx_data[1] 13 20 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[1]_LC_370)
set_location DUT.uart_inst0.rx_data_2_THRU_LUT4_0 13 20 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[2]_LC_371)
set_location DUT.uart_inst0.rx_data[2] 13 20 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[2]_LC_371)
set_location DUT.uart_inst0.rx_data_3_THRU_LUT4_0 13 20 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[3]_LC_372)
set_location DUT.uart_inst0.rx_data[3] 13 20 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[3]_LC_372)
set_location DUT.uart_inst0.rx_data_4_THRU_LUT4_0 12 19 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[4]_LC_373)
set_location DUT.uart_inst0.rx_data[4] 12 19 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[4]_LC_373)
set_location DUT.uart_inst0.rx_data_5_THRU_LUT4_0 13 20 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[5]_LC_374)
set_location DUT.uart_inst0.rx_data[5] 13 20 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[5]_LC_374)
set_location DUT.uart_inst0.rx_data_6_THRU_LUT4_0 13 20 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[6]_LC_375)
set_location DUT.uart_inst0.rx_data[6] 13 20 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[6]_LC_375)
set_location DUT.uart_inst0.rx_data_7_THRU_LUT4_0 12 19 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[7]_LC_376)
set_location DUT.uart_inst0.rx_data[7] 12 19 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[7]_LC_376)
set_location fifo_inst.ft2232h_inst.rFifoState_2_THRU_LUT4_0 15 16 4 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState[2]_LC_377)
set_location fifo_inst.ft2232h_inst.rFifoState[2] 15 16 4 # SB_DFFSR (LogicCell: fifo_inst.ft2232h_inst.rFifoState[2]_LC_377)
set_location fifo_inst.ft2232h_inst.rFifoState_RNIG8PK_4_fifo_inst.ft2232h_inst.rTxRdEn_REP_LUT4_0 18 11 6 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rTxRdEn_LC_378)
set_location fifo_inst.ft2232h_inst.rTxRdEn 18 11 6 # SB_DFF (LogicCell: fifo_inst.ft2232h_inst.rTxRdEn_LC_378)
set_location fifo_inst.ft2232h_inst.rFifoState_RNIG8PK_4_fifo_inst.ft2232h_inst.rTxRdEn_fast_REP_LUT4_0 17 11 7 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rTxRdEn_fast_LC_379)
set_location fifo_inst.ft2232h_inst.rTxRdEn_fast 17 11 7 # SB_DFF (LogicCell: fifo_inst.ft2232h_inst.rTxRdEn_fast_LC_379)
set_location fifo_inst.ft2232h_inst.rFifoState_RNIRPB71_0_fifo_inst.ft2232h_inst.rFifoState_3_REP_LUT4_0 15 16 7 # SB_LUT4 (LogicCell: fifo_inst.ft2232h_inst.rFifoState[3]_LC_380)
set_location fifo_inst.ft2232h_inst.rFifoState[3] 15 16 7 # SB_DFFSR (LogicCell: fifo_inst.ft2232h_inst.rFifoState[3]_LC_380)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNISDA2_0_fifo_inst.tx_fifo_inst.rRamRdAddr_0_REP_LUT4_0 17 9 7 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[0]_LC_381)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[0] 17 9 7 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[0]_LC_381)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_5_THRU_LUT4_0 18 10 0 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[5]_LC_382)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[5] 18 10 0 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[5]_LC_382)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_8_THRU_LUT4_0 18 10 1 # SB_LUT4 (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[8]_LC_383)
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[8] 18 10 1 # SB_DFFER (LogicCell: fifo_inst.tx_fifo_inst.rRamRdAddr[8]_LC_383)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0 11 11 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0_LC_384)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_c 11 11 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0_LC_384)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0 11 12 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0_LC_385)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_c 11 12 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0_LC_385)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0 11 12 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0_LC_386)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_c 11 12 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0_LC_386)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0 11 12 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0_LC_387)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_c 11 12 5 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0_LC_387)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0 11 12 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0_LC_388)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_c 11 12 6 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0_LC_388)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0 11 12 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0_LC_389)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_c 11 12 7 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0_LC_389)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0 11 13 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0_LC_390)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_16_c 11 13 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0_LC_390)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0 11 11 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0_LC_391)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_2_c 11 11 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0_LC_391)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0 11 11 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0_LC_392)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_4_c 11 11 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0_LC_392)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0 11 11 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0_LC_393)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_c 11 11 7 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0_LC_393)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0 11 12 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0_LC_394)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_c 11 12 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0_LC_394)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0 11 12 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0_LC_395)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_c 11 12 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0_LC_395)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0 11 12 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0_LC_396)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_c 11 12 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0_LC_396)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c 10 16 0 # SB_CARRY (LogicCell: DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_LC_397)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c 20 17 0 # SB_CARRY (LogicCell: DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_LC_398)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_c 11 11 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_c_LC_399)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_c 13 12 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_c_LC_400)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[0] 12 14 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider_cry_c[0]_LC_401)
set_location DUT.uart_inst0.tx_countdown_3_cry_0_c 14 14 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_countdown_3_cry_0_c_LC_402)
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_0_c 14 15 0 # SB_CARRY (LogicCell: DUT.uart_inst0.un1_tx_bits_remaining_cry_0_c_LC_403)
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c 17 10 0 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c_LC_404)
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c 17 12 0 # SB_CARRY (LogicCell: fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_LC_405)
set_location PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0 1 30 0 # SB_LUT4 (LogicCell: LC_PLL_PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK)
set_io BTN_N_ibuf 16 0 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io P1A1_ibuf 9 0 0 # ICE_IO
set_io P1A2_obuft 8 0 0 # ICE_IO
set_io P1A3_obuf 6 0 0 # ICE_IO
set_io P1A4_obuf 7 0 1 # ICE_IO
set_io P1A7_obuf 9 0 1 # ICE_IO
set_io P1A8_obuft 7 0 0 # ICE_IO
set_io P1A9_obuft 5 0 0 # ICE_IO
set_location fifo_inst.tx_fifo_inst.ram512x8_inst 19 9 0 # SB_RAM40_4K
set_io iRxF_n_ibuf 18 31 0 # ICE_IO
set_io iTxE_n_ibuf 18 31 1 # ICE_IO
set_io ioFifoData_obuft[0] 13 0 1 # ICE_IO
set_io ioFifoData_obuft[1] 15 0 0 # ICE_IO
set_io ioFifoData_obuft[2] 22 0 1 # ICE_IO
set_io ioFifoData_obuft[3] 21 0 1 # ICE_IO
set_io ioFifoData_obuft[4] 19 0 1 # ICE_IO
set_io ioFifoData_obuft[5] 18 0 1 # ICE_IO
set_io ioFifoData_obuft[6] 19 31 0 # ICE_IO
set_io ioFifoData_obuft[7] 19 31 1 # ICE_IO
set_io oRx_n_obuf 17 0 0 # ICE_IO
set_io oTx_n_obuf 13 31 0 # ICE_IO
set_location top_pll_inst.top_pll_inst 12 31 1 # SB_PLL40_PAD
set_io top_pll_inst.top_pll_inst_RNISDA2 12 0 1 # ICE_GB
set_io wPllLocked_i_g_gb 12 31 1 # ICE_GB
set_location CONSTANT_ONE_LUT4 15 9 6 # SB_LUT4 (LogicCell: LC_407)
