set_location DUT.fifo_rx_inst.rFifoCount_RNICMVR[2] 13 8 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNICMVR[2]_LC_0)
set_location DUT.fifo_rx_inst.rFifoCount_RNIDQ741[2] 12 5 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIDQ741[2]_LC_1)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0] 12 5 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0]_LC_2)
set_location DUT.fifo_rx_inst.rFifoCount_RNIIL8L1[0] 13 5 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNIIL8L1[0]_LC_3)
set_location DUT.fifo_rx_inst.rFifoCount_RNITA8H2[1] 12 5 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount_RNITA8H2[1]_LC_4)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[0] 17 5 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[0]_LC_5)
set_location DUT.fifo_rx_inst.rFifoCount[0] 17 5 0 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[0]_LC_5)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[1] 12 4 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_6)
set_location DUT.fifo_rx_inst.rFifoCount[1] 12 4 1 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_6)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_1_c 12 4 1 # SB_CARRY (LogicCell: DUT.fifo_rx_inst.rFifoCount[1]_LC_6)
set_location DUT.fifo_rx_inst.rFifoCount_RNO[2] 12 4 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoCount[2]_LC_7)
set_location DUT.fifo_rx_inst.rFifoCount[2] 12 4 2 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoCount[2]_LC_7)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0] 11 8 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0]_LC_8)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1] 11 8 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1]_LC_9)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2] 13 9 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2]_LC_10)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3] 13 10 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3]_LC_11)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4] 13 10 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4]_LC_12)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5] 12 10 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5]_LC_13)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6] 12 10 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6]_LC_14)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7] 12 8 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7]_LC_15)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI1BK22[7] 12 8 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI1BK22[7]_LC_16)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI5EJ22[0] 11 8 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI5EJ22[0]_LC_17)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9IJ22[1] 13 8 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9IJ22[1]_LC_18)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIDMJ22[2] 13 9 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIDMJ22[2]_LC_19)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIHQJ22[3] 13 10 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIHQJ22[3]_LC_20)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILUJ22[4] 12 10 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILUJ22[4]_LC_21)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIP2K22[5] 12 10 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIP2K22[5]_LC_22)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIT6K22[6] 12 8 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIT6K22[6]_LC_23)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1 12 8 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1_LC_24)
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNO 10 8 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_LC_25)
set_location DUT.fifo_rx_inst.rFifoDatarff_0 10 8 0 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_0_LC_25)
set_location DUT.fifo_rx_inst.rFifoDatarff_1_RNO 11 7 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_1_LC_26)
set_location DUT.fifo_rx_inst.rFifoDatarff_1 11 7 3 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_1_LC_26)
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1 13 9 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1_LC_27)
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNO 14 9 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_LC_28)
set_location DUT.fifo_rx_inst.rFifoDatarff_2 14 9 6 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_2_LC_28)
set_location DUT.fifo_rx_inst.rFifoDatarff_3_RNO 14 9 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_3_LC_29)
set_location DUT.fifo_rx_inst.rFifoDatarff_3 14 9 0 # SB_DFFSR (LogicCell: DUT.fifo_rx_inst.rFifoDatarff_3_LC_29)
set_location DUT.fifo_rx_inst.rReadPtr_RNIDU4H2[0] 12 10 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr_RNIDU4H2[0]_LC_30)
set_location DUT.fifo_rx_inst.rReadPtr_RNO[0] 12 10 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr[0]_LC_31)
set_location DUT.fifo_rx_inst.rReadPtr[0] 12 10 4 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rReadPtr[0]_LC_31)
set_location DUT.fifo_rx_inst.rReadPtr_RNO[1] 12 10 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rReadPtr[1]_LC_32)
set_location DUT.fifo_rx_inst.rReadPtr[1] 12 10 1 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rReadPtr[1]_LC_32)
set_location DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1] 13 8 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1]_LC_33)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1] 14 10 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1]_LC_34)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91[1] 13 9 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91[1]_LC_35)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1] 13 8 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1]_LC_36)
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1] 13 8 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1]_LC_37)
set_location DUT.fifo_rx_inst.rWritePtr_RNO[0] 13 8 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr[0]_LC_38)
set_location DUT.fifo_rx_inst.rWritePtr[0] 13 8 1 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rWritePtr[0]_LC_38)
set_location DUT.fifo_rx_inst.rWritePtr_RNO[1] 13 8 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rWritePtr[1]_LC_39)
set_location DUT.fifo_rx_inst.rWritePtr[1] 13 8 4 # SB_DFF (LogicCell: DUT.fifo_rx_inst.rWritePtr[1]_LC_39)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_RNO 12 5 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_RNO_LC_40)
set_location DUT.fifo_tx_inst.rFifoCount_RNI0AJL[0] 16 10 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNI0AJL[0]_LC_41)
set_location DUT.fifo_tx_inst.rFifoCount_RNI4PUO[2] 14 10 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNI4PUO[2]_LC_42)
set_location DUT.fifo_tx_inst.rFifoCount_RNI7FOF[2] 15 10 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNI7FOF[2]_LC_43)
set_location DUT.fifo_tx_inst.rFifoCount_RNI8BKM[2] 14 10 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNI8BKM[2]_LC_44)
set_location DUT.fifo_tx_inst.rFifoCount_RNIME2J[0] 16 10 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIME2J[0]_LC_45)
set_location DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0] 16 10 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0]_LC_46)
set_location DUT.fifo_tx_inst.rFifoCount_RNISSQ21[1] 16 10 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount_RNISSQ21[1]_LC_47)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[0] 15 11 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[0]_LC_48)
set_location DUT.fifo_tx_inst.rFifoCount[0] 15 11 0 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[0]_LC_48)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[1] 16 11 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_49)
set_location DUT.fifo_tx_inst.rFifoCount[1] 16 11 1 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_49)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_1_c 16 11 1 # SB_CARRY (LogicCell: DUT.fifo_tx_inst.rFifoCount[1]_LC_49)
set_location DUT.fifo_tx_inst.rFifoCount_RNO[2] 16 11 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoCount[2]_LC_50)
set_location DUT.fifo_tx_inst.rFifoCount[2] 16 11 2 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoCount[2]_LC_50)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4] 15 8 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4]_LC_51)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5] 15 8 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5]_LC_52)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6] 15 8 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6]_LC_53)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7] 16 8 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7]_LC_54)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0] 14 6 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0]_LC_55)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1] 14 6 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1]_LC_56)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2] 16 6 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2]_LC_57)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3] 16 6 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3]_LC_58)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4] 15 8 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4]_LC_59)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5] 15 8 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5]_LC_60)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6] 15 9 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6]_LC_61)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7] 16 8 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7]_LC_62)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0] 14 6 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0]_LC_63)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1] 16 6 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1]_LC_64)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2] 16 6 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2]_LC_65)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3] 16 6 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3]_LC_66)
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNI86BE 15 9 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_RNI86BE_LC_67)
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNO 14 9 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_LC_68)
set_location DUT.fifo_tx_inst.rFifoDatarff_0 14 9 2 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_0_LC_68)
set_location DUT.fifo_tx_inst.rFifoDatarff_1_RNO 14 9 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_1_LC_69)
set_location DUT.fifo_tx_inst.rFifoDatarff_1 14 9 3 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_1_LC_69)
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE 15 9 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE_LC_70)
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNO 15 11 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_LC_71)
set_location DUT.fifo_tx_inst.rFifoDatarff_2 15 11 2 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_2_LC_71)
set_location DUT.fifo_tx_inst.rFifoDatarff_3_RNO 14 9 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_3_LC_72)
set_location DUT.fifo_tx_inst.rFifoDatarff_3 14 9 5 # SB_DFFSR (LogicCell: DUT.fifo_tx_inst.rFifoDatarff_3_LC_72)
set_location DUT.fifo_tx_inst.rReadPtr_RNILV421[0] 18 9 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr_RNILV421[0]_LC_73)
set_location DUT.fifo_tx_inst.rReadPtr_RNO[0] 18 9 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr[0]_LC_74)
set_location DUT.fifo_tx_inst.rReadPtr[0] 18 9 6 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rReadPtr[0]_LC_74)
set_location DUT.fifo_tx_inst.rReadPtr_RNO[1] 18 9 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rReadPtr[1]_LC_75)
set_location DUT.fifo_tx_inst.rReadPtr[1] 18 9 4 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rReadPtr[1]_LC_75)
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM_0[1] 14 10 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNI8BKM_0[1]_LC_76)
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM[1] 15 10 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNI8BKM[1]_LC_77)
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM_1[1] 14 10 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr_RNI8BKM_1[1]_LC_78)
set_location DUT.fifo_tx_inst.rWritePtr_RNO[0] 14 10 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr[0]_LC_79)
set_location DUT.fifo_tx_inst.rWritePtr[0] 14 10 6 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rWritePtr[0]_LC_79)
set_location DUT.fifo_tx_inst.rWritePtr_RNO[1] 14 10 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rWritePtr[1]_LC_80)
set_location DUT.fifo_tx_inst.rWritePtr[1] 14 10 3 # SB_DFF (LogicCell: DUT.fifo_tx_inst.rWritePtr[1]_LC_80)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO 16 10 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO_LC_81)
set_location DUT.rTransmit_RNO 18 9 2 # SB_LUT4 (LogicCell: DUT.rTransmit_LC_82)
set_location DUT.rTransmit 18 9 2 # SB_DFF (LogicCell: DUT.rTransmit_LC_82)
set_location DUT.uart_inst0.rTxByte_6_0[0] 12 7 0 # SB_LUT4 (LogicCell: rTxByte_esr[0]_LC_83)
set_location rTxByte_esr[0] 12 7 0 # SB_DFFESR (LogicCell: rTxByte_esr[0]_LC_83)
set_location DUT.uart_inst0.rTxByte_6_0[1] 13 7 1 # SB_LUT4 (LogicCell: rTxByte_esr[1]_LC_84)
set_location rTxByte_esr[1] 13 7 1 # SB_DFFESR (LogicCell: rTxByte_esr[1]_LC_84)
set_location DUT.uart_inst0.rTxByte_6_0[2] 13 7 2 # SB_LUT4 (LogicCell: rTxByte_esr[2]_LC_85)
set_location rTxByte_esr[2] 13 7 2 # SB_DFFESR (LogicCell: rTxByte_esr[2]_LC_85)
set_location DUT.uart_inst0.rTxByte_6_0[3] 13 7 4 # SB_LUT4 (LogicCell: rTxByte_esr[3]_LC_86)
set_location rTxByte_esr[3] 13 7 4 # SB_DFFESR (LogicCell: rTxByte_esr[3]_LC_86)
set_location DUT.uart_inst0.rTxByte_6_0[4] 12 7 1 # SB_LUT4 (LogicCell: rTxByte_esr[4]_LC_87)
set_location rTxByte_esr[4] 12 7 1 # SB_DFFESR (LogicCell: rTxByte_esr[4]_LC_87)
set_location DUT.uart_inst0.rTxByte_6_0[5] 13 7 5 # SB_LUT4 (LogicCell: rTxByte_esr[5]_LC_88)
set_location rTxByte_esr[5] 13 7 5 # SB_DFFESR (LogicCell: rTxByte_esr[5]_LC_88)
set_location DUT.uart_inst0.rTxByte_6_0[6] 12 7 2 # SB_LUT4 (LogicCell: rTxByte_esr[6]_LC_89)
set_location rTxByte_esr[6] 12 7 2 # SB_DFFESR (LogicCell: rTxByte_esr[6]_LC_89)
set_location DUT.uart_inst0.rTxByte_6_0[7] 13 7 7 # SB_LUT4 (LogicCell: rTxByte_esr[7]_LC_90)
set_location rTxByte_esr[7] 13 7 7 # SB_DFFESR (LogicCell: rTxByte_esr[7]_LC_90)
set_location DUT.uart_inst0.rTxByte_6_0_a2[0] 13 9 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rTxByte_6_0_a2[0]_LC_91)
set_location DUT.uart_inst0.recv_state_RNI1K9CC[2] 15 3 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNI1K9CC[2]_LC_92)
set_location DUT.uart_inst0.recv_state_RNI237O[0] 16 3 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNI237O[0]_LC_93)
set_location DUT.uart_inst0.recv_state_RNIBTG71[2] 16 4 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNIBTG71[2]_LC_94)
set_location DUT.uart_inst0.recv_state_RNIM4BC72[2] 15 4 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNIM4BC72[2]_LC_95)
set_location DUT.uart_inst0.recv_state_RNISS2R41[2] 13 4 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNISS2R41[2]_LC_96)
set_location DUT.uart_inst0.recv_state_RNO[0] 13 3 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[0]_LC_97)
set_location DUT.uart_inst0.recv_state[0] 13 3 6 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[0]_LC_97)
set_location DUT.uart_inst0.recv_state_RNO_0[0] 13 3 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[0]_LC_98)
set_location DUT.uart_inst0.recv_state_RNO_0[1] 17 4 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[1]_LC_99)
set_location DUT.uart_inst0.recv_state_RNO_0[2] 16 4 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[2]_LC_100)
set_location DUT.uart_inst0.recv_state_RNO_0[3] 16 4 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[3]_LC_101)
set_location DUT.uart_inst0.recv_state_RNO_0[4] 15 4 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[4]_LC_102)
set_location DUT.uart_inst0.recv_state_RNO_0[5] 15 4 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[5]_LC_103)
set_location DUT.uart_inst0.recv_state_RNO_0[6] 17 2 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_0[6]_LC_104)
set_location DUT.uart_inst0.recv_state_RNO[1] 17 4 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[1]_LC_105)
set_location DUT.uart_inst0.recv_state[1] 17 4 3 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[1]_LC_105)
set_location DUT.uart_inst0.recv_state_RNO_1[0] 13 3 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_1[0]_LC_106)
set_location DUT.uart_inst0.recv_state_RNO_1[1] 17 4 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_1[1]_LC_107)
set_location DUT.uart_inst0.recv_state_RNO_1[4] 15 3 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_1[4]_LC_108)
set_location DUT.uart_inst0.recv_state_RNO_1[5] 16 4 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_1[5]_LC_109)
set_location DUT.uart_inst0.recv_state_RNO_1[6] 13 3 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_1[6]_LC_110)
set_location DUT.uart_inst0.recv_state_RNO[2] 16 4 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[2]_LC_111)
set_location DUT.uart_inst0.recv_state[2] 16 4 5 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[2]_LC_111)
set_location DUT.uart_inst0.recv_state_RNO_2[0] 14 3 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_2[0]_LC_112)
set_location DUT.uart_inst0.recv_state_RNO_2[1] 15 4 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_2[1]_LC_113)
set_location DUT.uart_inst0.recv_state_RNO_2[4] 15 3 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state_RNO_2[4]_LC_114)
set_location DUT.uart_inst0.recv_state_RNO[3] 16 3 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[3]_LC_115)
set_location DUT.uart_inst0.recv_state[3] 16 3 4 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[3]_LC_115)
set_location DUT.uart_inst0.recv_state_RNO[4] 14 5 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[4]_LC_116)
set_location DUT.uart_inst0.recv_state[4] 14 5 6 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[4]_LC_116)
set_location DUT.uart_inst0.recv_state_RNO[5] 15 4 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[5]_LC_117)
set_location DUT.uart_inst0.recv_state[5] 15 4 2 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[5]_LC_117)
set_location DUT.uart_inst0.recv_state_RNO[6] 13 3 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.recv_state[6]_LC_118)
set_location DUT.uart_inst0.recv_state[6] 13 3 4 # SB_DFF (LogicCell: DUT.uart_inst0.recv_state[6]_LC_118)
set_location DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3] 16 4 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3]_LC_119)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[0] 14 4 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[0]_LC_120)
set_location DUT.uart_inst0.rx_bits_remaining[0] 14 4 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_bits_remaining[0]_LC_120)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[1] 14 4 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[1]_LC_121)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[2] 13 3 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[2]_LC_122)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[3] 14 4 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_0[3]_LC_123)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[1] 14 5 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[1]_LC_124)
set_location DUT.uart_inst0.rx_bits_remaining[1] 14 5 1 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[1]_LC_124)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[1] 14 4 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_1[1]_LC_125)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[2] 13 3 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_1[2]_LC_126)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[2] 13 3 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[2]_LC_127)
set_location DUT.uart_inst0.rx_bits_remaining[2] 13 3 2 # SB_DFF (LogicCell: DUT.uart_inst0.rx_bits_remaining[2]_LC_127)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_2[2] 16 3 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_2[2]_LC_128)
set_location DUT.uart_inst0.rx_bits_remaining_RNO[3] 14 4 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining[3]_LC_129)
set_location DUT.uart_inst0.rx_bits_remaining[3] 14 4 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_bits_remaining[3]_LC_129)
set_location DUT.uart_inst0.rx_bits_remaining_RNO_3[2] 16 3 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_bits_remaining_RNO_3[2]_LC_130)
set_location DUT.uart_inst0.rx_clk_divider_RNI2S9L5[0] 16 3 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI2S9L5[0]_LC_131)
set_location DUT.uart_inst0.rx_clk_divider_RNI2VEI1[2] 14 2 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI2VEI1[2]_LC_132)
set_location DUT.uart_inst0.rx_clk_divider_RNI6KQI[10] 15 2 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI6KQI[10]_LC_133)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_c 15 2 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI6KQI[10]_LC_133)
set_location DUT.uart_inst0.rx_clk_divider_RNI8PF9A[0] 13 2 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNI8PF9A[0]_LC_134)
set_location DUT.uart_inst0.rx_clk_divider_RNID95P[1] 15 1 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNID95P[1]_LC_135)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_c 15 1 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNID95P[1]_LC_135)
set_location DUT.uart_inst0.rx_clk_divider_RNIFC6P[2] 15 1 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIFC6P[2]_LC_136)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_2_c 15 1 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIFC6P[2]_LC_136)
set_location DUT.uart_inst0.rx_clk_divider_RNIFEUD[11] 15 2 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIFEUD[11]_LC_137)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_c 15 2 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIFEUD[11]_LC_137)
set_location DUT.uart_inst0.rx_clk_divider_RNIHF7P_0[3] 13 1 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIHF7P_0[3]_LC_138)
set_location DUT.uart_inst0.rx_clk_divider_RNIHF7P[3] 15 1 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIHF7P[3]_LC_139)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_c 15 1 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIHF7P[3]_LC_139)
set_location DUT.uart_inst0.rx_clk_divider_RNIHHVD[12] 15 2 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIHHVD[12]_LC_140)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_c 15 2 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIHHVD[12]_LC_140)
set_location DUT.uart_inst0.rx_clk_divider_RNIJI8P[4] 15 1 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIJI8P[4]_LC_141)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_4_c 15 1 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIJI8P[4]_LC_141)
set_location DUT.uart_inst0.rx_clk_divider_RNIJK0E[13] 15 2 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIJK0E[13]_LC_142)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_c 15 2 5 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIJK0E[13]_LC_142)
set_location DUT.uart_inst0.rx_clk_divider_RNILL9P[5] 15 1 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNILL9P[5]_LC_143)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_5_c 15 1 5 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNILL9P[5]_LC_143)
set_location DUT.uart_inst0.rx_clk_divider_RNILN1E[14] 15 2 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNILN1E[14]_LC_144)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_c 15 2 6 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNILN1E[14]_LC_144)
set_location DUT.uart_inst0.rx_clk_divider_RNINOAP[6] 15 1 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNINOAP[6]_LC_145)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_c 15 1 6 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNINOAP[6]_LC_145)
set_location DUT.uart_inst0.rx_clk_divider_RNINQ2E[15] 15 2 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNINQ2E[15]_LC_146)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_c 15 2 7 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNINQ2E[15]_LC_146)
set_location DUT.uart_inst0.rx_clk_divider_RNIO0PE2[11] 16 1 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIO0PE2[11]_LC_147)
set_location DUT.uart_inst0.rx_clk_divider_RNIP8N2B[0] 13 2 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIP8N2B[0]_LC_148)
set_location DUT.uart_inst0.rx_clk_divider_RNIP8N2B_0[0] 13 2 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIP8N2B_0[0]_LC_149)
set_location DUT.uart_inst0.rx_clk_divider_RNIP8N2B_1[0] 13 2 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIP8N2B_1[0]_LC_150)
set_location DUT.uart_inst0.rx_clk_divider_RNIP8N2B_2[0] 13 2 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIP8N2B_2[0]_LC_151)
set_location DUT.uart_inst0.rx_clk_divider_RNIPRBP[7] 15 1 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIPRBP[7]_LC_152)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_c 15 1 7 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIPRBP[7]_LC_152)
set_location DUT.uart_inst0.rx_clk_divider_RNIPT3E[16] 15 3 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIPT3E[16]_LC_153)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_16_c 15 3 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIPT3E[16]_LC_153)
set_location DUT.uart_inst0.rx_clk_divider_RNIQ3QE2[14] 14 2 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIQ3QE2[14]_LC_154)
set_location DUT.uart_inst0.rx_clk_divider_RNIQEH13[10] 14 2 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIQEH13[10]_LC_155)
set_location DUT.uart_inst0.rx_clk_divider_RNIR05E[17] 15 3 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIR05E[17]_LC_156)
set_location DUT.uart_inst0.rx_clk_divider_RNIRUCP[8] 15 2 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIRUCP[8]_LC_157)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_c 15 2 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIRUCP[8]_LC_157)
set_location DUT.uart_inst0.rx_clk_divider_RNIS5BA2[0] 16 1 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIS5BA2[0]_LC_158)
set_location DUT.uart_inst0.rx_clk_divider_RNIT1EP[9] 15 2 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIT1EP[9]_LC_159)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_c 15 2 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_RNIT1EP[9]_LC_159)
set_location DUT.uart_inst0.rx_clk_divider_RNO[0] 16 1 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[0]_LC_160)
set_location DUT.uart_inst0.rx_clk_divider[0] 16 1 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[0]_LC_160)
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[5] 14 2 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[5]_LC_161)
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[6] 14 2 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider_RNO_0[6]_LC_162)
set_location DUT.uart_inst0.rx_clk_divider_RNO[1] 16 1 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[1]_LC_163)
set_location DUT.uart_inst0.rx_clk_divider[1] 16 1 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[1]_LC_163)
set_location DUT.uart_inst0.rx_clk_divider_RNO[10] 16 2 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[10]_LC_164)
set_location DUT.uart_inst0.rx_clk_divider[10] 16 2 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[10]_LC_164)
set_location DUT.uart_inst0.rx_clk_divider_RNO[11] 16 1 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[11]_LC_165)
set_location DUT.uart_inst0.rx_clk_divider[11] 16 1 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[11]_LC_165)
set_location DUT.uart_inst0.rx_clk_divider_RNO[12] 16 1 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[12]_LC_166)
set_location DUT.uart_inst0.rx_clk_divider[12] 16 1 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[12]_LC_166)
set_location DUT.uart_inst0.rx_clk_divider_RNO[13] 16 2 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[13]_LC_167)
set_location DUT.uart_inst0.rx_clk_divider[13] 16 2 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[13]_LC_167)
set_location DUT.uart_inst0.rx_clk_divider_RNO[14] 14 2 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[14]_LC_168)
set_location DUT.uart_inst0.rx_clk_divider[14] 14 2 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[14]_LC_168)
set_location DUT.uart_inst0.rx_clk_divider_RNO[15] 14 1 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[15]_LC_169)
set_location DUT.uart_inst0.rx_clk_divider[15] 14 1 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[15]_LC_169)
set_location DUT.uart_inst0.rx_clk_divider_RNO[16] 14 2 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[16]_LC_170)
set_location DUT.uart_inst0.rx_clk_divider[16] 14 2 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[16]_LC_170)
set_location DUT.uart_inst0.rx_clk_divider_RNO[17] 16 2 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[17]_LC_171)
set_location DUT.uart_inst0.rx_clk_divider[17] 16 2 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[17]_LC_171)
set_location DUT.uart_inst0.rx_clk_divider_RNO[2] 16 2 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[2]_LC_172)
set_location DUT.uart_inst0.rx_clk_divider[2] 16 2 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[2]_LC_172)
set_location DUT.uart_inst0.rx_clk_divider_RNO[3] 14 1 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[3]_LC_173)
set_location DUT.uart_inst0.rx_clk_divider[3] 14 1 0 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[3]_LC_173)
set_location DUT.uart_inst0.rx_clk_divider_RNO[4] 14 1 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[4]_LC_174)
set_location DUT.uart_inst0.rx_clk_divider[4] 14 1 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[4]_LC_174)
set_location DUT.uart_inst0.rx_clk_divider_RNO[5] 14 2 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[5]_LC_175)
set_location DUT.uart_inst0.rx_clk_divider[5] 14 2 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[5]_LC_175)
set_location DUT.uart_inst0.rx_clk_divider_RNO[6] 14 1 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[6]_LC_176)
set_location DUT.uart_inst0.rx_clk_divider[6] 14 1 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[6]_LC_176)
set_location DUT.uart_inst0.rx_clk_divider_RNO[7] 14 1 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[7]_LC_177)
set_location DUT.uart_inst0.rx_clk_divider[7] 14 1 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[7]_LC_177)
set_location DUT.uart_inst0.rx_clk_divider_RNO[8] 16 1 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[8]_LC_178)
set_location DUT.uart_inst0.rx_clk_divider[8] 16 1 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[8]_LC_178)
set_location DUT.uart_inst0.rx_clk_divider_RNO[9] 16 1 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_clk_divider[9]_LC_179)
set_location DUT.uart_inst0.rx_clk_divider[9] 16 1 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_clk_divider[9]_LC_179)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_0_c_RNIPQVSB 14 3 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_0_c_RNIPQVSB_LC_180)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_0_c 14 3 1 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_0_c_RNIPQVSB_LC_180)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_0_c_RNO 13 2 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_0_c_RNO_LC_181)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNIHVHJ31 15 4 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNIHVHJ31_LC_182)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNINE4G31 15 4 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNINE4G31_LC_183)
set_location DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNIRV51C 14 3 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNIRV51C_LC_184)
set_location DUT.uart_inst0.rx_countdown_3_cry_2_0_c 14 3 2 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_1_0_c_RNIRV51C_LC_184)
set_location DUT.uart_inst0.rx_countdown_3_cry_2_0_c_RNIT4CLB 14 3 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_2_0_c_RNIT4CLB_LC_185)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_0_c 14 3 3 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_2_0_c_RNIT4CLB_LC_185)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIEB1T62 15 4 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIEB1T62_LC_186)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIP8I482 14 4 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIP8I482_LC_187)
set_location DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIV9IPB 14 3 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIV9IPB_LC_188)
set_location DUT.uart_inst0.rx_countdown_3_cry_4_0_c 14 3 4 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_3_0_c_RNIV9IPB_LC_188)
set_location DUT.uart_inst0.rx_countdown_3_cry_4_0_c_RNI1FOTB 14 3 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_4_0_c_RNI1FOTB_LC_189)
set_location DUT.uart_inst0.rx_countdown_RNITI4IB[0] 14 3 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNITI4IB[0]_LC_190)
set_location DUT.uart_inst0.rx_countdown_RNO[0] 14 1 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[0]_LC_191)
set_location DUT.uart_inst0.rx_countdown[0] 14 1 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[0]_LC_191)
set_location DUT.uart_inst0.rx_countdown_RNO_0[2] 15 3 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_0[2]_LC_192)
set_location DUT.uart_inst0.rx_countdown_RNO[1] 16 2 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[1]_LC_193)
set_location DUT.uart_inst0.rx_countdown[1] 16 2 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[1]_LC_193)
set_location DUT.uart_inst0.rx_countdown_RNO_1[2] 15 3 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_1[2]_LC_194)
set_location DUT.uart_inst0.rx_countdown_RNO[2] 16 2 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[2]_LC_195)
set_location DUT.uart_inst0.rx_countdown[2] 16 2 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[2]_LC_195)
set_location DUT.uart_inst0.rx_countdown_RNO_2[2] 15 3 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown_RNO_2[2]_LC_196)
set_location DUT.uart_inst0.rx_countdown_RNO[3] 14 1 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[3]_LC_197)
set_location DUT.uart_inst0.rx_countdown[3] 14 1 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[3]_LC_197)
set_location DUT.uart_inst0.rx_countdown_RNO[4] 17 3 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[4]_LC_198)
set_location DUT.uart_inst0.rx_countdown[4] 17 3 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[4]_LC_198)
set_location DUT.uart_inst0.rx_countdown_RNO[5] 16 2 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_countdown[5]_LC_199)
set_location DUT.uart_inst0.rx_countdown[5] 16 2 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_countdown[5]_LC_199)
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3] 17 8 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3]_LC_200)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[0] 17 8 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[0]_LC_201)
set_location DUT.uart_inst0.tx_bits_remaining[0] 17 8 3 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[0]_LC_201)
set_location DUT.uart_inst0.tx_bits_remaining_RNO_0[3] 17 8 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining_RNO_0[3]_LC_202)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[1] 17 8 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_203)
set_location DUT.uart_inst0.tx_bits_remaining[1] 17 8 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[1]_LC_203)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[2] 17 8 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_204)
set_location DUT.uart_inst0.tx_bits_remaining[2] 17 8 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_bits_remaining[2]_LC_204)
set_location DUT.uart_inst0.tx_bits_remaining_RNO[3] 17 9 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_bits_remaining[3]_LC_205)
set_location DUT.uart_inst0.tx_bits_remaining[3] 17 9 2 # SB_DFF (LogicCell: DUT.uart_inst0.tx_bits_remaining[3]_LC_205)
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[8] 20 10 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[8]_LC_206)
set_location DUT.uart_inst0.tx_clk_divider_RNIA7A5[4] 20 9 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNIA7A5[4]_LC_207)
set_location DUT.uart_inst0.tx_clk_divider_RNIHKCN[13] 20 10 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNIHKCN[13]_LC_208)
set_location DUT.uart_inst0.tx_clk_divider_RNIQM95[0] 20 10 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNIQM95[0]_LC_209)
set_location DUT.uart_inst0.tx_clk_divider_RNITC2S1[0] 20 10 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider_RNITC2S1[0]_LC_210)
set_location DUT.uart_inst0.tx_clk_divider_RNO[0] 21 10 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[0]_LC_211)
set_location DUT.uart_inst0.tx_clk_divider[0] 21 10 7 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[0]_LC_211)
set_location DUT.uart_inst0.tx_clk_divider_RNO[1] 21 9 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_212)
set_location DUT.uart_inst0.tx_clk_divider[1] 21 9 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_212)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[1] 21 9 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[1]_LC_212)
set_location DUT.uart_inst0.tx_clk_divider_RNO[10] 21 10 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_213)
set_location DUT.uart_inst0.tx_clk_divider[10] 21 10 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_213)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[10] 21 10 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[10]_LC_213)
set_location DUT.uart_inst0.tx_clk_divider_RNO[11] 21 10 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_214)
set_location DUT.uart_inst0.tx_clk_divider[11] 21 10 3 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_214)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[11] 21 10 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[11]_LC_214)
set_location DUT.uart_inst0.tx_clk_divider_RNO[12] 21 10 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_215)
set_location DUT.uart_inst0.tx_clk_divider[12] 21 10 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_215)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[12] 21 10 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[12]_LC_215)
set_location DUT.uart_inst0.tx_clk_divider_RNO[13] 21 10 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[13]_LC_216)
set_location DUT.uart_inst0.tx_clk_divider[13] 21 10 5 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[13]_LC_216)
set_location DUT.uart_inst0.tx_clk_divider_RNO[2] 21 9 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_217)
set_location DUT.uart_inst0.tx_clk_divider[2] 21 9 2 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_217)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[2] 21 9 2 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[2]_LC_217)
set_location DUT.uart_inst0.tx_clk_divider_RNO[3] 21 9 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_218)
set_location DUT.uart_inst0.tx_clk_divider[3] 21 9 3 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_218)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[3] 21 9 3 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[3]_LC_218)
set_location DUT.uart_inst0.tx_clk_divider_RNO[4] 21 9 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_219)
set_location DUT.uart_inst0.tx_clk_divider[4] 21 9 4 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_219)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[4] 21 9 4 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[4]_LC_219)
set_location DUT.uart_inst0.tx_clk_divider_RNO[5] 21 9 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_220)
set_location DUT.uart_inst0.tx_clk_divider[5] 21 9 5 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_220)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[5] 21 9 5 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[5]_LC_220)
set_location DUT.uart_inst0.tx_clk_divider_RNO[6] 21 9 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_221)
set_location DUT.uart_inst0.tx_clk_divider[6] 21 9 6 # SB_DFFSS (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_221)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[6] 21 9 6 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[6]_LC_221)
set_location DUT.uart_inst0.tx_clk_divider_RNO[7] 21 9 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_222)
set_location DUT.uart_inst0.tx_clk_divider[7] 21 9 7 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_222)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[7] 21 9 7 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[7]_LC_222)
set_location DUT.uart_inst0.tx_clk_divider_RNO[8] 21 10 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_223)
set_location DUT.uart_inst0.tx_clk_divider[8] 21 10 0 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_223)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[8] 21 10 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[8]_LC_223)
set_location DUT.uart_inst0.tx_clk_divider_RNO[9] 21 10 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_224)
set_location DUT.uart_inst0.tx_clk_divider[9] 21 10 1 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_224)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[9] 21 10 1 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider[9]_LC_224)
set_location DUT.uart_inst0.tx_countdown_RNI34HK1[2] 17 10 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI34HK1[2]_LC_225)
set_location DUT.uart_inst0.tx_countdown_RNI3MLP6[3] 17 9 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI3MLP6[3]_LC_226)
set_location DUT.uart_inst0.tx_countdown_RNI45HK1[2] 17 10 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNI45HK1[2]_LC_227)
set_location DUT.uart_inst0.tx_countdown_RNIJKPE2_0[3] 17 10 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIJKPE2_0[3]_LC_228)
set_location DUT.uart_inst0.tx_countdown_RNIJKPE2[3] 17 10 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIJKPE2[3]_LC_229)
set_location DUT.uart_inst0.tx_countdown_RNIUUGK1[2] 18 11 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNIUUGK1[2]_LC_230)
set_location DUT.uart_inst0.tx_countdown_RNO[0] 18 10 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[0]_LC_231)
set_location DUT.uart_inst0.tx_countdown[0] 18 10 2 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[0]_LC_231)
set_location DUT.uart_inst0.tx_countdown_RNO_0[1] 18 11 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[1]_LC_232)
set_location DUT.uart_inst0.tx_countdown_RNO_0[2] 17 11 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[2]_LC_233)
set_location DUT.uart_inst0.tx_countdown_RNO_0[3] 17 11 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[3]_LC_234)
set_location DUT.uart_inst0.tx_countdown_RNO_0[4] 18 11 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[4]_LC_235)
set_location DUT.uart_inst0.tx_countdown_RNO_0[5] 18 11 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_0[5]_LC_236)
set_location DUT.uart_inst0.tx_countdown_RNO[1] 18 11 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[1]_LC_237)
set_location DUT.uart_inst0.tx_countdown[1] 18 11 3 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[1]_LC_237)
set_location DUT.uart_inst0.tx_countdown_RNO_1[2] 18 9 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_1[2]_LC_238)
set_location DUT.uart_inst0.tx_countdown_RNO_1[3] 17 11 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_1[3]_LC_239)
set_location DUT.uart_inst0.tx_countdown_RNO[2] 18 10 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[2]_LC_240)
set_location DUT.uart_inst0.tx_countdown[2] 18 10 4 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[2]_LC_240)
set_location DUT.uart_inst0.tx_countdown_RNO_2[2] 18 11 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_2[2]_LC_241)
set_location DUT.uart_inst0.tx_countdown_RNO[3] 18 11 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[3]_LC_242)
set_location DUT.uart_inst0.tx_countdown[3] 18 11 7 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[3]_LC_242)
set_location DUT.uart_inst0.tx_countdown_RNO_3[2] 18 11 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown_RNO_3[2]_LC_243)
set_location DUT.uart_inst0.tx_countdown_RNO[4] 18 10 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[4]_LC_244)
set_location DUT.uart_inst0.tx_countdown[4] 18 10 3 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[4]_LC_244)
set_location DUT.uart_inst0.tx_countdown_RNO[5] 18 10 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_countdown[5]_LC_245)
set_location DUT.uart_inst0.tx_countdown[5] 18 10 5 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_countdown[5]_LC_245)
set_location DUT.uart_inst0.tx_data_RNO[0] 16 7 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[0]_LC_246)
set_location DUT.uart_inst0.tx_data[0] 16 7 0 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[0]_LC_246)
set_location DUT.uart_inst0.tx_data_RNO[1] 16 7 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[1]_LC_247)
set_location DUT.uart_inst0.tx_data[1] 16 7 4 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[1]_LC_247)
set_location DUT.uart_inst0.tx_data_RNO[2] 16 7 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[2]_LC_248)
set_location DUT.uart_inst0.tx_data[2] 16 7 5 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[2]_LC_248)
set_location DUT.uart_inst0.tx_data_RNO[3] 16 7 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[3]_LC_249)
set_location DUT.uart_inst0.tx_data[3] 16 7 6 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[3]_LC_249)
set_location DUT.uart_inst0.tx_data_RNO[4] 16 9 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[4]_LC_250)
set_location DUT.uart_inst0.tx_data[4] 16 9 5 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[4]_LC_250)
set_location DUT.uart_inst0.tx_data_RNO[5] 16 9 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[5]_LC_251)
set_location DUT.uart_inst0.tx_data[5] 16 9 0 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[5]_LC_251)
set_location DUT.uart_inst0.tx_data_RNO[6] 16 9 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[6]_LC_252)
set_location DUT.uart_inst0.tx_data[6] 16 9 1 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[6]_LC_252)
set_location DUT.uart_inst0.tx_data_RNO[7] 16 9 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_data[7]_LC_253)
set_location DUT.uart_inst0.tx_data[7] 16 9 6 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_data[7]_LC_253)
set_location DUT.uart_inst0.tx_out_RNO 14 1 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_LC_254)
set_location DUT.uart_inst0.tx_out 14 1 7 # SB_DFFE (LogicCell: DUT.uart_inst0.tx_out_LC_254)
set_location DUT.uart_inst0.tx_out_RNO_0 16 7 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_0_LC_255)
set_location DUT.uart_inst0.tx_out_RNO_1 16 8 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_1_LC_256)
set_location DUT.uart_inst0.tx_out_RNO_2 16 10 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_2_LC_257)
set_location DUT.uart_inst0.tx_out_RNO_3 16 8 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_out_RNO_3_LC_258)
set_location DUT.uart_inst0.tx_state_RNI5PJS2[1] 20 10 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI5PJS2[1]_LC_259)
set_location DUT.uart_inst0.tx_state_RNI6Q5N3[1] 17 8 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI6Q5N3[1]_LC_260)
set_location DUT.uart_inst0.tx_state_RNI8CH01_0[1] 18 8 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI8CH01_0[1]_LC_261)
set_location DUT.uart_inst0.tx_state_RNI8CH01[1] 18 8 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI8CH01[1]_LC_262)
set_location DUT.uart_inst0.tx_state_RNI9B9Q2[1] 20 11 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNI9B9Q2[1]_LC_263)
set_location DUT.uart_inst0.tx_state_RNIBVOQB[0] 17 10 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIBVOQB[0]_LC_264)
set_location DUT.uart_inst0.tx_state_RNICODU[0] 17 9 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNICODU[0]_LC_265)
set_location DUT.uart_inst0.tx_state_RNICU6U[1] 18 8 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNICU6U[1]_LC_266)
set_location DUT.uart_inst0.tx_state_RNIFE3O7[0] 17 10 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIFE3O7[0]_LC_267)
set_location DUT.uart_inst0.tx_state_RNIIAMI1[1] 17 9 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIIAMI1[1]_LC_268)
set_location DUT.uart_inst0.tx_state_RNIJ5C81[1] 17 8 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIJ5C81[1]_LC_269)
set_location DUT.uart_inst0.tx_state_RNILHU57[1] 17 9 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNILHU57[1]_LC_270)
set_location DUT.uart_inst0.tx_state_RNINQKO8[0] 17 9 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNINQKO8[0]_LC_271)
set_location DUT.uart_inst0.tx_state_RNINQKO8_0[0] 16 8 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNINQKO8_0[0]_LC_272)
set_location DUT.uart_inst0.tx_state_RNIQOK61[0] 15 9 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state_RNIQOK61[0]_LC_273)
set_location DUT.uart_inst0.tx_state_RNO[0] 17 11 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state[0]_LC_274)
set_location DUT.uart_inst0.tx_state[0] 17 11 7 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_state[0]_LC_274)
set_location DUT.uart_inst0.tx_state_RNO[1] 17 11 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.tx_state[1]_LC_275)
set_location DUT.uart_inst0.tx_state[1] 17 11 5 # SB_DFFSR (LogicCell: DUT.uart_inst0.tx_state[1]_LC_275)
set_location DUT.uart_inst0.un1_oRxFlag_0_i 12 5 0 # SB_LUT4 (LogicCell: DUT.uart_inst0.un1_oRxFlag_0_i_LC_276)
set_location DUT.uart_inst0.wPllLocked_i 12 30 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.wPllLocked_i_LC_277)
set_location fifo_inst.ftdi_output_inst.oRxFlag_RNO 17 5 2 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oRxFlag_LC_278)
set_location fifo_inst.ftdi_output_inst.oRxFlag 17 5 2 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.oRxFlag_LC_278)
set_location fifo_inst.ftdi_output_inst.oRx_n_RNO 17 6 1 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oRx_n_LC_279)
set_location fifo_inst.ftdi_output_inst.oRx_n 17 6 1 # SB_DFFSS (LogicCell: fifo_inst.ftdi_output_inst.oRx_n_LC_279)
set_location fifo_inst.ftdi_output_inst.oTx_n_RNO 15 11 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.oTx_n_LC_280)
set_location fifo_inst.ftdi_output_inst.oTx_n 15 11 6 # SB_DFFSS (LogicCell: fifo_inst.ftdi_output_inst.oTx_n_LC_280)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ[0] 18 4 1 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep3_i_ess_LC_281)
set_location fifo_inst.ftdi_output_inst.rTxBusReady_rep3_i_ess 18 4 1 # SB_DFFESS (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep3_i_ess_LC_281)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ_0[0] 16 10 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ_0[0]_LC_282)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIDTQ4[1] 14 5 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNIDTQ4[1]_LC_283)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH[4] 15 10 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH[4]_LC_284)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNII7TE1[0] 18 5 2 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNII7TE1[0]_LC_285)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIMPIC1[0] 18 5 1 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNIMPIC1[0]_LC_286)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIR68B[0] 18 6 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNIR68B[0]_LC_287)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[0] 17 9 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[0]_LC_288)
set_location fifo_inst.ftdi_output_inst.rFifoState[0] 17 9 5 # SB_DFF (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[0]_LC_288)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO_0[0] 17 9 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState_RNO_0[0]_LC_289)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[4] 15 11 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[4]_LC_290)
set_location fifo_inst.ftdi_output_inst.rFifoState[4] 15 11 4 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[4]_LC_290)
set_location fifo_inst.ftdi_output_inst.rTxBusReady_RNO 15 11 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_LC_291)
set_location fifo_inst.ftdi_output_inst.rTxBusReady 15 11 7 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_LC_291)
set_location fifo_inst.ftdi_output_inst.rWrDelay_RNO 15 11 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rWrDelay_LC_292)
set_location fifo_inst.ftdi_output_inst.rWrDelay 15 11 5 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rWrDelay_LC_292)
set_location ioFifoData_iobuf_RNO[0] 16 3 1 # SB_LUT4 (LogicCell: ioFifoData_iobuf_RNO[0]_LC_293)
set_location ioFifoData_iobuf_RNO[1] 18 3 3 # SB_LUT4 (LogicCell: ioFifoData_iobuf_RNO[1]_LC_294)
set_location ioFifoData_iobuf_RNO[2] 20 2 6 # SB_LUT4 (LogicCell: ioFifoData_iobuf_RNO[2]_LC_295)
set_location ioFifoData_iobuf_RNO[3] 18 1 7 # SB_LUT4 (LogicCell: ioFifoData_iobuf_RNO[3]_LC_296)
set_location rRxRead_esr_RNO 14 5 2 # SB_LUT4 (LogicCell: rRxRead_esr_RNO_LC_297)
set_location rTxByte_esr_ctle[7] 12 5 1 # SB_LUT4 (LogicCell: rTxByte_esr_ctle[7]_LC_298)
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0_rRxRead_esr_REP_LUT4_0 13 5 1 # SB_LUT4 (LogicCell: rRxRead_esr_LC_299)
set_location rRxRead_esr 13 5 1 # SB_DFFESR (LogicCell: rRxRead_esr_LC_299)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 11 8 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0]_LC_300)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0] 11 8 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0]_LC_300)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 11 8 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1]_LC_301)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1] 11 8 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1]_LC_301)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 13 11 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2]_LC_302)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2] 13 11 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2]_LC_302)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 13 11 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3]_LC_303)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3] 13 11 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3]_LC_303)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 13 11 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4]_LC_304)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4] 13 11 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4]_LC_304)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 12 11 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5]_LC_305)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5] 12 11 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5]_LC_305)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 12 11 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6]_LC_306)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6] 12 11 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6]_LC_306)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 12 8 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7]_LC_307)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7] 12 8 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7]_LC_307)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 11 9 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0]_LC_308)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0] 11 9 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0]_LC_308)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 11 6 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1]_LC_309)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1] 11 6 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1]_LC_309)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 11 9 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2]_LC_310)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2] 11 9 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2]_LC_310)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 14 11 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3]_LC_311)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3] 14 11 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3]_LC_311)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 14 11 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4]_LC_312)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4] 14 11 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4]_LC_312)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 14 11 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5]_LC_313)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5] 14 11 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5]_LC_313)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 11 9 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6]_LC_314)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6] 11 9 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6]_LC_314)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 11 9 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7]_LC_315)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7] 11 9 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7]_LC_315)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 11 10 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0]_LC_316)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0] 11 10 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0]_LC_316)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 14 8 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1]_LC_317)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1] 14 8 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1]_LC_317)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 13 12 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2]_LC_318)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2] 13 12 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2]_LC_318)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 12 12 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3]_LC_319)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3] 12 12 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3]_LC_319)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 12 12 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4]_LC_320)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4] 12 12 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4]_LC_320)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 13 12 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5]_LC_321)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5] 13 12 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5]_LC_321)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 14 8 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6]_LC_322)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6] 14 8 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6]_LC_322)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 14 8 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7]_LC_323)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7] 14 8 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7]_LC_323)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 12 9 0 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0]_LC_324)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0] 12 9 0 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0]_LC_324)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 12 9 1 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1]_LC_325)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1] 12 9 1 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1]_LC_325)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 12 9 2 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2]_LC_326)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2] 12 9 2 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2]_LC_326)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 12 9 3 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3]_LC_327)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3] 12 9 3 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3]_LC_327)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 12 9 4 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4]_LC_328)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4] 12 9 4 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4]_LC_328)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 12 9 5 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5]_LC_329)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5] 12 9 5 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5]_LC_329)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 12 9 6 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6]_LC_330)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6] 12 9 6 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6]_LC_330)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 12 9 7 # SB_LUT4 (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7]_LC_331)
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7] 12 9 7 # SB_DFFE (LogicCell: DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7]_LC_331)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 14 6 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0]_LC_332)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0] 14 6 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0]_LC_332)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 10 5 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1]_LC_333)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1] 10 5 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1]_LC_333)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 17 7 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2]_LC_334)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2] 17 7 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2]_LC_334)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 13 4 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3]_LC_335)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3] 13 4 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3]_LC_335)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 15 8 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4]_LC_336)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4] 15 8 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4]_LC_336)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 15 8 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5]_LC_337)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5] 15 8 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5]_LC_337)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 10 7 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6]_LC_338)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6] 10 7 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6]_LC_338)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 17 7 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7]_LC_339)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7] 17 7 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7]_LC_339)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 14 7 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0]_LC_340)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0] 14 7 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0]_LC_340)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 14 7 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1]_LC_341)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1] 14 7 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1]_LC_341)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 14 7 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2]_LC_342)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2] 14 7 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2]_LC_342)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 14 7 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3]_LC_343)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3] 14 7 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3]_LC_343)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 14 7 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4]_LC_344)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4] 14 7 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4]_LC_344)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 14 7 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5]_LC_345)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5] 14 7 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5]_LC_345)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 14 7 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6]_LC_346)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6] 14 7 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6]_LC_346)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 14 7 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7]_LC_347)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7] 14 7 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7]_LC_347)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 15 7 0 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0]_LC_348)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0] 15 7 0 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0]_LC_348)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 15 7 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1]_LC_349)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1] 15 7 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1]_LC_349)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 15 7 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2]_LC_350)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2] 15 7 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2]_LC_350)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 15 7 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3]_LC_351)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3] 15 7 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3]_LC_351)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 15 7 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4]_LC_352)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4] 15 7 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4]_LC_352)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 15 7 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5]_LC_353)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5] 15 7 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5]_LC_353)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 15 7 6 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6]_LC_354)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6] 15 7 6 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6]_LC_354)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 15 7 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7]_LC_355)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7] 15 7 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7]_LC_355)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 10 6 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0]_LC_356)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0] 10 6 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0]_LC_356)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 15 6 1 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1]_LC_357)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1] 15 6 1 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1]_LC_357)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 15 6 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2]_LC_358)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2] 15 6 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2]_LC_358)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 15 6 3 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3]_LC_359)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3] 15 6 3 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3]_LC_359)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 15 6 4 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4]_LC_360)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4] 15 6 4 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4]_LC_360)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 15 6 5 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5]_LC_361)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5] 15 6 5 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5]_LC_361)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 10 9 2 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6]_LC_362)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6] 10 9 2 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6]_LC_362)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 15 6 7 # SB_LUT4 (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7]_LC_363)
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7] 15 6 7 # SB_DFFE (LogicCell: DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7]_LC_363)
set_location DUT.uart_inst0.rx_data_0_THRU_LUT4_0 15 5 2 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[0]_LC_364)
set_location DUT.uart_inst0.rx_data[0] 15 5 2 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[0]_LC_364)
set_location DUT.uart_inst0.rx_data_1_THRU_LUT4_0 15 5 1 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[1]_LC_365)
set_location DUT.uart_inst0.rx_data[1] 15 5 1 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[1]_LC_365)
set_location DUT.uart_inst0.rx_data_2_THRU_LUT4_0 16 5 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[2]_LC_366)
set_location DUT.uart_inst0.rx_data[2] 16 5 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[2]_LC_366)
set_location DUT.uart_inst0.rx_data_3_THRU_LUT4_0 15 5 3 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[3]_LC_367)
set_location DUT.uart_inst0.rx_data[3] 15 5 3 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[3]_LC_367)
set_location DUT.uart_inst0.rx_data_4_THRU_LUT4_0 15 5 4 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[4]_LC_368)
set_location DUT.uart_inst0.rx_data[4] 15 5 4 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[4]_LC_368)
set_location DUT.uart_inst0.rx_data_5_THRU_LUT4_0 15 5 5 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[5]_LC_369)
set_location DUT.uart_inst0.rx_data[5] 15 5 5 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[5]_LC_369)
set_location DUT.uart_inst0.rx_data_6_THRU_LUT4_0 15 5 6 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[6]_LC_370)
set_location DUT.uart_inst0.rx_data[6] 15 5 6 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[6]_LC_370)
set_location DUT.uart_inst0.rx_data_7_THRU_LUT4_0 15 5 7 # SB_LUT4 (LogicCell: DUT.uart_inst0.rx_data[7]_LC_371)
set_location DUT.uart_inst0.rx_data[7] 15 5 7 # SB_DFFE (LogicCell: DUT.uart_inst0.rx_data[7]_LC_371)
set_location DUT.uart_inst0.un1_oRxFlag_0_i_rTxWrite_REP_LUT4_0 17 6 0 # SB_LUT4 (LogicCell: rTxWrite_LC_372)
set_location rTxWrite 17 6 0 # SB_DFFSR (LogicCell: rTxWrite_LC_372)
set_location fifo_inst.ftdi_output_inst.rFifoState_2_THRU_LUT4_0 17 5 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[2]_LC_373)
set_location fifo_inst.ftdi_output_inst.rFifoState[2] 17 5 4 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[2]_LC_373)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ_0_fifo_inst.ftdi_output_inst.rTxBusReady_rep0_i_ess_REP_LUT4_0 18 4 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep0_i_ess_LC_374)
set_location fifo_inst.ftdi_output_inst.rTxBusReady_rep0_i_ess 18 4 3 # SB_DFFESS (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep0_i_ess_LC_374)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ_0_fifo_inst.ftdi_output_inst.rTxBusReady_rep1_i_ess_REP_LUT4_0 18 4 0 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep1_i_ess_LC_375)
set_location fifo_inst.ftdi_output_inst.rTxBusReady_rep1_i_ess 18 4 0 # SB_DFFESS (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep1_i_ess_LC_375)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ_0_fifo_inst.ftdi_output_inst.rTxBusReady_rep2_i_ess_REP_LUT4_0 18 4 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep2_i_ess_LC_376)
set_location fifo_inst.ftdi_output_inst.rTxBusReady_rep2_i_ess 18 4 5 # SB_DFFESS (LogicCell: fifo_inst.ftdi_output_inst.rTxBusReady_rep2_i_ess_LC_376)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNI7AJQ_0_0_fifo_inst.ftdi_output_inst.rFifoState_3_REP_LUT4_0 15 11 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[3]_LC_377)
set_location fifo_inst.ftdi_output_inst.rFifoState[3] 15 11 3 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[3]_LC_377)
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIR68B_0_fifo_inst.ftdi_output_inst.rFifoState_1_REP_LUT4_0 17 5 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[1]_LC_378)
set_location fifo_inst.ftdi_output_inst.rFifoState[1] 17 5 6 # SB_DFFSR (LogicCell: fifo_inst.ftdi_output_inst.rFifoState[1]_LC_378)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_0_THRU_LUT4_0 12 6 4 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[0]_LC_379)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[0] 12 6 4 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[0]_LC_379)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_1_THRU_LUT4_0 13 6 2 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[1]_LC_380)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[1] 13 6 2 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[1]_LC_380)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_2_THRU_LUT4_0 13 6 7 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[2]_LC_381)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[2] 13 6 7 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[2]_LC_381)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_3_THRU_LUT4_0 13 6 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[3]_LC_382)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[3] 13 6 3 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[3]_LC_382)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_4_THRU_LUT4_0 12 6 6 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[4]_LC_383)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[4] 12 6 6 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[4]_LC_383)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_5_THRU_LUT4_0 13 6 5 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[5]_LC_384)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[5] 13 6 5 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[5]_LC_384)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_6_THRU_LUT4_0 12 6 3 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[6]_LC_385)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[6] 12 6 3 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[6]_LC_385)
set_location fifo_inst.ftdi_output_inst.rRxData_esr_7_THRU_LUT4_0 13 6 0 # SB_LUT4 (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[7]_LC_386)
set_location fifo_inst.ftdi_output_inst.rRxData_esr[7] 13 6 0 # SB_DFFESR (LogicCell: fifo_inst.ftdi_output_inst.rRxData_esr[7]_LC_386)
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c 12 4 0 # SB_CARRY (LogicCell: DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_LC_387)
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c 16 11 0 # SB_CARRY (LogicCell: DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_LC_388)
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_c 15 1 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_clk_divider_1_cry_0_c_LC_389)
set_location DUT.uart_inst0.rx_countdown_3_cry_0_0_c 14 3 0 # SB_CARRY (LogicCell: DUT.uart_inst0.rx_countdown_3_cry_0_0_c_LC_390)
set_location DUT.uart_inst0.tx_clk_divider_cry_c[0] 21 9 0 # SB_CARRY (LogicCell: DUT.uart_inst0.tx_clk_divider_cry_c[0]_LC_391)
set_location PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0 1 30 0 # SB_LUT4 (LogicCell: LC_PLL_PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK)
set_io BTN_N_ibuf 16 0 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io P1A1_ibuf 9 0 0 # ICE_IO
set_io P1A2_obuf 8 0 0 # ICE_IO
set_io P1A3_obuf 6 0 0 # ICE_IO
set_io P1A4_obuf 7 0 1 # ICE_IO
set_io P1A7_obuf 9 0 1 # ICE_IO
set_io P1A8_obuft 7 0 0 # ICE_IO
set_io P1A9_obuft 5 0 0 # ICE_IO
set_io iRxF_n_ibuf 18 31 0 # ICE_IO
set_io iTxE_n_ibuf 18 31 1 # ICE_IO
set_io ioFifoData_iobuf[0] 13 0 1 # ICE_IO
set_io ioFifoData_iobuf[1] 15 0 0 # ICE_IO
set_io ioFifoData_iobuf[2] 22 0 1 # ICE_IO
set_io ioFifoData_iobuf[3] 21 0 1 # ICE_IO
set_io ioFifoData_iobuf[4] 19 0 1 # ICE_IO
set_io ioFifoData_iobuf[5] 18 0 1 # ICE_IO
set_io ioFifoData_iobuf[6] 19 31 0 # ICE_IO
set_io ioFifoData_iobuf[7] 19 31 1 # ICE_IO
set_io oRx_n_obuf 17 0 0 # ICE_IO
set_io oTx_n_obuf 13 31 0 # ICE_IO
set_location top_pll_inst.top_pll_inst 12 31 1 # SB_PLL40_PAD
set_io top_pll_inst.top_pll_inst_RNISDA2 12 0 1 # ICE_GB
set_io wPllLocked_i_g_gb 12 31 1 # ICE_GB
set_location CONSTANT_ONE_LUT4 14 23 2 # SB_LUT4 (LogicCell: LC_393)
