# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Mar 28 2020 19:38:59

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 20
set_io ioFifoData[4] 20
set_io oTx_n 37
set_io P1A1 4
set_io P1A9 46
set_io ioFifoData[3] 19
set_io ioFifoData[7] 25
set_io BTN_N 10
set_io P1A2 2
set_io iClk 35
set_io iRxF_n 26
set_io iTxE_n 27
set_io ioFifoData[2] 18
set_io ioFifoData[6] 23
set_io P1A3 47
set_io P1A7 3
set_io ioFifoData[1] 9
set_io ioFifoData[5] 21
set_io oRx_n 11
set_io P1A8 48
set_io ioFifoData[0] 6

