set_location IN_MUX_bfv_17_12_0_ 17 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_10_0_ 17 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_15_0_ 14 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_14_0_ 14 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_14_0_ 12 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_15_0_ 12 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_12_0_ 13 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_11_0_ 11 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_12_0_ 11 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_13_0_ 11 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_20_17_0_ 20 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_16_0_ 10 16 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 15 9 6 #SB_LUT4
set_location PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0 1 30 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0 11 12 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0 11 12 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0 11 12 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0 11 11 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0 11 11 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0 11 11 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0 11 13 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0 11 12 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0 11 12 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0 11 12 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0 11 12 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0 11 12 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0 11 11 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_8_THRU_LUT4_0 18 10 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_5_THRU_LUT4_0 18 10 0 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNISDA2_0_fifo_inst.tx_fifo_inst.rRamRdAddr_0_REP_LUT4_0 17 9 7 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNIRPB71_0_fifo_inst.ft2232h_inst.rFifoState_3_REP_LUT4_0 15 16 7 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNIG8PK_4_fifo_inst.ft2232h_inst.rTxRdEn_fast_REP_LUT4_0 17 11 7 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNIG8PK_4_fifo_inst.ft2232h_inst.rTxRdEn_REP_LUT4_0 18 11 6 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_2_THRU_LUT4_0 15 16 4 #SB_LUT4
set_location DUT.uart_inst0.rx_data_7_THRU_LUT4_0 12 19 5 #SB_LUT4
set_location DUT.uart_inst0.rx_data_6_THRU_LUT4_0 13 20 6 #SB_LUT4
set_location DUT.uart_inst0.rx_data_5_THRU_LUT4_0 13 20 5 #SB_LUT4
set_location DUT.uart_inst0.rx_data_4_THRU_LUT4_0 12 19 2 #SB_LUT4
set_location DUT.uart_inst0.rx_data_3_THRU_LUT4_0 13 20 3 #SB_LUT4
set_location DUT.uart_inst0.rx_data_2_THRU_LUT4_0 13 20 0 #SB_LUT4
set_location DUT.uart_inst0.rx_data_1_THRU_LUT4_0 13 20 4 #SB_LUT4
set_location DUT.uart_inst0.rx_data_0_THRU_LUT4_0 12 20 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 17 15 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 17 15 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 17 15 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 17 15 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 17 15 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 17 15 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 17 15 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 17 15 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 16 14 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 16 16 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 16 14 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 16 16 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 16 14 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 16 16 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 16 14 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 16 14 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 18 14 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 16 17 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 20 14 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 16 17 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 18 14 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 18 14 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 18 14 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 18 14 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 18 16 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 18 16 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 16 15 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 16 15 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 18 16 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 18 16 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 18 15 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 18 15 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 14 20 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 14 20 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 14 20 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 15 18 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 14 20 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 15 18 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 15 18 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 15 18 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 15 19 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 15 19 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 15 19 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 15 19 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 15 19 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 15 19 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 15 19 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 15 19 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 14 18 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 14 18 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 14 18 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 14 18 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 14 18 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 14 18 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 14 18 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 14 18 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 12 18 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 12 18 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 13 19 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 13 19 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 13 19 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 13 19 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 12 18 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 15 20 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0_0_rRxRead_REP_LUT4_0 14 16 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown[3] 14 13 3 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3] 18 14 3 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNI[8] 18 11 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[13] 12 15 5 #SB_DFFSR
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_c 11 12 3 #SB_CARRY
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_0[1] 17 17 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNI250E6[0] 14 17 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNIMQ571[1] 12 11 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7] 16 14 7 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_c 11 11 0 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider[5] 13 11 0 #SB_DFFE
set_location DUT.uart_inst0.recv_state[4] 11 14 1 #SB_DFF
set_location DUT.fifo_tx_inst.rWritePtr[0] 17 17 3 #SB_DFF
set_location DUT.fifo_tx_inst.rFifoDatarff_0 14 16 4 #SB_DFFSR
set_location DUT.fifo_rx_inst.rWritePtr[0] 10 17 3 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNI0AQO1 13 17 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2] 15 18 5 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_3_c 17 10 2 #SB_CARRY
set_location DUT.uart_inst0.tx_state_RNI9DTT5[0] 15 14 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_c 11 12 4 #SB_CARRY
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_3_c_RNI7K22 17 10 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[1] 12 14 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[4] 15 11 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI5EJ22[0] 15 17 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_2_c 13 12 2 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4] 16 17 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6] 13 18 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0] 15 17 0 #SB_LUT4
set_location DUT.uart_inst0.tx_out_RNO_0 15 12 1 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO_0[3] 14 15 3 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[3] 12 16 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3] 17 13 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0] 15 19 0 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIMJ5EC 15 14 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2] 16 16 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7] 18 16 2 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider[2] 11 10 7 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0] 18 17 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[0] 11 16 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_c 11 11 7 #SB_CARRY
set_location DUT.uart_inst0.tx_data[6] 16 13 4 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_3_cry_4_c_RNI0QQM4 13 12 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4] 16 15 0 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU[1] 16 11 6 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNIN7BAE[0] 14 12 4 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[6] 12 14 6 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rTxRdEn_fast 17 11 7 #SB_DFF
set_location DUT.uart_inst0.tx_countdown[5] 13 14 0 #SB_DFFE
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1] 12 17 4 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNO_0[0] 15 15 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_1 13 17 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5] 14 20 5 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIP2K22[5] 14 19 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7] 15 19 7 #SB_DFFE
set_location rTxByte_esr[7] 15 17 2 #SB_DFFESR
set_location fifo_inst.ft2232h_inst.rTx_n_RNO 15 16 1 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining[1] 14 15 1 #SB_DFFSR
set_location fifo_inst.ft2232h_inst.rTxRdEn 18 11 6 #SB_DFF
set_location DUT.uart_inst0.tx_data_RNO[6] 16 13 4 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI8O692[5] 13 15 7 #SB_LUT4
set_location DUT.uart_inst0.rx_data[2] 13 20 0 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2] 18 16 0 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount[0] 18 18 5 #SB_DFFSR
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[2] 16 10 1 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNO[1] 15 16 0 #SB_LUT4
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_2_c 14 15 2 #SB_CARRY
set_location DUT.uart_inst0.tx_countdown_RNO[4] 14 13 2 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI5L692[2] 13 15 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI3J692[0] 13 14 6 #SB_LUT4
set_location DUT.uart_inst0.recv_state[2] 13 16 4 #SB_DFF
set_location DUT.fifo_tx_inst.rReadPtr_RNO[1] 18 13 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1] 12 18 4 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_RNO[8] 12 15 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNIR5NO[9] 13 15 1 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO_1[3] 15 15 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[0] 17 9 7 #SB_DFFER
set_location DUT.uart_inst0.rx_clk_divider[17] 11 13 1 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4] 14 19 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07 15 11 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[6] 12 14 6 #SB_DFFSS
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[3] 11 11 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNO[2] 10 16 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data[3] 16 12 1 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining_RNIUJI11[3] 12 16 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNO 14 16 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[17] 11 13 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[9] 10 12 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5] 17 15 1 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_7_c 17 12 6 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown[1] 12 12 0 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO[3] 11 15 6 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_5_c_RNI9O42 17 10 5 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIVQ9CI[0] 14 12 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1 14 17 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_2 15 16 6 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6] 14 20 2 #SB_DFFE
set_location rTxByte_esr[0] 15 17 1 #SB_DFFESR
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIGLV01[2] 16 10 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1] 18 15 5 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_0 16 11 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_0[1] 16 11 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4] 13 19 5 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNO[5] 12 12 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[0] 12 10 7 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining[2] 12 16 7 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoDatarff_1_RNO 13 17 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[7] 17 9 1 #SB_DFFER
set_location fifo_inst.ft2232h_inst.rTx_n 15 16 1 #SB_DFFSS
set_location DUT.uart_inst0.tx_countdown[2] 14 13 5 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNO[2] 14 15 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_3_c_RNI65765 13 12 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3] 17 13 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0] 18 14 0 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNO[2] 20 17 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNIK3G92[1] 11 16 1 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNO[1] 14 12 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[12] 12 15 4 #SB_DFFSR
set_location DUT.uart_inst0.rx_countdown_3_cry_0_c 13 12 0 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_RNIEUMA4[3] 13 11 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_c 11 12 0 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6] 16 16 6 #SB_DFFE
set_location fifo_inst.ft2232h_inst.rTxRdEn_RNIS0VN 17 11 0 #SB_LUT4
set_location DUT.uart_inst0.tx_data_RNO[1] 16 12 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data[0] 16 12 0 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_cry_c[11] 12 15 3 #SB_CARRY
set_location DUT.uart_inst0.rx_data[5] 13 20 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNIBPFM[1] 18 17 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[6] 13 11 1 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[2] 13 16 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_1 17 16 3 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2] 17 15 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0] 17 14 7 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[6] 11 15 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNI5KNB1[1] 10 17 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNIJQ47 17 12 6 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIVUH33 14 14 3 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNI8KQG9[0] 12 13 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rReadPtr_RNO[0] 12 17 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3] 14 20 3 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIKR111[4] 17 9 3 #SB_LUT4
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_0_c 14 15 0 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider[1] 12 14 1 #SB_DFFSR
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_1_c 20 17 1 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_RNIDTMA4[2] 13 13 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1] 17 14 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7] 12 18 7 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_6_c_RNIAQ52 17 10 6 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[0] 12 14 0 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[2] 12 14 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_4_c 13 12 4 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[5] 13 11 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[10] 10 12 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNI9EGD1[0] 11 16 0 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState[0] 15 16 5 #SB_DFFSS
set_location DUT.uart_inst0.tx_countdown[1] 14 13 1 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5] 20 14 7 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNO[1] 20 17 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2] 14 18 2 #SB_DFFE
set_location DUT.uart_inst0.tx_out_RNO_1 15 12 4 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[2] 12 16 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoCount_RNIEBIJ[0] 18 17 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3] 15 19 3 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1] 16 14 1 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNISDA2 18 12 0 #SB_LUT4
set_location DUT.uart_inst0.tx_data_RNO[2] 16 12 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[12] 12 15 4 #SB_CARRY
set_location DUT.uart_inst0.rx_data[6] 13 20 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6] 18 16 1 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNO[0] 13 14 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[3] 11 10 3 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_c 11 11 6 #SB_CARRY
set_location DUT.uart_inst0.recv_state[6] 11 15 4 #SB_DFF
set_location DUT.uart_inst0.rx_countdown_RNO[2] 13 13 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[5] 10 14 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNO[0] 10 17 3 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI6I12 17 10 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_2_c_RNI31665 13 12 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_c 11 12 7 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider[13] 12 12 4 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIO1411[6] 17 9 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[2] 12 14 2 #SB_DFFSR
set_location DUT.fifo_tx_inst.rReadPtr_RNILV421[1] 18 13 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data[7] 16 13 2 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_RNO[10] 12 15 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO_1[2] 12 13 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNIL7JJ[7] 10 11 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[7] 12 14 7 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[7] 12 14 7 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNIJJMS[0] 13 15 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[6] 13 11 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[13] 12 12 4 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_7_c_RNI7AH4 17 10 7 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown[4] 14 13 2 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_3_cry_0_c_RNIPMF33 14 14 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_3_cry_0_c 14 14 0 #SB_CARRY
set_location DUT.uart_inst0.tx_bits_remaining_RNIAIE4L[1] 15 15 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNI8EL7E[0] 12 13 5 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[5] 12 12 1 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[2] 12 16 6 #SB_LUT4
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO 18 17 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6] 16 17 6 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNIHJV05 14 17 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7] 14 18 7 #SB_DFFE
set_location DUT.uart_inst0.tx_out_RNO_2 15 12 3 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[1] 12 16 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6] 15 19 6 #SB_DFFE
set_location rTxByte_esr[4] 14 19 2 #SB_DFFESR
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIQIBG 18 12 3 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_3[1] 17 11 4 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining[0] 15 13 4 #SB_DFFSR
set_location DUT.uart_inst0.rx_countdown_3_cry_0_c_RNITO365 13 12 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_6_c 17 10 5 #SB_CARRY
set_location DUT.uart_inst0.tx_data_RNO[7] 16 13 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[8] 12 15 0 #SB_DFFSR
set_location DUT.uart_inst0.rx_data[3] 13 20 3 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_RNIHKFQ1[5] 10 11 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5] 16 15 5 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[1] 16 10 2 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNO[0] 15 16 5 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO[3] 14 13 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[0] 12 10 7 #SB_DFFE
set_location DUT.uart_inst0.recv_state[1] 12 13 7 #SB_DFF
set_location DUT.fifo_rx_inst.rReadPtr[0] 12 17 3 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9IJ22[1] 15 17 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0] 15 20 2 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_cry_c[9] 12 15 1 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[9] 12 15 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO[1] 12 12 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rReadPtr_RNI4NC92[0] 12 17 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[3] 18 10 6 #SB_DFFER
set_location DUT.uart_inst0.tx_out 15 11 1 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider[16] 12 12 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1_0[0] 14 17 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_7_c_RNIKS57 17 12 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c 17 12 4 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoCount_RNO_0[2] 18 17 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount[2] 10 16 2 #SB_DFFSR
set_location DUT.uart_inst0.tx_clk_divider[7] 12 14 7 #SB_DFFSR
set_location DUT.uart_inst0.rx_clk_divider_RNIMSP02[16] 12 11 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNO[1] 10 16 1 #SB_LUT4
set_location DUT.uart_inst0.tx_data[4] 16 13 3 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_c 11 11 1 #SB_CARRY
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNISDA2_0 14 13 6 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI8CH01_0[0] 15 14 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[4] 12 14 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[16] 12 12 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6] 17 15 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2] 18 15 6 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rRx_n 14 16 0 #SB_DFFSS
set_location DUT.uart_inst0.rx_countdown[0] 12 12 2 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO[2] 13 16 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNIJLJC[1] 17 17 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4] 14 18 4 #SB_DFFE
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_0_c_RNO 15 14 6 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI8CH01[0] 13 15 4 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO_0[2] 12 13 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_3 15 16 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7] 14 20 1 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5] 15 19 5 #SB_DFFE
set_location rTxByte_esr[1] 15 17 4 #SB_DFFESR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIDMJ22[2] 15 17 6 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c 17 10 0 #SB_CARRY
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIDL6N[7] 17 9 0 #SB_LUT4
set_location DUT.rTransmit_RNO 14 11 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0] 18 15 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount[2] 20 17 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_RNO 11 16 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[4] 17 9 2 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c_RNIKK41C 14 12 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1] 17 14 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3] 13 19 4 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_3_cry_1_c 14 14 1 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_RNO[4] 13 11 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[1] 11 10 6 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining[1] 12 16 4 #SB_DFF
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNISDA2[0] 17 11 5 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIFO7N[8] 18 9 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[6] 17 9 4 #SB_DFFER
set_location fifo_inst.ft2232h_inst.rFifoState[4] 20 13 6 #SB_DFFSR
set_location DUT.uart_inst0.tx_bits_remaining_RNO[1] 14 15 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[15] 12 12 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1] 18 14 1 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIA4VU_2[1] 16 11 7 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNO[0] 14 12 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[11] 12 15 3 #SB_DFFSR
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A[1] 17 16 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNO 17 16 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount[1] 10 16 1 #SB_DFFSR
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIJ4M4 17 12 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_2 18 12 4 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNII2L4 17 12 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_7_c 17 10 6 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5] 16 14 5 #SB_DFFE
set_location DUT.uart_inst0.tx_data[1] 16 12 2 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_3_cry_3_c 14 14 3 #SB_CARRY
set_location DUT.fifo_tx_inst.rReadPtr[0] 18 13 3 #SB_DFF
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c 10 16 0 #SB_CARRY
set_location DUT.uart_inst0.tx_state_RNI5PJS2[0] 13 15 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[7] 10 12 3 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[3] 11 15 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_2 17 16 6 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3] 17 15 3 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNI5UON8[3] 14 12 0 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[3] 13 11 6 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO[1] 12 13 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7] 18 13 0 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNISDA2_0 18 13 6 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[3] 12 16 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rReadPtr_RNO[1] 12 17 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0] 15 18 4 #SB_DFFE
set_location rTxByte_esr[2] 15 17 6 #SB_DFFESR
set_location DUT.uart_inst0.rx_countdown_3_cry_0_c_RNO 12 11 4 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c_RNIFI07_2 15 11 3 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[7] 17 9 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6] 12 18 3 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c 17 12 2 #SB_CARRY
set_location DUT.uart_inst0.tx_countdown_3_cry_1_c_RNISQG33 14 14 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[3] 12 14 3 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[3] 12 14 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[2] 11 10 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5] 17 14 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6] 16 15 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIT6K22[6] 14 19 6 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_4_c_RNIHM27 17 12 4 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[5] 18 10 0 #SB_DFFER
set_location fifo_inst.ft2232h_inst.rFifoState[3] 15 16 7 #SB_DFFSR
set_location DUT.uart_inst0.tx_countdown[0] 13 14 7 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2] 18 14 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNO[0] 18 18 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3] 14 18 3 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_4_c 17 12 3 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNI3ALC[17] 12 11 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2] 15 19 2 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2_1 18 12 6 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIPNAVK[0] 15 12 0 #SB_LUT4
set_location DUT.uart_inst0.tx_out_RNO 15 11 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0] 16 14 3 #SB_DFFE
set_location DUT.uart_inst0.tx_state[1] 14 12 2 #SB_DFFSR
set_location DUT.uart_inst0.tx_data_RNO[3] 16 12 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI6M692[3] 14 14 7 #SB_LUT4
set_location DUT.uart_inst0.rx_data[7] 12 19 5 #SB_DFFE
set_location fifo_inst.ft2232h_inst.rFifoState_RNO[4] 20 13 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[4] 15 11 0 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_c 11 12 2 #SB_CARRY
set_location DUT.uart_inst0.recv_state_RNO_0[0] 11 14 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state[5] 10 14 7 #SB_DFF
set_location DUT.fifo_tx_inst.rWritePtr[1] 17 17 0 #SB_DFF
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0] 17 15 0 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIHQJ22[3] 14 19 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNI2V95[2] 13 14 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[8] 10 12 1 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[4] 11 14 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_1[1] 17 16 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91[1] 12 17 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr[1] 10 17 6 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoCount_RNIPTFQ1[0] 11 16 6 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.ram512x8_inst 19 9 0 #SB_RAM40_4K
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNISJ0L[0] 17 11 6 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIBV9AJ[0] 15 14 5 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c_RNIHH7QT 12 13 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[12] 10 12 2 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_3_cry_4_c 14 14 4 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider[3] 12 14 3 #SB_DFFSS
set_location DUT.uart_inst0.rx_countdown_3_cry_3_c 13 12 3 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[6] 11 11 6 #SB_LUT4
set_location rRxRead 14 16 1 #SB_DFFSR
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNI 18 12 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[13] 12 15 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[13] 13 14 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNO 13 17 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[6] 12 14 6 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[0] 12 15 6 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNIBJE4L[2] 15 15 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[7] 10 12 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[12] 10 12 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[8] 18 10 1 #SB_DFFER
set_location DUT.uart_inst0.rx_countdown[4] 13 11 7 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI0T465 13 12 2 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[3] 12 16 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7] 18 14 4 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0] 14 18 0 #SB_DFFE
set_location DUT.uart_inst0.tx_out_RNO_3 15 12 2 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_0[3] 15 13 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNIB99J[10] 10 11 5 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[0] 13 16 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7] 17 13 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1] 15 19 1 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoCount_RNICMVR[2] 11 17 5 #SB_LUT4
set_location rTxByte_esr[5] 14 19 0 #SB_DFFESR
set_location DUT.uart_inst0.tx_bits_remaining[3] 15 15 0 #SB_DFF
set_location DUT.uart_inst0.rx_bits_remaining_RNO_2[3] 13 16 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3] 16 14 2 #SB_DFFE
set_location DUT.uart_inst0.tx_data_RNO[4] 16 13 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[9] 12 15 1 #SB_DFFSR
set_location DUT.uart_inst0.rx_data[0] 12 20 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4] 16 15 2 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_2_c 17 12 1 #SB_CARRY
set_location DUT.uart_inst0.tx_countdown_RNO[2] 14 13 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[1] 11 10 6 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[5] 11 15 2 #SB_LUT4
set_location DUT.uart_inst0.recv_state[0] 11 14 5 #SB_DFF
set_location DUT.fifo_rx_inst.rReadPtr[1] 12 17 0 #SB_DFF
set_location DUT.uart_inst0.tx_clk_divider_cry_c[8] 12 15 0 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_RNO[0] 12 12 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[2] 16 10 1 #SB_DFFER
set_location DUT.uart_inst0.tx_countdown_3_cry_3_c_RNI23J33 14 14 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[11] 10 12 7 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNIPAH9U[2] 13 13 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0] 18 15 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_2[1] 10 17 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7] 13 18 3 #SB_LUT4
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c 20 17 0 #SB_CARRY
set_location DUT.fifo_tx_inst.rWritePtr_RNO[1] 17 17 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_3_RNO 21 15 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI1BK22[7] 15 17 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c 17 12 5 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider[4] 12 14 4 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoCount_RNO[0] 11 17 3 #SB_LUT4
set_location DUT.uart_inst0.tx_data[5] 16 13 5 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNI7N692[4] 13 14 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[5] 12 14 5 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[5] 12 14 5 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNIFVMA4[4] 13 12 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[15] 12 12 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7] 17 15 7 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIEGV6 18 11 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_1_c_RNI5G02 17 10 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_3_cry_4_c_RNIQRFM2 14 14 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_c 11 11 3 #SB_CARRY
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[0] 13 16 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILUJ22[4] 14 19 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5] 14 18 5 #SB_DFFE
set_location fifo_inst.ft2232h_inst.rFifoState_RNIRPB71[0] 15 15 4 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIQSGK9[0] 14 12 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_0 13 17 1 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4] 15 18 6 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4] 15 19 4 #SB_DFFE
set_location rTxByte_esr[6] 14 19 6 #SB_DFFESR
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_4_c_RNI44E4 17 10 4 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI6I8K[1] 15 14 3 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNI9F4N[5] 18 11 0 #SB_LUT4
set_location DUT.uart_inst0.un1_tx_bits_remaining_cry_1_c 14 15 1 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c_RNI93IIF 13 13 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3] 18 16 4 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount[1] 20 17 1 #SB_DFFSR
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1] 12 17 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2] 14 17 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[3] 18 10 6 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rRx_n_RNO 14 16 0 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO[5] 13 14 0 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNI237O[0] 11 14 0 #SB_LUT4
set_location DUT.uart_inst0.recv_state[3] 11 15 6 #SB_DFF
set_location DUT.fifo_tx_inst.rReadPtr_RNO[0] 18 13 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2] 13 19 7 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIGK17 18 12 2 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining[0] 13 16 2 #SB_DFF
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[1] 16 10 2 #SB_DFFER
set_location fifo_inst.ft2232h_inst.rTxBusReady_RNO 20 15 7 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_1[3] 15 13 6 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO[0] 15 13 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[14] 12 12 5 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider[10] 12 15 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoCount[0] 11 17 3 #SB_DFFSR
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c 17 10 1 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNIJBAM 17 14 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4] 16 16 3 #SB_DFFE
set_location DUT.uart_inst0.tx_data[2] 16 12 3 #SB_DFFE
set_location DUT.fifo_tx_inst.rReadPtr[1] 18 13 7 #SB_DFF
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIK6N4 17 12 3 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNI111S 18 11 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNICSMA4[1] 12 11 7 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_1_c 13 12 1 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider[8] 10 12 1 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoDatarff_3 21 15 5 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4] 17 15 4 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNIMBD3[2] 18 17 4 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK[3] 15 15 3 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[2] 13 13 4 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_4_c 11 11 4 #SB_CARRY
set_location DUT.uart_inst0.recv_state_RNO[0] 11 14 5 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c 17 12 0 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_RNO_0[0] 12 13 2 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[2] 12 16 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1] 15 18 0 #SB_DFFE
set_location rTxByte_esr[3] 14 19 5 #SB_DFFESR
set_location DUT.uart_inst0.tx_state_RNIIAMI1[1] 15 14 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_2_c_RNI20C4 18 11 3 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rTxBusReady 20 15 7 #SB_DFFSR
set_location DUT.uart_inst0.rx_clk_divider_1_cry_5_c 11 11 5 #SB_CARRY
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNO[6] 17 9 4 #SB_LUT4
set_location DUT.uart_inst0.wPllLocked_i 12 30 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5] 17 14 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5] 13 19 3 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_cry_c[2] 12 14 2 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[3] 11 10 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_2_c 11 11 2 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_1_cry_16_c 11 13 0 #SB_CARRY
set_location DUT.uart_inst0.rx_bits_remaining[3] 12 16 3 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1] 13 18 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr[4] 17 9 2 #SB_DFFER
set_location fifo_inst.ft2232h_inst.rFifoState[2] 15 16 4 #SB_DFFSR
set_location DUT.uart_inst0.tx_bits_remaining_RNO[3] 15 15 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5] 14 19 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2] 18 15 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNO 15 16 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_1_RNO 17 16 3 #SB_LUT4
set_location DUT.uart_inst0.tx_state[0] 14 12 5 #SB_DFFSR
set_location DUT.uart_inst0.tx_data_RNO[0] 16 12 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[10] 12 15 2 #SB_CARRY
set_location DUT.uart_inst0.rx_data[4] 12 19 2 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNISDA2 17 11 2 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_4_c 17 10 3 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1] 17 15 5 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_RNO[9] 10 12 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_c 11 12 1 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_c 11 12 5 #SB_CARRY
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[1] 12 17 6 #SB_LUT4
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_1_c 10 16 1 #SB_CARRY
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_1_c_RNIEGV6_0 18 11 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rReadPtr_RNINFEP[0] 18 13 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE 17 14 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[0] 12 15 6 #SB_DFFSR
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[5] 11 11 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[12] 12 15 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNIN79A_2[1] 17 17 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[1] 12 14 1 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[11] 10 12 7 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_5_c_RNIIO37 17 12 5 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState[1] 15 16 0 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6] 16 15 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_3_RNO 15 16 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1] 14 18 1 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3] 14 19 4 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining[2] 14 15 2 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4] 16 15 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_6_c_RNISDA2 18 12 1 #SB_LUT4
set_location DUT.uart_inst0.tx_data_RNO[5] 16 13 5 #SB_LUT4
set_location DUT.uart_inst0.rx_data[1] 13 20 4 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNO[1] 14 13 1 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNIIO011[3] 18 11 4 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO[3] 13 11 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNO[1] 10 17 6 #SB_LUT4
set_location fifo_inst.ft2232h_inst.rFifoState_RNIG8PK[4] 17 11 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_3_cry_0_c_RNO 13 15 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[10] 10 12 6 #SB_DFFE
set_location fifo_inst.tx_fifo_inst.rRamRdAddr_RNI[1] 16 11 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNO[0] 17 17 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI4K692[1] 14 14 6 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[5] 12 14 5 #SB_DFFSS
set_location fifo_inst.tx_fifo_inst.un20_rRamWrAddr_1_cry_3_c_RNIGK17_0 17 13 5 #SB_LUT4
set_location fifo_inst.tx_fifo_inst.un17_rRamRdAddr_1_cry_5_c 17 10 4 #SB_CARRY
set_location DUT.uart_inst0.tx_countdown_3_cry_2_c 14 14 2 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[11] 12 15 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_c 11 12 6 #SB_CARRY
set_location GND -1 -1 -1 #GND
set_location DUT.uart_inst0.tx_clk_divider_cry_c[4] 12 14 4 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[14] 12 12 5 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[1] 12 17 7 #SB_LUT4
set_location DUT.rTransmit 14 11 5 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6] 14 18 6 #SB_DFFE
set_io ioFifoData[3] 19
set_io P1A9 46
set_io P1A1 4
set_io ioFifoData[0] 6
set_io P1A8 48
set_io oRx_n 11
set_io ioFifoData[5] 21
set_io ioFifoData[1] 9
set_io P1A7 3
set_io P1A3 47
set_io ioFifoData[6] 23
set_io ioFifoData[2] 18
set_io iTxE_n 27
set_io iRxF_n 26
set_io iClk 35
set_io P1A2 2
set_io BTN_N 10
set_io ioFifoData[7] 25
set_io oTx_n 37
set_io ioFifoData[4] 20
set_io P1A4 45
