ble_pack PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0_LC_1_30_0 { PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0 }
clb_pack LT_1_30 { PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0_LC_1_30_0 }
set_location LT_1_30 1 30
ble_pack uart_inst0.uart_inst0.wPllLocked_i_LC_8_16_5 { uart_inst0.uart_inst0.wPllLocked_i }
clb_pack LT_8_16 { uart_inst0.uart_inst0.wPllLocked_i_LC_8_16_5 }
set_location LT_8_16 8 16
ble_pack uart_inst0.uart_inst0.un2_rx_clk_divider_cry_0_c_LC_9_14_0 { uart_inst0.uart_inst0.un2_rx_clk_divider_cry_0_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_1_LC_9_14_1 { uart_inst0.uart_inst0.rx_clk_divider_RNO[1], uart_inst0.uart_inst0.rx_clk_divider[1], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_1_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_2_LC_9_14_2 { uart_inst0.uart_inst0.rx_clk_divider_RNO[2], uart_inst0.uart_inst0.rx_clk_divider[2], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_2_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_3_LC_9_14_3 { uart_inst0.uart_inst0.rx_clk_divider_RNO[3], uart_inst0.uart_inst0.rx_clk_divider[3], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_3_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_4_LC_9_14_4 { uart_inst0.uart_inst0.rx_clk_divider_RNO[4], uart_inst0.uart_inst0.rx_clk_divider[4], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_4_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_5_LC_9_14_5 { uart_inst0.uart_inst0.rx_clk_divider_RNO[5], uart_inst0.uart_inst0.rx_clk_divider[5], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_5_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_6_LC_9_14_6 { uart_inst0.uart_inst0.rx_clk_divider_RNO[6], uart_inst0.uart_inst0.rx_clk_divider[6], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_6_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_7_LC_9_14_7 { uart_inst0.uart_inst0.rx_clk_divider_RNO[7], uart_inst0.uart_inst0.rx_clk_divider[7], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_7_c }
clb_pack LT_9_14 { uart_inst0.uart_inst0.un2_rx_clk_divider_cry_0_c_LC_9_14_0, uart_inst0.uart_inst0.rx_clk_divider_1_LC_9_14_1, uart_inst0.uart_inst0.rx_clk_divider_2_LC_9_14_2, uart_inst0.uart_inst0.rx_clk_divider_3_LC_9_14_3, uart_inst0.uart_inst0.rx_clk_divider_4_LC_9_14_4, uart_inst0.uart_inst0.rx_clk_divider_5_LC_9_14_5, uart_inst0.uart_inst0.rx_clk_divider_6_LC_9_14_6, uart_inst0.uart_inst0.rx_clk_divider_7_LC_9_14_7 }
set_location LT_9_14 9 14
ble_pack uart_inst0.uart_inst0.rx_clk_divider_8_LC_9_15_0 { uart_inst0.uart_inst0.rx_clk_divider_RNO[8], uart_inst0.uart_inst0.rx_clk_divider[8], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_8_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_9_LC_9_15_1 { uart_inst0.uart_inst0.rx_clk_divider_RNO[9], uart_inst0.uart_inst0.rx_clk_divider[9], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_9_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_10_LC_9_15_2 { uart_inst0.uart_inst0.rx_clk_divider_RNO[10], uart_inst0.uart_inst0.rx_clk_divider[10], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_10_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_11_LC_9_15_3 { uart_inst0.uart_inst0.rx_clk_divider_RNO[11], uart_inst0.uart_inst0.rx_clk_divider[11], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_11_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_12_LC_9_15_4 { uart_inst0.uart_inst0.rx_clk_divider_RNO[12], uart_inst0.uart_inst0.rx_clk_divider[12], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_12_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_13_LC_9_15_5 { uart_inst0.uart_inst0.rx_clk_divider_RNO[13], uart_inst0.uart_inst0.rx_clk_divider[13], uart_inst0.uart_inst0.un2_rx_clk_divider_cry_13_c }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_14_LC_9_15_6 { uart_inst0.uart_inst0.rx_clk_divider_RNO[14], uart_inst0.uart_inst0.rx_clk_divider[14] }
clb_pack LT_9_15 { uart_inst0.uart_inst0.rx_clk_divider_8_LC_9_15_0, uart_inst0.uart_inst0.rx_clk_divider_9_LC_9_15_1, uart_inst0.uart_inst0.rx_clk_divider_10_LC_9_15_2, uart_inst0.uart_inst0.rx_clk_divider_11_LC_9_15_3, uart_inst0.uart_inst0.rx_clk_divider_12_LC_9_15_4, uart_inst0.uart_inst0.rx_clk_divider_13_LC_9_15_5, uart_inst0.uart_inst0.rx_clk_divider_14_LC_9_15_6 }
set_location LT_9_15 9 15
ble_pack uart_inst0.uart_inst0.rx_clk_divider_RNI0H8H_14_LC_10_14_0 { uart_inst0.uart_inst0.rx_clk_divider_RNI0H8H[14] }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_RNIRKBC1_9_LC_10_14_2 { uart_inst0.uart_inst0.rx_clk_divider_RNIRKBC1[9] }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_RNISPAG_5_LC_10_14_3 { uart_inst0.uart_inst0.rx_clk_divider_RNISPAG[5] }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_RNITHLH2_1_LC_10_14_4 { uart_inst0.uart_inst0.rx_clk_divider_RNITHLH2[1] }
ble_pack uart_inst0.uart_inst0.rx_state_RNIPLGK2_0_LC_10_14_5 { uart_inst0.uart_inst0.rx_state_RNIPLGK2[0] }
ble_pack uart_inst0.uart_inst0.rx_clk_divider_RNI6IM3_1_LC_10_14_6 { uart_inst0.uart_inst0.rx_clk_divider_RNI6IM3[1] }
clb_pack LT_10_14 { uart_inst0.uart_inst0.rx_clk_divider_RNI0H8H_14_LC_10_14_0, uart_inst0.uart_inst0.rx_clk_divider_RNIRKBC1_9_LC_10_14_2, uart_inst0.uart_inst0.rx_clk_divider_RNISPAG_5_LC_10_14_3, uart_inst0.uart_inst0.rx_clk_divider_RNITHLH2_1_LC_10_14_4, uart_inst0.uart_inst0.rx_state_RNIPLGK2_0_LC_10_14_5, uart_inst0.uart_inst0.rx_clk_divider_RNI6IM3_1_LC_10_14_6 }
set_location LT_10_14 10 14
ble_pack uart_inst0.uart_inst0.rx_clk_divider_0_LC_10_15_6 { uart_inst0.uart_inst0.rx_clk_divider_RNO[0], uart_inst0.uart_inst0.rx_clk_divider[0] }
clb_pack LT_10_15 { uart_inst0.uart_inst0.rx_clk_divider_0_LC_10_15_6 }
set_location LT_10_15 10 15
ble_pack fifo_inst.tx_fifo_inst.rDataCount_3_LC_12_2_4 { fifo_inst.tx_fifo_inst.rDataCount_RNO[3], fifo_inst.tx_fifo_inst.rDataCount[3] }
ble_pack rTxEn_LC_12_2_6 { fifo_inst.tx_fifo_inst.rDataCount_RNI9VTA[3], rTxEn }
clb_pack LT_12_2 { fifo_inst.tx_fifo_inst.rDataCount_3_LC_12_2_4, rTxEn_LC_12_2_6 }
set_location LT_12_2 12 2
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNIA7U81_2_LC_12_3_1 { fifo_inst.tx_fifo_inst.rDataCount_RNIA7U81[2] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNIEM211_2_LC_12_3_2 { fifo_inst.tx_fifo_inst.rDataCount_RNIEM211[2] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNIDPRL_0_LC_12_3_7 { fifo_inst.tx_fifo_inst.rDataCount_RNIDPRL[0] }
clb_pack LT_12_3 { fifo_inst.tx_fifo_inst.rDataCount_RNIA7U81_2_LC_12_3_1, fifo_inst.tx_fifo_inst.rDataCount_RNIEM211_2_LC_12_3_2, fifo_inst.tx_fifo_inst.rDataCount_RNIDPRL_0_LC_12_3_7 }
set_location LT_12_3 12 3
ble_pack fifo_inst.ft2232h_inst.rRx_n_LC_12_4_1 { fifo_inst.ft2232h_inst.rRx_n_RNO, fifo_inst.ft2232h_inst.rRx_n }
clb_pack LT_12_4 { fifo_inst.ft2232h_inst.rRx_n_LC_12_4_1 }
set_location LT_12_4 12 4
ble_pack uart_inst0.tx_uart_fifo_inst.m39_LC_12_5_0 { uart_inst0.tx_uart_fifo_inst.m39 }
clb_pack LT_12_5 { uart_inst0.tx_uart_fifo_inst.m39_LC_12_5_0 }
set_location LT_12_5 12 5
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_3_LC_12_11_6 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[3], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[3] }
clb_pack LT_12_11 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_3_LC_12_11_6 }
set_location LT_12_11 12 11
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNIVHG3_8_LC_12_12_0 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNIVHG3[8] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNI0VO8_0_LC_12_12_1 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNI0VO8[0] }
clb_pack LT_12_12 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNIVHG3_8_LC_12_12_0, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNI0VO8_0_LC_12_12_1 }
set_location LT_12_12 12 12
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddrZ0Z_0_LC_12_13_2 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[0], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[0] }
clb_pack LT_12_13 { uart_inst0.tx_uart_fifo_inst.rRamWrAddrZ0Z_0_LC_12_13_2 }
set_location LT_12_13 12 13
ble_pack GB_BUFFER_wPllLocked_i_g_THRU_LUT4_0_LC_12_30_0 { GB_BUFFER_wPllLocked_i_g_THRU_LUT4_0 }
clb_pack LT_12_30 { GB_BUFFER_wPllLocked_i_g_THRU_LUT4_0_LC_12_30_0 }
set_location LT_12_30 12 30
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNIQ7UO_3_LC_13_1_1 { fifo_inst.tx_fifo_inst.rDataCount_RNIQ7UO[3] }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_3_LC_13_1_2 { uart_inst0.tx_uart_fifo_inst.m69, fifo_inst.tx_fifo_inst.rRamWrAddr[3] }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_0_LC_13_1_4 { uart_inst0.tx_uart_fifo_inst.m75, fifo_inst.tx_fifo_inst.rRamWrAddr[0] }
ble_pack uart_inst0.tx_uart_fifo_inst.m68_e_6_LC_13_1_5 { uart_inst0.tx_uart_fifo_inst.m68_e_6 }
ble_pack uart_inst0.tx_uart_fifo_inst.m68_e_5_LC_13_1_6 { uart_inst0.tx_uart_fifo_inst.m68_e_5 }
ble_pack uart_inst0.tx_uart_fifo_inst.m68_e_LC_13_1_7 { uart_inst0.tx_uart_fifo_inst.m68_e }
clb_pack LT_13_1 { fifo_inst.tx_fifo_inst.rDataCount_RNIQ7UO_3_LC_13_1_1, fifo_inst.tx_fifo_inst.rRamWrAddr_3_LC_13_1_2, fifo_inst.tx_fifo_inst.rRamWrAddr_0_LC_13_1_4, uart_inst0.tx_uart_fifo_inst.m68_e_6_LC_13_1_5, uart_inst0.tx_uart_fifo_inst.m68_e_5_LC_13_1_6, uart_inst0.tx_uart_fifo_inst.m68_e_LC_13_1_7 }
set_location LT_13_1 13 1
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_RNI10581_0_LC_13_2_0 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNI10581[0], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_0_c }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_1_LC_13_2_1 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[1], fifo_inst.tx_fifo_inst.rRamWrAddr[1], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_1_c }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_2_LC_13_2_2 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[2], fifo_inst.tx_fifo_inst.rRamWrAddr[2], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_2_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_2_c_RNISJKU_LC_13_2_3 { fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_2_c_RNISJKU, fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_3_c }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_4_LC_13_2_4 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[4], fifo_inst.tx_fifo_inst.rRamWrAddr[4], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_4_c }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_5_LC_13_2_5 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[5], fifo_inst.tx_fifo_inst.rRamWrAddr[5], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_5_c }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_6_LC_13_2_6 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[6], fifo_inst.tx_fifo_inst.rRamWrAddr[6], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_6_c }
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_7_LC_13_2_7 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[7], fifo_inst.tx_fifo_inst.rRamWrAddr[7], fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_7_c }
clb_pack LT_13_2 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNI10581_0_LC_13_2_0, fifo_inst.tx_fifo_inst.rRamWrAddr_1_LC_13_2_1, fifo_inst.tx_fifo_inst.rRamWrAddr_2_LC_13_2_2, fifo_inst.tx_fifo_inst.un1_rRamWrAddr_cry_2_c_RNISJKU_LC_13_2_3, fifo_inst.tx_fifo_inst.rRamWrAddr_4_LC_13_2_4, fifo_inst.tx_fifo_inst.rRamWrAddr_5_LC_13_2_5, fifo_inst.tx_fifo_inst.rRamWrAddr_6_LC_13_2_6, fifo_inst.tx_fifo_inst.rRamWrAddr_7_LC_13_2_7 }
set_location LT_13_2 13 2
ble_pack fifo_inst.tx_fifo_inst.rRamWrAddr_8_LC_13_3_0 { fifo_inst.tx_fifo_inst.rRamWrAddr_RNO[8], fifo_inst.tx_fifo_inst.rRamWrAddr[8] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNO_3_2_LC_13_3_1 { fifo_inst.tx_fifo_inst.rDataCount_RNO_3[2] }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rFifoState_12_0_i_LC_13_3_2 { uart_inst0.tx_uart_fifo_inst.un1_rFifoState_12_0_i }
ble_pack fifo_inst.ft2232h_inst.rTxRdEn_esr_RNO_LC_13_3_3 { fifo_inst.ft2232h_inst.rTxRdEn_esr_RNO }
ble_pack uart_inst0.tx_uart_fifo_inst.m78_bm_LC_13_3_5 { uart_inst0.tx_uart_fifo_inst.m78_bm }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNO_2_2_LC_13_3_7 { fifo_inst.tx_fifo_inst.rDataCount_RNO_2[2] }
clb_pack LT_13_3 { fifo_inst.tx_fifo_inst.rRamWrAddr_8_LC_13_3_0, fifo_inst.tx_fifo_inst.rDataCount_RNO_3_2_LC_13_3_1, uart_inst0.tx_uart_fifo_inst.un1_rFifoState_12_0_i_LC_13_3_2, fifo_inst.ft2232h_inst.rTxRdEn_esr_RNO_LC_13_3_3, uart_inst0.tx_uart_fifo_inst.m78_bm_LC_13_3_5, fifo_inst.tx_fifo_inst.rDataCount_RNO_2_2_LC_13_3_7 }
set_location LT_13_3 13 3
ble_pack uart_inst0.tx_uart_fifo_inst.m78_ns_1_LC_13_4_0 { uart_inst0.tx_uart_fifo_inst.m78_ns_1 }
ble_pack uart_inst0.tx_uart_fifo_inst.m78_ns_LC_13_4_1 { uart_inst0.tx_uart_fifo_inst.m78_ns }
ble_pack fifo_inst.ft2232h_inst.rTxRdEn_esr_LC_13_4_3 { uart_inst0.tx_uart_fifo_inst.m21, fifo_inst.ft2232h_inst.rTxRdEn_esr }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNI1JE32_0_LC_13_4_5 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNI1JE32[0] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0_3_LC_13_4_6 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNIO6DU2_3_LC_13_4_7 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNIO6DU2[3] }
clb_pack LT_13_4 { uart_inst0.tx_uart_fifo_inst.m78_ns_1_LC_13_4_0, uart_inst0.tx_uart_fifo_inst.m78_ns_LC_13_4_1, fifo_inst.ft2232h_inst.rTxRdEn_esr_LC_13_4_3, uart_inst0.tx_uart_fifo_inst.rDataCount_RNI1JE32_0_LC_13_4_5, uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0_3_LC_13_4_6, uart_inst0.tx_uart_fifo_inst.rDataCount_RNIO6DU2_3_LC_13_4_7 }
set_location LT_13_4 13 4
ble_pack uart_inst0.tx_uart_fifo_inst.m14_LC_13_5_0 { uart_inst0.tx_uart_fifo_inst.m14 }
ble_pack uart_inst0.tx_uart_fifo_inst.m17_LC_13_5_1 { uart_inst0.tx_uart_fifo_inst.m17 }
ble_pack uart_inst0.tx_uart_fifo_inst.m65_bm_LC_13_5_2 { uart_inst0.tx_uart_fifo_inst.m65_bm }
ble_pack uart_inst0.tx_uart_fifo_inst.m65_ns_LC_13_5_3 { uart_inst0.tx_uart_fifo_inst.m65_ns }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_RNO_2_2_LC_13_5_4 { fifo_inst.rx_fifo_inst.rDataCount_RNO_2[2] }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_RNO_1_2_LC_13_5_5 { fifo_inst.rx_fifo_inst.rDataCount_RNO_1[2] }
ble_pack uart_inst0.tx_uart_fifo_inst.m65_ns_1_LC_13_5_6 { uart_inst0.tx_uart_fifo_inst.m65_ns_1 }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_RNO_0_2_LC_13_5_7 { fifo_inst.rx_fifo_inst.rDataCount_RNO_0[2] }
clb_pack LT_13_5 { uart_inst0.tx_uart_fifo_inst.m14_LC_13_5_0, uart_inst0.tx_uart_fifo_inst.m17_LC_13_5_1, uart_inst0.tx_uart_fifo_inst.m65_bm_LC_13_5_2, uart_inst0.tx_uart_fifo_inst.m65_ns_LC_13_5_3, fifo_inst.rx_fifo_inst.rDataCount_RNO_2_2_LC_13_5_4, fifo_inst.rx_fifo_inst.rDataCount_RNO_1_2_LC_13_5_5, uart_inst0.tx_uart_fifo_inst.m65_ns_1_LC_13_5_6, fifo_inst.rx_fifo_inst.rDataCount_RNO_0_2_LC_13_5_7 }
set_location LT_13_5 13 5
ble_pack fifo_inst.rx_fifo_inst.rDataCount_1_LC_13_6_3 { fifo_inst.rx_fifo_inst.rDataCount_RNO[1], fifo_inst.rx_fifo_inst.rDataCount[1] }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_2_LC_13_6_6 { fifo_inst.rx_fifo_inst.rDataCount_RNO[2], fifo_inst.rx_fifo_inst.rDataCount[2] }
clb_pack LT_13_6 { fifo_inst.rx_fifo_inst.rDataCount_1_LC_13_6_3, fifo_inst.rx_fifo_inst.rDataCount_2_LC_13_6_6 }
set_location LT_13_6 13 6
ble_pack rUartTxEn_LC_13_7_4 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNID3RQ_3_rUartTxEn_REP_LUT4_0, rUartTxEn }
ble_pack rUartRxFlag_LC_13_7_6 { rUartRxFlag_THRU_LUT4_0, rUartRxFlag }
clb_pack LT_13_7 { rUartTxEn_LC_13_7_4, rUartRxFlag_LC_13_7_6 }
set_location LT_13_7 13 7
ble_pack CONSTANT_ONE_LUT4_LC_13_8_0 { CONSTANT_ONE_LUT4 }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNIPA3Q_3_LC_13_8_1 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNIPA3Q[3] }
clb_pack LT_13_8 { CONSTANT_ONE_LUT4_LC_13_8_0, uart_inst0.tx_uart_fifo_inst.rDataCount_RNIPA3Q_3_LC_13_8_1 }
set_location LT_13_8 13 8
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCountZ0Z_0_LC_13_9_0 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO[0], uart_inst0.tx_uart_fifo_inst.rDataCount[0] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_3_LC_13_9_6 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO[3], uart_inst0.tx_uart_fifo_inst.rDataCount[3] }
clb_pack LT_13_9 { uart_inst0.tx_uart_fifo_inst.rDataCountZ0Z_0_LC_13_9_0, uart_inst0.tx_uart_fifo_inst.rDataCount_3_LC_13_9_6 }
set_location LT_13_9 13 9
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_2_LC_13_10_0 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO[2], uart_inst0.tx_uart_fifo_inst.rDataCount[2] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNIA3TL1_2_LC_13_10_5 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNIA3TL1[2] }
ble_pack uart_inst0.uart_inst0.rTxRdEn_LC_13_10_6 { uart_inst0.uart_inst0.rTxRdEn_RNO, uart_inst0.uart_inst0.rTxRdEn }
clb_pack LT_13_10 { uart_inst0.tx_uart_fifo_inst.rDataCount_2_LC_13_10_0, uart_inst0.tx_uart_fifo_inst.rDataCount_RNIA3TL1_2_LC_13_10_5, uart_inst0.uart_inst0.rTxRdEn_LC_13_10_6 }
set_location LT_13_10 13 10
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_0_LC_13_11_0 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_0_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[0] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_1_LC_13_11_1 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_1_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_2_LC_13_11_2 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_2_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[2] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_3_LC_13_11_3 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_3_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_4_LC_13_11_4 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_4_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[4] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_5_LC_13_11_5 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_5_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[5] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_6_LC_13_11_6 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_6_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[6] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_7_LC_13_11_7 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_7_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA[7] }
clb_pack LT_13_11 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_0_LC_13_11_0, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_1_LC_13_11_1, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_2_LC_13_11_2, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_3_LC_13_11_3, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_4_LC_13_11_4, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_5_LC_13_11_5, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_6_LC_13_11_6, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.RDATA_7_LC_13_11_7 }
set_location LT_13_11 13 11
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO_0_0_LC_13_12_0 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO_0[0], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_0_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddrZ0Z_1_LC_13_12_1 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[1], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[1], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_1_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_2_LC_13_12_2 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[2], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[2], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_2_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO_0_3_LC_13_12_3 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO_0[3], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_3_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_4_LC_13_12_4 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[4], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[4], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_4_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_5_LC_13_12_5 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[5], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[5], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_5_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_6_LC_13_12_6 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[6], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[6], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_6_c }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_7_LC_13_12_7 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[7], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[7], uart_inst0.tx_uart_fifo_inst.un1_rRamWrAddr_cry_7_c }
clb_pack LT_13_12 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO_0_0_LC_13_12_0, uart_inst0.tx_uart_fifo_inst.rRamWrAddrZ0Z_1_LC_13_12_1, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_2_LC_13_12_2, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO_0_3_LC_13_12_3, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_4_LC_13_12_4, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_5_LC_13_12_5, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_6_LC_13_12_6, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_7_LC_13_12_7 }
set_location LT_13_12 13 12
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_8_LC_13_13_0 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNO[8], uart_inst0.tx_uart_fifo_inst.rRamWrAddr[8] }
clb_pack LT_13_13 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_8_LC_13_13_0 }
set_location LT_13_13 13 13
ble_pack uart_inst0.uart_inst0.rTxData_esr_0_LC_13_14_0 { uart_inst0.uart_inst0.rTxData_esr_RNO[0], uart_inst0.uart_inst0.rTxData_esr[0] }
ble_pack uart_inst0.uart_inst0.rTxData_esr_1_LC_13_14_6 { uart_inst0.uart_inst0.rTxData_esr_RNO[1], uart_inst0.uart_inst0.rTxData_esr[1] }
clb_pack LT_13_14 { uart_inst0.uart_inst0.rTxData_esr_0_LC_13_14_0, uart_inst0.uart_inst0.rTxData_esr_1_LC_13_14_6 }
set_location LT_13_14 13 14
ble_pack uart_inst0.uart_inst0.rTxData_esr_6_LC_13_15_1 { uart_inst0.uart_inst0.rTxData_esr_RNO[6], uart_inst0.uart_inst0.rTxData_esr[6] }
ble_pack uart_inst0.uart_inst0.rTxData_esr_3_LC_13_15_3 { uart_inst0.uart_inst0.rTxData_esr_RNO[3], uart_inst0.uart_inst0.rTxData_esr[3] }
ble_pack uart_inst0.uart_inst0.rTxData_esr_4_LC_13_15_4 { uart_inst0.uart_inst0.rTxData_esr_RNO[4], uart_inst0.uart_inst0.rTxData_esr[4] }
ble_pack uart_inst0.uart_inst0.rTxData_esr_2_LC_13_15_5 { uart_inst0.uart_inst0.rTxData_esr_RNO[2], uart_inst0.uart_inst0.rTxData_esr[2] }
ble_pack uart_inst0.uart_inst0.rTxData_esr_5_LC_13_15_6 { uart_inst0.uart_inst0.rTxData_esr_RNO[5], uart_inst0.uart_inst0.rTxData_esr[5] }
clb_pack LT_13_15 { uart_inst0.uart_inst0.rTxData_esr_6_LC_13_15_1, uart_inst0.uart_inst0.rTxData_esr_3_LC_13_15_3, uart_inst0.uart_inst0.rTxData_esr_4_LC_13_15_4, uart_inst0.uart_inst0.rTxData_esr_2_LC_13_15_5, uart_inst0.uart_inst0.rTxData_esr_5_LC_13_15_6 }
set_location LT_13_15 13 15
ble_pack uart_inst0.uart_inst0.rTxData_7_LC_13_16_2 { uart_inst0.uart_inst0.rTxData_RNO[7], uart_inst0.uart_inst0.rTxData[7] }
clb_pack LT_13_16 { uart_inst0.uart_inst0.rTxData_7_LC_13_16_2 }
set_location LT_13_16 13 16
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_3_LC_13_17_1 { uart_inst0.uart_inst0.tx_bits_remaining_RNO[3], uart_inst0.uart_inst0.tx_bits_remaining[3] }
clb_pack LT_13_17 { uart_inst0.uart_inst0.tx_bits_remaining_3_LC_13_17_1 }
set_location LT_13_17 13 17
ble_pack fifo_inst.ft2232h_inst.rFifoState_RNIM35O_0_LC_14_2_1 { fifo_inst.ft2232h_inst.rFifoState_RNIM35O[0] }
ble_pack fifo_inst.ft2232h_inst.rFifoState_0_LC_14_2_2 { fifo_inst.ft2232h_inst.rFifoState_RNO[0], fifo_inst.ft2232h_inst.rFifoState[0] }
clb_pack LT_14_2 { fifo_inst.ft2232h_inst.rFifoState_RNIM35O_0_LC_14_2_1, fifo_inst.ft2232h_inst.rFifoState_0_LC_14_2_2 }
set_location LT_14_2 14 2
ble_pack uart_inst0.tx_uart_fifo_inst.m8_x0_LC_14_3_4 { uart_inst0.tx_uart_fifo_inst.m8_x0 }
ble_pack uart_inst0.tx_uart_fifo_inst.m8_ns_LC_14_3_5 { uart_inst0.tx_uart_fifo_inst.m8_ns }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_fast_3_LC_14_3_6 { fifo_inst.tx_fifo_inst.rDataCount_fast_RNO[3], fifo_inst.tx_fifo_inst.rDataCount_fast[3] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_0_LC_14_3_7 { fifo_inst.tx_fifo_inst.rDataCount_RNO[0], fifo_inst.tx_fifo_inst.rDataCount[0] }
clb_pack LT_14_3 { uart_inst0.tx_uart_fifo_inst.m8_x0_LC_14_3_4, uart_inst0.tx_uart_fifo_inst.m8_ns_LC_14_3_5, fifo_inst.tx_fifo_inst.rDataCount_fast_3_LC_14_3_6, fifo_inst.tx_fifo_inst.rDataCount_0_LC_14_3_7 }
set_location LT_14_3 14 3
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNO_1_2_LC_14_4_0 { fifo_inst.tx_fifo_inst.rDataCount_RNO_1[2] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_2_LC_14_4_1 { fifo_inst.tx_fifo_inst.rDataCount_RNO[2], fifo_inst.tx_fifo_inst.rDataCount[2] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_RNO_0_2_LC_14_4_4 { fifo_inst.tx_fifo_inst.rDataCount_RNO_0[2] }
ble_pack fifo_inst.tx_fifo_inst.rDataCount_1_LC_14_4_5 { fifo_inst.tx_fifo_inst.rDataCount_RNO[1], fifo_inst.tx_fifo_inst.rDataCount[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.m7_LC_14_4_7 { uart_inst0.tx_uart_fifo_inst.m7 }
clb_pack LT_14_4 { fifo_inst.tx_fifo_inst.rDataCount_RNO_1_2_LC_14_4_0, fifo_inst.tx_fifo_inst.rDataCount_2_LC_14_4_1, fifo_inst.tx_fifo_inst.rDataCount_RNO_0_2_LC_14_4_4, fifo_inst.tx_fifo_inst.rDataCount_1_LC_14_4_5, uart_inst0.tx_uart_fifo_inst.m7_LC_14_4_7 }
set_location LT_14_4 14 4
ble_pack fifo_inst.rx_fifo_inst.rDataCount_RNILHIG_0_LC_14_5_0 { fifo_inst.rx_fifo_inst.rDataCount_RNILHIG[0] }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_3_LC_14_5_1 { fifo_inst.rx_fifo_inst.rDataCount_RNO[3], fifo_inst.rx_fifo_inst.rDataCount[3] }
ble_pack fifo_inst.ft2232h_inst.rRxWrEn_LC_14_5_3 { fifo_inst.ft2232h_inst.rRxWrEn_RNO, fifo_inst.ft2232h_inst.rRxWrEn }
ble_pack uart_inst0.tx_uart_fifo_inst.m15_x0_LC_14_5_4 { uart_inst0.tx_uart_fifo_inst.m15_x0 }
ble_pack uart_inst0.tx_uart_fifo_inst.m15_ns_LC_14_5_5 { uart_inst0.tx_uart_fifo_inst.m15_ns }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_fast_3_LC_14_5_6 { fifo_inst.rx_fifo_inst.rDataCount_fast_RNO[3], fifo_inst.rx_fifo_inst.rDataCount_fast[3] }
clb_pack LT_14_5 { fifo_inst.rx_fifo_inst.rDataCount_RNILHIG_0_LC_14_5_0, fifo_inst.rx_fifo_inst.rDataCount_3_LC_14_5_1, fifo_inst.ft2232h_inst.rRxWrEn_LC_14_5_3, uart_inst0.tx_uart_fifo_inst.m15_x0_LC_14_5_4, uart_inst0.tx_uart_fifo_inst.m15_ns_LC_14_5_5, fifo_inst.rx_fifo_inst.rDataCount_fast_3_LC_14_5_6 }
set_location LT_14_5 14 5
ble_pack fifo_inst.ft2232h_inst.rFifoState_4_LC_14_6_0 { uart_inst0.tx_uart_fifo_inst.m42, fifo_inst.ft2232h_inst.rFifoState[4] }
ble_pack rRxEn_LC_14_6_1 { rRxEn_RNO, rRxEn }
ble_pack fifo_inst.ft2232h_inst.rWrDelay_LC_14_6_3 { fifo_inst.ft2232h_inst.rWrDelay_RNO, fifo_inst.ft2232h_inst.rWrDelay }
ble_pack fifo_inst.ft2232h_inst.rTx_n_LC_14_6_4 { fifo_inst.ft2232h_inst.rTx_n_RNO, fifo_inst.ft2232h_inst.rTx_n }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_0_LC_14_6_5 { fifo_inst.rx_fifo_inst.rDataCount_RNO[0], fifo_inst.rx_fifo_inst.rDataCount[0] }
ble_pack fifo_inst.ft2232h_inst.rFifoState_3_LC_14_6_6 { uart_inst0.tx_uart_fifo_inst.m21_fifo_inst.ft2232h_inst.rFifoState_3_REP_LUT4_0, fifo_inst.ft2232h_inst.rFifoState[3] }
ble_pack fifo_inst.rx_fifo_inst.rDataCount_fast_0_LC_14_6_7 { fifo_inst.rx_fifo_inst.rDataCount_fast_RNO[0], fifo_inst.rx_fifo_inst.rDataCount_fast[0] }
clb_pack LT_14_6 { fifo_inst.ft2232h_inst.rFifoState_4_LC_14_6_0, rRxEn_LC_14_6_1, fifo_inst.ft2232h_inst.rWrDelay_LC_14_6_3, fifo_inst.ft2232h_inst.rTx_n_LC_14_6_4, fifo_inst.rx_fifo_inst.rDataCount_0_LC_14_6_5, fifo_inst.ft2232h_inst.rFifoState_3_LC_14_6_6, fifo_inst.rx_fifo_inst.rDataCount_fast_0_LC_14_6_7 }
set_location LT_14_6 14 6
ble_pack rFtdiRxState_0_LC_14_7_0 { uart_inst0.tx_uart_fifo_inst.m29, rFtdiRxState[0] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNID3RQ_3_LC_14_7_2 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNID3RQ[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNI9H5T_3_LC_14_7_3 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNI9H5T[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.m27_e_LC_14_7_5 { uart_inst0.tx_uart_fifo_inst.m27_e }
clb_pack LT_14_7 { rFtdiRxState_0_LC_14_7_0, uart_inst0.tx_uart_fifo_inst.rDataCount_RNID3RQ_3_LC_14_7_2, uart_inst0.tx_uart_fifo_inst.rDataCount_RNI9H5T_3_LC_14_7_3, uart_inst0.tx_uart_fifo_inst.m27_e_LC_14_7_5 }
set_location LT_14_7 14 7
ble_pack fifo_inst.ft2232h_inst.rFifoState_RNO_0_0_LC_14_8_4 { fifo_inst.ft2232h_inst.rFifoState_RNO_0[0] }
clb_pack LT_14_8 { fifo_inst.ft2232h_inst.rFifoState_RNO_0_0_LC_14_8_4 }
set_location LT_14_8 14 8
ble_pack fifo_inst.ft2232h_inst.rFifoState_2_LC_14_9_3 { fifo_inst.ft2232h_inst.rFifoState_2_THRU_LUT4_0, fifo_inst.ft2232h_inst.rFifoState[2] }
ble_pack fifo_inst.ft2232h_inst.rFifoState_1_LC_14_9_4 { uart_inst0.tx_uart_fifo_inst.m39_fifo_inst.ft2232h_inst.rFifoState_1_REP_LUT4_0, fifo_inst.ft2232h_inst.rFifoState[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCountZ0Z_1_LC_14_9_7 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO[1], uart_inst0.tx_uart_fifo_inst.rDataCount[1] }
clb_pack LT_14_9 { fifo_inst.ft2232h_inst.rFifoState_2_LC_14_9_3, fifo_inst.ft2232h_inst.rFifoState_1_LC_14_9_4, uart_inst0.tx_uart_fifo_inst.rDataCountZ0Z_1_LC_14_9_7 }
set_location LT_14_9 14 9
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0_2_LC_14_10_0 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0[2] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0_1_LC_14_10_3 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNIJHQM1_2_LC_14_10_6 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNIJHQM1[2] }
ble_pack uart_inst0.tx_uart_fifo_inst.rDataCount_RNIKKMI2_3_LC_14_10_7 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNIKKMI2[3] }
clb_pack LT_14_10 { uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0_2_LC_14_10_0, uart_inst0.tx_uart_fifo_inst.rDataCount_RNO_0_1_LC_14_10_3, uart_inst0.tx_uart_fifo_inst.rDataCount_RNIJHQM1_2_LC_14_10_6, uart_inst0.tx_uart_fifo_inst.rDataCount_RNIKKMI2_3_LC_14_10_7 }
set_location LT_14_10 14 10
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIBDOK2_0_LC_14_11_0 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIBDOK2[0], uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIOA54_LC_14_11_1 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIOA54, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIQD64_LC_14_11_2 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIQD64, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c_RNISG74_LC_14_11_3 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c_RNISG74, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIUJ84_LC_14_11_4 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIUJ84, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c_RNI0N94_LC_14_11_5 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c_RNI0N94, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c_RNI2QA4_LC_14_11_6 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c_RNI2QA4, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c_RNI4TB4_LC_14_11_7 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c_RNI4TB4, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c }
clb_pack LT_14_11 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIBDOK2_0_LC_14_11_0, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIOA54_LC_14_11_1, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIQD64_LC_14_11_2, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c_RNISG74_LC_14_11_3, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIUJ84_LC_14_11_4, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c_RNI0N94_LC_14_11_5, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c_RNI2QA4_LC_14_11_6, uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c_RNI4TB4_LC_14_11_7 }
set_location LT_14_11 14 11
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c_RNI60D4_LC_14_12_0 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c_RNI60D4 }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNIU317_4_LC_14_12_6 { uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNIU317[4] }
clb_pack LT_14_12 { uart_inst0.tx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c_RNI60D4_LC_14_12_0, uart_inst0.tx_uart_fifo_inst.rRamWrAddr_RNIU317_4_LC_14_12_6 }
set_location LT_14_12 14 12
ble_pack uart_inst0.uart_inst0.rTx_LC_14_14_5 { uart_inst0.uart_inst0.rTx_RNO, uart_inst0.uart_inst0.rTx }
clb_pack LT_14_14 { uart_inst0.uart_inst0.rTx_LC_14_14_5 }
set_location LT_14_14 14 14
ble_pack uart_inst0.uart_inst0.tx_state_RNI5LM6_0_LC_14_15_4 { uart_inst0.uart_inst0.tx_state_RNI5LM6[0] }
ble_pack uart_inst0.uart_inst0.rTx_RNO_1_LC_14_15_6 { uart_inst0.uart_inst0.rTx_RNO_1 }
ble_pack uart_inst0.uart_inst0.rTx_RNO_0_LC_14_15_7 { uart_inst0.uart_inst0.rTx_RNO_0 }
clb_pack LT_14_15 { uart_inst0.uart_inst0.tx_state_RNI5LM6_0_LC_14_15_4, uart_inst0.uart_inst0.rTx_RNO_1_LC_14_15_6, uart_inst0.uart_inst0.rTx_RNO_0_LC_14_15_7 }
set_location LT_14_15 14 15
ble_pack uart_inst0.uart_inst0.tx_state_RNI9VFM2_0_LC_14_16_1 { uart_inst0.uart_inst0.tx_state_RNI9VFM2[0] }
ble_pack uart_inst0.uart_inst0.tx_state_RNI5DQO2_0_LC_14_16_2 { uart_inst0.uart_inst0.tx_state_RNI5DQO2[0] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_RNO_0_3_LC_14_16_4 { uart_inst0.uart_inst0.tx_bits_remaining_RNO_0[3] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_RNO_0_1_LC_14_16_5 { uart_inst0.uart_inst0.tx_bits_remaining_RNO_0[1] }
ble_pack uart_inst0.uart_inst0.tx_state_RNI9VFM2_0_0_LC_14_16_6 { uart_inst0.uart_inst0.tx_state_RNI9VFM2_0[0] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_0_LC_14_16_7 { uart_inst0.uart_inst0.tx_bits_remaining_RNO[0], uart_inst0.uart_inst0.tx_bits_remaining[0] }
clb_pack LT_14_16 { uart_inst0.uart_inst0.tx_state_RNI9VFM2_0_LC_14_16_1, uart_inst0.uart_inst0.tx_state_RNI5DQO2_0_LC_14_16_2, uart_inst0.uart_inst0.tx_bits_remaining_RNO_0_3_LC_14_16_4, uart_inst0.uart_inst0.tx_bits_remaining_RNO_0_1_LC_14_16_5, uart_inst0.uart_inst0.tx_state_RNI9VFM2_0_0_LC_14_16_6, uart_inst0.uart_inst0.tx_bits_remaining_0_LC_14_16_7 }
set_location LT_14_16 14 16
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_1_LC_14_17_0 { uart_inst0.uart_inst0.tx_bits_remaining_RNO[1], uart_inst0.uart_inst0.tx_bits_remaining[1] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_2_LC_14_17_6 { uart_inst0.uart_inst0.tx_bits_remaining_RNO[2], uart_inst0.uart_inst0.tx_bits_remaining[2] }
clb_pack LT_14_17 { uart_inst0.uart_inst0.tx_bits_remaining_1_LC_14_17_0, uart_inst0.uart_inst0.tx_bits_remaining_2_LC_14_17_6 }
set_location LT_14_17 14 17
ble_pack uart_inst0.uart_inst0.tx_countdown_0_LC_14_18_1 { uart_inst0.uart_inst0.tx_countdown_RNO[0], uart_inst0.uart_inst0.tx_countdown[0] }
ble_pack uart_inst0.uart_inst0.tx_countdown_1_LC_14_18_6 { uart_inst0.uart_inst0.tx_countdown_RNO[1], uart_inst0.uart_inst0.tx_countdown[1] }
clb_pack LT_14_18 { uart_inst0.uart_inst0.tx_countdown_0_LC_14_18_1, uart_inst0.uart_inst0.tx_countdown_1_LC_14_18_6 }
set_location LT_14_18 14 18
ble_pack fifo_inst.tx_fifo_inst.ram512x8_inst.RDATA_0_LC_15_1_4 { fifo_inst.tx_fifo_inst.ram512x8_inst.RDATA_0_THRU_LUT4_0, fifo_inst.tx_fifo_inst.ram512x8_inst.RDATA[0] }
clb_pack LT_15_1 { fifo_inst.tx_fifo_inst.ram512x8_inst.RDATA_0_LC_15_1_4 }
set_location LT_15_1 15 1
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_6_LC_15_2_2 { fifo_inst.tx_fifo_inst.rRamRdAddr_6_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[6] }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_5_LC_15_2_6 { fifo_inst.tx_fifo_inst.rRamRdAddr_5_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[5] }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_7_LC_15_2_7 { fifo_inst.tx_fifo_inst.rRamRdAddr_7_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[7] }
clb_pack LT_15_2 { fifo_inst.tx_fifo_inst.rRamRdAddr_6_LC_15_2_2, fifo_inst.tx_fifo_inst.rRamRdAddr_5_LC_15_2_6, fifo_inst.tx_fifo_inst.rRamRdAddr_7_LC_15_2_7 }
set_location LT_15_2 15 2
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_RNI9KL42_0_LC_15_3_0 { fifo_inst.tx_fifo_inst.rRamRdAddr_RNI9KL42[0], fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_0_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIE7TP_LC_15_3_1 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIE7TP, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_1_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIGAUP_LC_15_3_2 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIGAUP, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_2_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_2_c_RNIMVKN_LC_15_3_3 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_2_c_RNIMVKN, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_3_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIKG0Q_LC_15_3_4 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIKG0Q, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_4_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_4_c_RNIMJ1Q_LC_15_3_5 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_4_c_RNIMJ1Q, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_5_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIOM2Q_LC_15_3_6 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIOM2Q, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_6_c }
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_6_c_RNIQP3Q_LC_15_3_7 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_6_c_RNIQP3Q, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_7_c }
clb_pack LT_15_3 { fifo_inst.tx_fifo_inst.rRamRdAddr_RNI9KL42_0_LC_15_3_0, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIE7TP_LC_15_3_1, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIGAUP_LC_15_3_2, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_2_c_RNIMVKN_LC_15_3_3, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIKG0Q_LC_15_3_4, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_4_c_RNIMJ1Q_LC_15_3_5, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIOM2Q_LC_15_3_6, fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_6_c_RNIQP3Q_LC_15_3_7 }
set_location LT_15_3 15 3
ble_pack fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_7_c_RNISS4Q_LC_15_4_0 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_7_c_RNISS4Q }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_1_LC_15_4_1 { fifo_inst.tx_fifo_inst.rRamRdAddr_1_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[1] }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_2_LC_15_4_2 { fifo_inst.rx_fifo_inst.rRamRdAddr_2_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[2] }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_8_LC_15_4_3 { fifo_inst.tx_fifo_inst.rRamRdAddr_8_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[8] }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_6_LC_15_4_5 { fifo_inst.rx_fifo_inst.rRamRdAddr_6_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[6] }
ble_pack uart_inst0.tx_uart_fifo_inst.m12_LC_15_4_7 { uart_inst0.tx_uart_fifo_inst.m12 }
clb_pack LT_15_4 { fifo_inst.tx_fifo_inst.un1_rRamRdAddr_cry_7_c_RNISS4Q_LC_15_4_0, fifo_inst.tx_fifo_inst.rRamRdAddr_1_LC_15_4_1, fifo_inst.rx_fifo_inst.rRamRdAddr_2_LC_15_4_2, fifo_inst.tx_fifo_inst.rRamRdAddr_8_LC_15_4_3, fifo_inst.rx_fifo_inst.rRamRdAddr_6_LC_15_4_5, uart_inst0.tx_uart_fifo_inst.m12_LC_15_4_7 }
set_location LT_15_4 15 4
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_RNI0S8U_0_LC_15_5_0 { fifo_inst.rx_fifo_inst.rRamRdAddr_RNI0S8U[0], fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_0_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIAHVB_LC_15_5_1 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIAHVB, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_1_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_1_c_RNICK0C_LC_15_5_2 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_1_c_RNICK0C, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_2_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_2_c_RNII9N9_LC_15_5_3 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_2_c_RNII9N9, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_3_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIGQ2C_LC_15_5_4 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIGQ2C, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_4_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_4_c_RNIIT3C_LC_15_5_5 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_4_c_RNIIT3C, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_5_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIK05C_LC_15_5_6 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIK05C, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_6_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_6_c_RNIM36C_LC_15_5_7 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_6_c_RNIM36C, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_7_c }
clb_pack LT_15_5 { fifo_inst.rx_fifo_inst.rRamRdAddr_RNI0S8U_0_LC_15_5_0, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIAHVB_LC_15_5_1, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_1_c_RNICK0C_LC_15_5_2, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_2_c_RNII9N9_LC_15_5_3, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIGQ2C_LC_15_5_4, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_4_c_RNIIT3C_LC_15_5_5, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIK05C_LC_15_5_6, fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_6_c_RNIM36C_LC_15_5_7 }
set_location LT_15_5 15 5
ble_pack fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_7_c_RNIO67C_LC_15_6_0 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_7_c_RNIO67C }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_5_LC_15_6_1 { fifo_inst.rx_fifo_inst.rRamRdAddr_5_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[5] }
ble_pack uart_inst0.tx_uart_fifo_inst.m10_LC_15_6_3 { uart_inst0.tx_uart_fifo_inst.m10 }
ble_pack uart_inst0.tx_uart_fifo_inst.m23_LC_15_6_6 { uart_inst0.tx_uart_fifo_inst.m23 }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_8_LC_15_6_7 { fifo_inst.rx_fifo_inst.rRamRdAddr_8_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[8] }
clb_pack LT_15_6 { fifo_inst.rx_fifo_inst.un1_rRamRdAddr_cry_7_c_RNIO67C_LC_15_6_0, fifo_inst.rx_fifo_inst.rRamRdAddr_5_LC_15_6_1, uart_inst0.tx_uart_fifo_inst.m10_LC_15_6_3, uart_inst0.tx_uart_fifo_inst.m23_LC_15_6_6, fifo_inst.rx_fifo_inst.rRamRdAddr_8_LC_15_6_7 }
set_location LT_15_6 15 6
ble_pack rUartTxData_ess_6_LC_15_7_0 { rUartTxData_ess_RNO[6], rUartTxData_ess[6] }
ble_pack rUartTxData_esr_5_LC_15_7_1 { rUartTxData_esr_RNO[5], rUartTxData_esr[5] }
ble_pack rUartTxData_esr_1_LC_15_7_4 { rUartTxData_esr_RNO[1], rUartTxData_esr[1] }
clb_pack LT_15_7 { rUartTxData_ess_6_LC_15_7_0, rUartTxData_esr_5_LC_15_7_1, rUartTxData_esr_1_LC_15_7_4 }
set_location LT_15_7 15 7
ble_pack rUartRxData_esr_5_LC_15_8_0 { rUartRxData_esr_5_THRU_LUT4_0, rUartRxData_esr[5] }
ble_pack rUartRxData_esr_7_LC_15_8_5 { rUartRxData_esr_7_THRU_LUT4_0, rUartRxData_esr[7] }
ble_pack rUartRxData_esr_6_LC_15_8_6 { rUartRxData_esr_6_THRU_LUT4_0, rUartRxData_esr[6] }
clb_pack LT_15_8 { rUartRxData_esr_5_LC_15_8_0, rUartRxData_esr_7_LC_15_8_5, rUartRxData_esr_6_LC_15_8_6 }
set_location LT_15_8 15 8
ble_pack rUartRxData_esr_2_LC_15_9_0 { rUartRxData_esr_2_THRU_LUT4_0, rUartRxData_esr[2] }
ble_pack rUartRxData_esr_0_LC_15_9_2 { rUartRxData_esr_0_THRU_LUT4_0, rUartRxData_esr[0] }
ble_pack rUartRxData_esr_3_LC_15_9_3 { rUartRxData_esr_3_THRU_LUT4_0, rUartRxData_esr[3] }
ble_pack rUartRxData_esr_4_LC_15_9_4 { rUartRxData_esr_4_THRU_LUT4_0, rUartRxData_esr[4] }
ble_pack rUartRxData_esr_1_LC_15_9_5 { rUartRxData_esr_1_THRU_LUT4_0, rUartRxData_esr[1] }
clb_pack LT_15_9 { rUartRxData_esr_2_LC_15_9_0, rUartRxData_esr_0_LC_15_9_2, rUartRxData_esr_3_LC_15_9_3, rUartRxData_esr_4_LC_15_9_4, rUartRxData_esr_1_LC_15_9_5 }
set_location LT_15_9 15 9
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_2_LC_15_10_1 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_2 }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_3_LC_15_10_2 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNO[3], uart_inst0.tx_uart_fifo_inst.rRamRdAddr[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIIP78_4_LC_15_10_3 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIIP78[4] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIJ3HI_1_LC_15_10_4 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIJ3HI[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_LC_15_10_5 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddrZ0Z_0_LC_15_10_6 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNO[0], uart_inst0.tx_uart_fifo_inst.rRamRdAddr[0] }
clb_pack LT_15_10 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_2_LC_15_10_1, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_3_LC_15_10_2, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIIP78_4_LC_15_10_3, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIJ3HI_1_LC_15_10_4, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_LC_15_10_5, uart_inst0.tx_uart_fifo_inst.rRamRdAddrZ0Z_0_LC_15_10_6 }
set_location LT_15_10 15 10
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_5_LC_15_11_1 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_5 }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_6_LC_15_11_2 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_6 }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_7_LC_15_11_3 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_7 }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIGL56_8_LC_15_11_5 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIGL56[8] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_3_LC_15_11_6 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_3 }
clb_pack LT_15_11 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_5_LC_15_11_1, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_6_LC_15_11_2, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_7_LC_15_11_3, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_RNIGL56_8_LC_15_11_5, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_3_LC_15_11_6 }
set_location LT_15_11 15 11
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_4_LC_15_12_0 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_4_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[4] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_5_LC_15_12_1 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_5_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[5] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_6_LC_15_12_2 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_6_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[6] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_7_LC_15_12_3 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_7_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[7] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_8_LC_15_12_5 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_8_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[8] }
clb_pack LT_15_12 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_4_LC_15_12_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_5_LC_15_12_1, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_6_LC_15_12_2, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_7_LC_15_12_3, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_8_LC_15_12_5 }
set_location LT_15_12 15 12
ble_pack uart_inst0.uart_inst0.rx_countdown_4_LC_15_14_1 { uart_inst0.uart_inst0.rx_countdown_RNO[4], uart_inst0.uart_inst0.rx_countdown[4] }
ble_pack uart_inst0.uart_inst0.rx_countdown_2_LC_15_14_2 { uart_inst0.uart_inst0.rx_countdown_RNO[2], uart_inst0.uart_inst0.rx_countdown[2] }
ble_pack uart_inst0.uart_inst0.rx_countdown_3_LC_15_14_3 { uart_inst0.uart_inst0.rx_countdown_RNO[3], uart_inst0.uart_inst0.rx_countdown[3] }
ble_pack uart_inst0.uart_inst0.rx_countdown_1_LC_15_14_5 { uart_inst0.uart_inst0.rx_countdown_RNO[1], uart_inst0.uart_inst0.rx_countdown[1] }
ble_pack uart_inst0.uart_inst0.rx_countdown_0_LC_15_14_6 { uart_inst0.uart_inst0.rx_countdown_RNO[0], uart_inst0.uart_inst0.rx_countdown[0] }
clb_pack LT_15_14 { uart_inst0.uart_inst0.rx_countdown_4_LC_15_14_1, uart_inst0.uart_inst0.rx_countdown_2_LC_15_14_2, uart_inst0.uart_inst0.rx_countdown_3_LC_15_14_3, uart_inst0.uart_inst0.rx_countdown_1_LC_15_14_5, uart_inst0.uart_inst0.rx_countdown_0_LC_15_14_6 }
set_location LT_15_14 15 14
ble_pack uart_inst0.uart_inst0.rx_state_RNO_2_0_LC_15_15_1 { uart_inst0.uart_inst0.rx_state_RNO_2[0] }
ble_pack uart_inst0.uart_inst0.rx_state_RNI1VB3_5_LC_15_15_2 { uart_inst0.uart_inst0.rx_state_RNI1VB3[5] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNIEE7V1_5_LC_15_15_3 { uart_inst0.uart_inst0.rx_countdown_RNIEE7V1[5] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNIFVQU2_0_LC_15_15_4 { uart_inst0.uart_inst0.rx_countdown_RNIFVQU2[0] }
ble_pack uart_inst0.uart_inst0.rx_state_RNIJD833_1_LC_15_15_5 { uart_inst0.uart_inst0.rx_state_RNIJD833[1] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_RNIMJMP_3_LC_15_15_6 { uart_inst0.uart_inst0.tx_bits_remaining_RNIMJMP[3] }
ble_pack uart_inst0.uart_inst0.tx_state_RNIR8D01_0_LC_15_15_7 { uart_inst0.uart_inst0.tx_state_RNIR8D01[0] }
clb_pack LT_15_15 { uart_inst0.uart_inst0.rx_state_RNO_2_0_LC_15_15_1, uart_inst0.uart_inst0.rx_state_RNI1VB3_5_LC_15_15_2, uart_inst0.uart_inst0.rx_countdown_RNIEE7V1_5_LC_15_15_3, uart_inst0.uart_inst0.rx_countdown_RNIFVQU2_0_LC_15_15_4, uart_inst0.uart_inst0.rx_state_RNIJD833_1_LC_15_15_5, uart_inst0.uart_inst0.tx_bits_remaining_RNIMJMP_3_LC_15_15_6, uart_inst0.uart_inst0.tx_state_RNIR8D01_0_LC_15_15_7 }
set_location LT_15_15 15 15
ble_pack uart_inst0.uart_inst0.tx_countdown_RNIEM2M1_0_2_LC_15_16_0 { uart_inst0.uart_inst0.tx_countdown_RNIEM2M1_0[2] }
ble_pack uart_inst0.uart_inst0.tx_state_1_LC_15_16_1 { uart_inst0.uart_inst0.tx_state_RNO[1], uart_inst0.uart_inst0.tx_state[1] }
ble_pack uart_inst0.uart_inst0.rx_state_RNO_0_1_LC_15_16_2 { uart_inst0.uart_inst0.rx_state_RNO_0[1] }
ble_pack uart_inst0.uart_inst0.rx_state_1_LC_15_16_3 { uart_inst0.uart_inst0.rx_state_RNO[1], uart_inst0.uart_inst0.rx_state[1] }
ble_pack uart_inst0.uart_inst0.rx_state_4_LC_15_16_4 { uart_inst0.uart_inst0.rx_state_RNO[4], uart_inst0.uart_inst0.rx_state[4] }
ble_pack uart_inst0.uart_inst0.rx_state_RNO_1_0_LC_15_16_5 { uart_inst0.uart_inst0.rx_state_RNO_1[0] }
ble_pack uart_inst0.uart_inst0.rx_state_0_LC_15_16_6 { uart_inst0.uart_inst0.rx_state_RNO[0], uart_inst0.uart_inst0.rx_state[0] }
ble_pack uart_inst0.uart_inst0.rx_state_RNO_0_0_LC_15_16_7 { uart_inst0.uart_inst0.rx_state_RNO_0[0] }
clb_pack LT_15_16 { uart_inst0.uart_inst0.tx_countdown_RNIEM2M1_0_2_LC_15_16_0, uart_inst0.uart_inst0.tx_state_1_LC_15_16_1, uart_inst0.uart_inst0.rx_state_RNO_0_1_LC_15_16_2, uart_inst0.uart_inst0.rx_state_1_LC_15_16_3, uart_inst0.uart_inst0.rx_state_4_LC_15_16_4, uart_inst0.uart_inst0.rx_state_RNO_1_0_LC_15_16_5, uart_inst0.uart_inst0.rx_state_0_LC_15_16_6, uart_inst0.uart_inst0.rx_state_RNO_0_0_LC_15_16_7 }
set_location LT_15_16 15 16
ble_pack uart_inst0.uart_inst0.tx_countdown_RNIEM2M1_2_LC_15_17_0 { uart_inst0.uart_inst0.tx_countdown_RNIEM2M1[2] }
ble_pack uart_inst0.uart_inst0.tx_state_RNO_0_0_LC_15_17_1 { uart_inst0.uart_inst0.tx_state_RNO_0[0] }
ble_pack uart_inst0.uart_inst0.tx_state_0_LC_15_17_2 { uart_inst0.uart_inst0.tx_state_RNO[0], uart_inst0.uart_inst0.tx_state[0] }
ble_pack uart_inst0.uart_inst0.tx_state_RNI1319_0_LC_15_17_3 { uart_inst0.uart_inst0.tx_state_RNI1319[0] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_RNO_1_2_LC_15_17_4 { uart_inst0.uart_inst0.tx_bits_remaining_RNO_1[2] }
ble_pack uart_inst0.uart_inst0.tx_bits_remaining_RNO_0_2_LC_15_17_5 { uart_inst0.uart_inst0.tx_bits_remaining_RNO_0[2] }
ble_pack uart_inst0.uart_inst0.tx_countdown_RNIEGNA5_2_LC_15_17_6 { uart_inst0.uart_inst0.tx_countdown_RNIEGNA5[2] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_esr_RNO_0_14_LC_15_17_7 { uart_inst0.uart_inst0.tx_clk_divider_esr_RNO_0[14] }
clb_pack LT_15_17 { uart_inst0.uart_inst0.tx_countdown_RNIEM2M1_2_LC_15_17_0, uart_inst0.uart_inst0.tx_state_RNO_0_0_LC_15_17_1, uart_inst0.uart_inst0.tx_state_0_LC_15_17_2, uart_inst0.uart_inst0.tx_state_RNI1319_0_LC_15_17_3, uart_inst0.uart_inst0.tx_bits_remaining_RNO_1_2_LC_15_17_4, uart_inst0.uart_inst0.tx_bits_remaining_RNO_0_2_LC_15_17_5, uart_inst0.uart_inst0.tx_countdown_RNIEGNA5_2_LC_15_17_6, uart_inst0.uart_inst0.tx_clk_divider_esr_RNO_0_14_LC_15_17_7 }
set_location LT_15_17 15 17
ble_pack uart_inst0.uart_inst0.tx_countdown_RNO_0_3_LC_15_18_0 { uart_inst0.uart_inst0.tx_countdown_RNO_0[3] }
ble_pack uart_inst0.uart_inst0.tx_countdown_3_LC_15_18_1 { uart_inst0.uart_inst0.tx_countdown_RNO[3], uart_inst0.uart_inst0.tx_countdown[3] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_esr_RNIIIJI_14_LC_15_18_2 { uart_inst0.uart_inst0.tx_clk_divider_esr_RNIIIJI[14] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_esr_RNI4CAI3_14_LC_15_18_3 { uart_inst0.uart_inst0.tx_clk_divider_esr_RNI4CAI3[14] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_RNIQUQ11_4_LC_15_18_4 { uart_inst0.uart_inst0.tx_clk_divider_RNIQUQ11[4] }
clb_pack LT_15_18 { uart_inst0.uart_inst0.tx_countdown_RNO_0_3_LC_15_18_0, uart_inst0.uart_inst0.tx_countdown_3_LC_15_18_1, uart_inst0.uart_inst0.tx_clk_divider_esr_RNIIIJI_14_LC_15_18_2, uart_inst0.uart_inst0.tx_clk_divider_esr_RNI4CAI3_14_LC_15_18_3, uart_inst0.uart_inst0.tx_clk_divider_RNIQUQ11_4_LC_15_18_4 }
set_location LT_15_18 15 18
ble_pack uart_inst0.uart_inst0.tx_clk_divider_RNIEC1S_10_LC_15_19_0 { uart_inst0.uart_inst0.tx_clk_divider_RNIEC1S[10] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_10_LC_15_19_1 { uart_inst0.uart_inst0.tx_clk_divider_RNO[10], uart_inst0.uart_inst0.tx_clk_divider[10] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_11_LC_15_19_2 { uart_inst0.uart_inst0.tx_clk_divider_RNO[11], uart_inst0.uart_inst0.tx_clk_divider[11] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_13_LC_15_19_4 { uart_inst0.uart_inst0.tx_clk_divider_RNO[13], uart_inst0.uart_inst0.tx_clk_divider[13] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_5_LC_15_19_6 { uart_inst0.uart_inst0.tx_clk_divider_RNO[5], uart_inst0.uart_inst0.tx_clk_divider[5] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_6_LC_15_19_7 { uart_inst0.uart_inst0.tx_clk_divider_RNO[6], uart_inst0.uart_inst0.tx_clk_divider[6] }
clb_pack LT_15_19 { uart_inst0.uart_inst0.tx_clk_divider_RNIEC1S_10_LC_15_19_0, uart_inst0.uart_inst0.tx_clk_divider_10_LC_15_19_1, uart_inst0.uart_inst0.tx_clk_divider_11_LC_15_19_2, uart_inst0.uart_inst0.tx_clk_divider_13_LC_15_19_4, uart_inst0.uart_inst0.tx_clk_divider_5_LC_15_19_6, uart_inst0.uart_inst0.tx_clk_divider_6_LC_15_19_7 }
set_location LT_15_19 15 19
ble_pack rTxData_0_LC_16_1_5 { rTxData_RNO[0], rTxData[0] }
clb_pack LT_16_1 { rTxData_0_LC_16_1_5 }
set_location LT_16_1 16 1
ble_pack fifo_inst.ft2232h_inst.rTxBusReady_esr_LC_16_2_7 { uart_inst0.tx_uart_fifo_inst.m21_fifo_inst.ft2232h_inst.rTxBusReady_esr_REP_LUT4_0, fifo_inst.ft2232h_inst.rTxBusReady_esr }
clb_pack LT_16_2 { fifo_inst.ft2232h_inst.rTxBusReady_esr_LC_16_2_7 }
set_location LT_16_2 16 2
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_3_LC_16_3_0 { uart_inst0.tx_uart_fifo_inst.m74_fifo_inst.tx_fifo_inst.rRamRdAddr_3_REP_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.m74_LC_16_3_1 { uart_inst0.tx_uart_fifo_inst.m74 }
ble_pack uart_inst0.tx_uart_fifo_inst.m72_e_5_LC_16_3_2 { uart_inst0.tx_uart_fifo_inst.m72_e_5 }
ble_pack uart_inst0.tx_uart_fifo_inst.m72_e_LC_16_3_3 { uart_inst0.tx_uart_fifo_inst.m72_e }
ble_pack uart_inst0.tx_uart_fifo_inst.m73_LC_16_3_4 { uart_inst0.tx_uart_fifo_inst.m73 }
ble_pack uart_inst0.tx_uart_fifo_inst.m72_e_6_LC_16_3_5 { uart_inst0.tx_uart_fifo_inst.m72_e_6 }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_4_LC_16_3_6 { fifo_inst.tx_fifo_inst.rRamRdAddr_4_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[4] }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_0_LC_16_3_7 { uart_inst0.tx_uart_fifo_inst.m73_fifo_inst.tx_fifo_inst.rRamRdAddr_0_REP_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[0] }
clb_pack LT_16_3 { fifo_inst.tx_fifo_inst.rRamRdAddr_3_LC_16_3_0, uart_inst0.tx_uart_fifo_inst.m74_LC_16_3_1, uart_inst0.tx_uart_fifo_inst.m72_e_5_LC_16_3_2, uart_inst0.tx_uart_fifo_inst.m72_e_LC_16_3_3, uart_inst0.tx_uart_fifo_inst.m73_LC_16_3_4, uart_inst0.tx_uart_fifo_inst.m72_e_6_LC_16_3_5, fifo_inst.tx_fifo_inst.rRamRdAddr_4_LC_16_3_6, fifo_inst.tx_fifo_inst.rRamRdAddr_0_LC_16_3_7 }
set_location LT_16_3 16 3
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_7_LC_16_4_0 { fifo_inst.rx_fifo_inst.rRamRdAddr_7_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[7] }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_3_LC_16_4_2 { uart_inst0.tx_uart_fifo_inst.m60_fifo_inst.rx_fifo_inst.rRamRdAddr_3_REP_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[3] }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_1_LC_16_4_3 { fifo_inst.rx_fifo_inst.rRamRdAddr_1_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.m60_LC_16_4_4 { uart_inst0.tx_uart_fifo_inst.m60 }
clb_pack LT_16_4 { fifo_inst.rx_fifo_inst.rRamRdAddr_7_LC_16_4_0, fifo_inst.rx_fifo_inst.rRamRdAddr_3_LC_16_4_2, fifo_inst.rx_fifo_inst.rRamRdAddr_1_LC_16_4_3, uart_inst0.tx_uart_fifo_inst.m60_LC_16_4_4 }
set_location LT_16_4 16 4
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_4_LC_16_5_0 { fifo_inst.rx_fifo_inst.rRamRdAddr_4_THRU_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[4] }
ble_pack uart_inst0.tx_uart_fifo_inst.m58_e_6_LC_16_5_1 { uart_inst0.tx_uart_fifo_inst.m58_e_6 }
ble_pack uart_inst0.tx_uart_fifo_inst.un1_rFifoState_1_sqmuxa_0_i_LC_16_5_2 { uart_inst0.tx_uart_fifo_inst.un1_rFifoState_1_sqmuxa_0_i }
ble_pack fifo_inst.ft2232h_inst.rTxBusReady_esr_RNO_LC_16_5_3 { fifo_inst.ft2232h_inst.rTxBusReady_esr_RNO }
ble_pack uart_inst0.tx_uart_fifo_inst.m59_LC_16_5_4 { uart_inst0.tx_uart_fifo_inst.m59 }
ble_pack uart_inst0.tx_uart_fifo_inst.m58_e_5_LC_16_5_5 { uart_inst0.tx_uart_fifo_inst.m58_e_5 }
ble_pack uart_inst0.tx_uart_fifo_inst.m58_e_LC_16_5_6 { uart_inst0.tx_uart_fifo_inst.m58_e }
ble_pack fifo_inst.rx_fifo_inst.rRamRdAddr_0_LC_16_5_7 { uart_inst0.tx_uart_fifo_inst.m59_fifo_inst.rx_fifo_inst.rRamRdAddr_0_REP_LUT4_0, fifo_inst.rx_fifo_inst.rRamRdAddr[0] }
clb_pack LT_16_5 { fifo_inst.rx_fifo_inst.rRamRdAddr_4_LC_16_5_0, uart_inst0.tx_uart_fifo_inst.m58_e_6_LC_16_5_1, uart_inst0.tx_uart_fifo_inst.un1_rFifoState_1_sqmuxa_0_i_LC_16_5_2, fifo_inst.ft2232h_inst.rTxBusReady_esr_RNO_LC_16_5_3, uart_inst0.tx_uart_fifo_inst.m59_LC_16_5_4, uart_inst0.tx_uart_fifo_inst.m58_e_5_LC_16_5_5, uart_inst0.tx_uart_fifo_inst.m58_e_LC_16_5_6, fifo_inst.rx_fifo_inst.rRamRdAddr_0_LC_16_5_7 }
set_location LT_16_5 16 5
ble_pack rRxData_4_LC_16_6_0 { rRxData_4_THRU_LUT4_0, rRxData[4] }
clb_pack LT_16_6 { rRxData_4_LC_16_6_0 }
set_location LT_16_6 16 6
ble_pack rUartTxData_esr_3_LC_16_7_3 { rUartTxData_esr_RNO[3], rUartTxData_esr[3] }
ble_pack rUartTxData_esr_4_LC_16_7_4 { rUartTxData_esr_RNO[4], rUartTxData_esr[4] }
ble_pack rUartTxData_esr_7_LC_16_7_5 { rUartTxData_esr_RNO[7], rUartTxData_esr[7] }
ble_pack rUartTxData_esr_2_LC_16_7_6 { rUartTxData_esr_RNO[2], rUartTxData_esr[2] }
ble_pack rUartTxData_esr_0_LC_16_7_7 { rUartTxData_esr_RNO[0], rUartTxData_esr[0] }
clb_pack LT_16_7 { rUartTxData_esr_3_LC_16_7_3, rUartTxData_esr_4_LC_16_7_4, rUartTxData_esr_7_LC_16_7_5, rUartTxData_esr_2_LC_16_7_6, rUartTxData_esr_0_LC_16_7_7 }
set_location LT_16_7 16 7
ble_pack rUartRxState_RNITBQ5_0_LC_16_8_3 { rUartRxState_RNITBQ5[0] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0_1_LC_16_8_6 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0[1] }
clb_pack LT_16_8 { rUartRxState_RNITBQ5_0_LC_16_8_3, uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0_1_LC_16_8_6 }
set_location LT_16_8 16 8
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNIG8UP_3_LC_16_9_2 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNIG8UP[3] }
ble_pack uart_inst0.uart_inst0.rRxWrEn_LC_16_9_3 { uart_inst0.uart_inst0.rRxWrEn_RNO, uart_inst0.uart_inst0.rRxWrEn }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0_3_LC_16_9_4 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0[3] }
clb_pack LT_16_9 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNIG8UP_3_LC_16_9_2, uart_inst0.uart_inst0.rRxWrEn_LC_16_9_3, uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0_3_LC_16_9_4 }
set_location LT_16_9 16 9
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_0_LC_16_10_7 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_0 }
clb_pack LT_16_10 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_0_LC_16_10_7 }
set_location LT_16_10 16 10
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_1_LC_16_11_0 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_1_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[1] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_2_LC_16_11_1 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_2_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_4_LC_16_11_2 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_4_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[4] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_5_LC_16_11_3 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_5_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[5] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_6_LC_16_11_4 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_6_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[6] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_7_LC_16_11_5 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_7_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[7] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddrZ0Z_1_LC_16_11_6 { uart_inst0.tx_uart_fifo_inst.rRamRdAddrZ0Z_1_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.rRamRdAddr_2_LC_16_11_7 { uart_inst0.tx_uart_fifo_inst.rRamRdAddr_2_THRU_LUT4_0, uart_inst0.tx_uart_fifo_inst.rRamRdAddr[2] }
clb_pack LT_16_11 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_1_LC_16_11_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_2_LC_16_11_1, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_4_LC_16_11_2, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_5_LC_16_11_3, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_6_LC_16_11_4, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_7_LC_16_11_5, uart_inst0.tx_uart_fifo_inst.rRamRdAddrZ0Z_1_LC_16_11_6, uart_inst0.tx_uart_fifo_inst.rRamRdAddr_2_LC_16_11_7 }
set_location LT_16_11 16 11
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_8_LC_16_12_1 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_8_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr[8] }
clb_pack LT_16_12 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_8_LC_16_12_1 }
set_location LT_16_12 16 12
ble_pack uart_inst0.uart_inst0.rRxData_7_LC_16_13_1 { uart_inst0.uart_inst0.rRxData_RNO[7], uart_inst0.uart_inst0.rRxData[7] }
clb_pack LT_16_13 { uart_inst0.uart_inst0.rRxData_7_LC_16_13_1 }
set_location LT_16_13 16 13
ble_pack uart_inst0.uart_inst0.rx_state_5_LC_16_14_0 { uart_inst0.uart_inst0.rx_state_RNO[5], uart_inst0.uart_inst0.rx_state[5] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNIBD513_0_LC_16_14_3 { uart_inst0.uart_inst0.rx_countdown_RNIBD513[0] }
ble_pack uart_inst0.uart_inst0.rx_state_6_LC_16_14_4 { uart_inst0.uart_inst0.rx_state_RNO[6], uart_inst0.uart_inst0.rx_state[6] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNIHNBV2_0_LC_16_14_5 { uart_inst0.uart_inst0.rx_countdown_RNIHNBV2[0] }
ble_pack uart_inst0.uart_inst0.rx_state_RNI3F11_1_LC_16_14_6 { uart_inst0.uart_inst0.rx_state_RNI3F11[1] }
ble_pack uart_inst0.uart_inst0.rx_state_RNIGVTK5_5_LC_16_14_7 { uart_inst0.uart_inst0.rx_state_RNIGVTK5[5] }
clb_pack LT_16_14 { uart_inst0.uart_inst0.rx_state_5_LC_16_14_0, uart_inst0.uart_inst0.rx_countdown_RNIBD513_0_LC_16_14_3, uart_inst0.uart_inst0.rx_state_6_LC_16_14_4, uart_inst0.uart_inst0.rx_countdown_RNIHNBV2_0_LC_16_14_5, uart_inst0.uart_inst0.rx_state_RNI3F11_1_LC_16_14_6, uart_inst0.uart_inst0.rx_state_RNIGVTK5_5_LC_16_14_7 }
set_location LT_16_14 16 14
ble_pack uart_inst0.uart_inst0.rx_countdown_cry_c_0_LC_16_15_0 { uart_inst0.uart_inst0.rx_countdown_cry_c[0] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNO_0_1_LC_16_15_1 { uart_inst0.uart_inst0.rx_countdown_RNO_0[1], uart_inst0.uart_inst0.rx_countdown_cry_c[1] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNO_0_2_LC_16_15_2 { uart_inst0.uart_inst0.rx_countdown_RNO_0[2], uart_inst0.uart_inst0.rx_countdown_cry_c[2] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNO_0_3_LC_16_15_3 { uart_inst0.uart_inst0.rx_countdown_RNO_0[3], uart_inst0.uart_inst0.rx_countdown_cry_c[3] }
ble_pack uart_inst0.uart_inst0.rx_countdown_cry_3_THRU_LUT4_0_LC_16_15_4 { uart_inst0.uart_inst0.rx_countdown_cry_3_THRU_LUT4_0, uart_inst0.uart_inst0.rx_countdown_cry_c[4] }
ble_pack uart_inst0.uart_inst0.rx_countdown_5_LC_16_15_5 { uart_inst0.uart_inst0.rx_countdown_RNO[5], uart_inst0.uart_inst0.rx_countdown[5] }
clb_pack LT_16_15 { uart_inst0.uart_inst0.rx_countdown_cry_c_0_LC_16_15_0, uart_inst0.uart_inst0.rx_countdown_RNO_0_1_LC_16_15_1, uart_inst0.uart_inst0.rx_countdown_RNO_0_2_LC_16_15_2, uart_inst0.uart_inst0.rx_countdown_RNO_0_3_LC_16_15_3, uart_inst0.uart_inst0.rx_countdown_cry_3_THRU_LUT4_0_LC_16_15_4, uart_inst0.uart_inst0.rx_countdown_5_LC_16_15_5 }
set_location LT_16_15 16 15
ble_pack uart_inst0.uart_inst0.rx_state_RNO_1_2_LC_16_16_1 { uart_inst0.uart_inst0.rx_state_RNO_1[2] }
ble_pack uart_inst0.uart_inst0.rx_state_2_LC_16_16_2 { uart_inst0.uart_inst0.rx_state_RNO[2], uart_inst0.uart_inst0.rx_state[2] }
ble_pack uart_inst0.uart_inst0.tx_countdown_RNO_0_2_LC_16_16_4 { uart_inst0.uart_inst0.tx_countdown_RNO_0[2] }
ble_pack uart_inst0.uart_inst0.tx_countdown_RNO_1_3_LC_16_16_5 { uart_inst0.uart_inst0.tx_countdown_RNO_1[3] }
ble_pack uart_inst0.uart_inst0.rx_state_RNO_0_2_LC_16_16_7 { uart_inst0.uart_inst0.rx_state_RNO_0[2] }
clb_pack LT_16_16 { uart_inst0.uart_inst0.rx_state_RNO_1_2_LC_16_16_1, uart_inst0.uart_inst0.rx_state_2_LC_16_16_2, uart_inst0.uart_inst0.tx_countdown_RNO_0_2_LC_16_16_4, uart_inst0.uart_inst0.tx_countdown_RNO_1_3_LC_16_16_5, uart_inst0.uart_inst0.rx_state_RNO_0_2_LC_16_16_7 }
set_location LT_16_16 16 16
ble_pack uart_inst0.uart_inst0.tx_clk_divider_7_LC_16_17_0 { uart_inst0.uart_inst0.tx_clk_divider_RNO[7], uart_inst0.uart_inst0.tx_clk_divider[7] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_8_LC_16_17_1 { uart_inst0.uart_inst0.tx_clk_divider_RNO[8], uart_inst0.uart_inst0.tx_clk_divider[8] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_9_LC_16_17_2 { uart_inst0.uart_inst0.tx_clk_divider_RNO[9], uart_inst0.uart_inst0.tx_clk_divider[9] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_12_LC_16_17_3 { uart_inst0.uart_inst0.tx_clk_divider_RNO[12], uart_inst0.uart_inst0.tx_clk_divider[12] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_4_LC_16_17_4 { uart_inst0.uart_inst0.tx_clk_divider_RNO[4], uart_inst0.uart_inst0.tx_clk_divider[4] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_1_LC_16_17_5 { uart_inst0.uart_inst0.tx_clk_divider_RNO[1], uart_inst0.uart_inst0.tx_clk_divider[1] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_2_LC_16_17_7 { uart_inst0.uart_inst0.tx_clk_divider_RNO[2], uart_inst0.uart_inst0.tx_clk_divider[2] }
clb_pack LT_16_17 { uart_inst0.uart_inst0.tx_clk_divider_7_LC_16_17_0, uart_inst0.uart_inst0.tx_clk_divider_8_LC_16_17_1, uart_inst0.uart_inst0.tx_clk_divider_9_LC_16_17_2, uart_inst0.uart_inst0.tx_clk_divider_12_LC_16_17_3, uart_inst0.uart_inst0.tx_clk_divider_4_LC_16_17_4, uart_inst0.uart_inst0.tx_clk_divider_1_LC_16_17_5, uart_inst0.uart_inst0.tx_clk_divider_2_LC_16_17_7 }
set_location LT_16_17 16 17
ble_pack uart_inst0.uart_inst0.tx_clk_divider_0_LC_16_18_0 { uart_inst0.uart_inst0.tx_clk_divider_RNO[0], uart_inst0.uart_inst0.tx_clk_divider[0], uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_0_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_0_s1_THRU_LUT4_0_LC_16_18_1 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_0_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_1_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_1_s1_THRU_LUT4_0_LC_16_18_2 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_1_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_2_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_2_s1_THRU_LUT4_0_LC_16_18_3 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_2_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_3_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_3_s1_THRU_LUT4_0_LC_16_18_4 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_3_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_4_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_4_s1_THRU_LUT4_0_LC_16_18_5 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_4_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_5_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_5_s1_THRU_LUT4_0_LC_16_18_6 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_5_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_6_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_6_s1_THRU_LUT4_0_LC_16_18_7 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_6_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_7_s1_c }
clb_pack LT_16_18 { uart_inst0.uart_inst0.tx_clk_divider_0_LC_16_18_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_0_s1_THRU_LUT4_0_LC_16_18_1, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_1_s1_THRU_LUT4_0_LC_16_18_2, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_2_s1_THRU_LUT4_0_LC_16_18_3, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_3_s1_THRU_LUT4_0_LC_16_18_4, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_4_s1_THRU_LUT4_0_LC_16_18_5, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_5_s1_THRU_LUT4_0_LC_16_18_6, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_6_s1_THRU_LUT4_0_LC_16_18_7 }
set_location LT_16_18 16 18
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_7_s1_THRU_LUT4_0_LC_16_19_0 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_7_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_8_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_8_s1_THRU_LUT4_0_LC_16_19_1 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_8_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_9_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_9_s1_THRU_LUT4_0_LC_16_19_2 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_9_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_10_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_10_s1_THRU_LUT4_0_LC_16_19_3 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_10_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_11_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_11_s1_THRU_LUT4_0_LC_16_19_4 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_11_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_12_s1_c }
ble_pack uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_12_s1_THRU_LUT4_0_LC_16_19_5 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_12_s1_THRU_LUT4_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_13_s1_c }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_esr_14_LC_16_19_6 { uart_inst0.uart_inst0.tx_clk_divider_esr_RNO[14], uart_inst0.uart_inst0.tx_clk_divider_esr[14] }
clb_pack LT_16_19 { uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_7_s1_THRU_LUT4_0_LC_16_19_0, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_8_s1_THRU_LUT4_0_LC_16_19_1, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_9_s1_THRU_LUT4_0_LC_16_19_2, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_10_s1_THRU_LUT4_0_LC_16_19_3, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_11_s1_THRU_LUT4_0_LC_16_19_4, uart_inst0.uart_inst0.un1_tx_clk_divider_1_cry_12_s1_THRU_LUT4_0_LC_16_19_5, uart_inst0.uart_inst0.tx_clk_divider_esr_14_LC_16_19_6 }
set_location LT_16_19 16 19
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_RNI9D19_0_LC_17_2_0 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNI9D19[0], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_0_c }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_1_LC_17_2_1 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[1], fifo_inst.rx_fifo_inst.rRamWrAddr[1], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_1_c }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_2_LC_17_2_2 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[2], fifo_inst.rx_fifo_inst.rRamWrAddr[2], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_2_c }
ble_pack fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_2_c_RNIOTMG_LC_17_2_3 { fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_2_c_RNIOTMG, fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_3_c }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_4_LC_17_2_4 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[4], fifo_inst.rx_fifo_inst.rRamWrAddr[4], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_4_c }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_5_LC_17_2_5 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[5], fifo_inst.rx_fifo_inst.rRamWrAddr[5], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_5_c }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_6_LC_17_2_6 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[6], fifo_inst.rx_fifo_inst.rRamWrAddr[6], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_6_c }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_7_LC_17_2_7 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[7], fifo_inst.rx_fifo_inst.rRamWrAddr[7], fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_7_c }
clb_pack LT_17_2 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNI9D19_0_LC_17_2_0, fifo_inst.rx_fifo_inst.rRamWrAddr_1_LC_17_2_1, fifo_inst.rx_fifo_inst.rRamWrAddr_2_LC_17_2_2, fifo_inst.rx_fifo_inst.un1_rRamWrAddr_cry_2_c_RNIOTMG_LC_17_2_3, fifo_inst.rx_fifo_inst.rRamWrAddr_4_LC_17_2_4, fifo_inst.rx_fifo_inst.rRamWrAddr_5_LC_17_2_5, fifo_inst.rx_fifo_inst.rRamWrAddr_6_LC_17_2_6, fifo_inst.rx_fifo_inst.rRamWrAddr_7_LC_17_2_7 }
set_location LT_17_2 17 2
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_8_LC_17_3_0 { fifo_inst.rx_fifo_inst.rRamWrAddr_RNO[8], fifo_inst.rx_fifo_inst.rRamWrAddr[8] }
ble_pack fifo_inst.tx_fifo_inst.rRamRdAddr_2_LC_17_3_3 { fifo_inst.tx_fifo_inst.rRamRdAddr_2_THRU_LUT4_0, fifo_inst.tx_fifo_inst.rRamRdAddr[2] }
clb_pack LT_17_3 { fifo_inst.rx_fifo_inst.rRamWrAddr_8_LC_17_3_0, fifo_inst.tx_fifo_inst.rRamRdAddr_2_LC_17_3_3 }
set_location LT_17_3 17 3
ble_pack uart_inst0.tx_uart_fifo_inst.N_84_mux_i_LC_17_4_5 { uart_inst0.tx_uart_fifo_inst.N_84_mux_i }
clb_pack LT_17_4 { uart_inst0.tx_uart_fifo_inst.N_84_mux_i_LC_17_4_5 }
set_location LT_17_4 17 4
ble_pack rRxData_6_LC_17_5_0 { rRxData_6_THRU_LUT4_0, rRxData[6] }
ble_pack rRxData_1_LC_17_5_1 { rRxData_1_THRU_LUT4_0, rRxData[1] }
ble_pack rRxData_2_LC_17_5_2 { rRxData_2_THRU_LUT4_0, rRxData[2] }
ble_pack rRxData_3_LC_17_5_3 { rRxData_3_THRU_LUT4_0, rRxData[3] }
ble_pack rRxData_0_LC_17_5_4 { rRxData_0_THRU_LUT4_0, rRxData[0] }
ble_pack rRxData_5_LC_17_5_5 { rRxData_5_THRU_LUT4_0, rRxData[5] }
ble_pack rRxData_7_LC_17_5_7 { rRxData_7_THRU_LUT4_0, rRxData[7] }
clb_pack LT_17_5 { rRxData_6_LC_17_5_0, rRxData_1_LC_17_5_1, rRxData_2_LC_17_5_2, rRxData_3_LC_17_5_3, rRxData_0_LC_17_5_4, rRxData_5_LC_17_5_5, rRxData_7_LC_17_5_7 }
set_location LT_17_5 17 5
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO_0_0_LC_17_6_0 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO_0[0], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_0_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_1_LC_17_6_1 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[1], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[1], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_1_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_2_LC_17_6_2 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[2], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[2], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_2_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO_0_3_LC_17_6_3 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO_0[3], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_3_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_4_LC_17_6_4 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[4], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[4], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_4_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_5_LC_17_6_5 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[5], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[5], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_5_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_6_LC_17_6_6 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[6], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[6], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_6_c }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_7_LC_17_6_7 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[7], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[7], uart_inst0.rx_uart_fifo_inst.un1_rRamWrAddr_cry_7_c }
clb_pack LT_17_6 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO_0_0_LC_17_6_0, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_1_LC_17_6_1, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_2_LC_17_6_2, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO_0_3_LC_17_6_3, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_4_LC_17_6_4, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_5_LC_17_6_5, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_6_LC_17_6_6, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_7_LC_17_6_7 }
set_location LT_17_6 17 6
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_8_LC_17_7_0 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[8], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[8] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_3_LC_17_7_2 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[3], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[3] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_0_LC_17_7_3 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNO[0], uart_inst0.rx_uart_fifo_inst.rRamWrAddr[0] }
clb_pack LT_17_7 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_8_LC_17_7_0, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_3_LC_17_7_2, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_0_LC_17_7_3 }
set_location LT_17_7 17 7
ble_pack rUartRxState_0_LC_17_8_0 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNIVUNE1[2], rUartRxState[0] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0_2_LC_17_8_1 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNI2JT81_0_2_LC_17_8_2 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNI2JT81_0[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNITL9D2_2_LC_17_8_3 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNITL9D2[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNI2JT81_2_LC_17_8_5 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNI2JT81[2] }
clb_pack LT_17_8 { rUartRxState_0_LC_17_8_0, uart_inst0.rx_uart_fifo_inst.rDataCount_RNO_0_2_LC_17_8_1, uart_inst0.rx_uart_fifo_inst.rDataCount_RNI2JT81_0_2_LC_17_8_2, uart_inst0.rx_uart_fifo_inst.rDataCount_RNITL9D2_2_LC_17_8_3, uart_inst0.rx_uart_fifo_inst.rDataCount_RNI2JT81_2_LC_17_8_5 }
set_location LT_17_8 17 8
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_0_LC_17_9_1 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO[0], uart_inst0.rx_uart_fifo_inst.rDataCount[0] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNI3V391_2_LC_17_9_2 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNI3V391[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_RNIO7PT1_3_LC_17_9_3 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNIO7PT1[3] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_1_LC_17_9_4 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO[1], uart_inst0.rx_uart_fifo_inst.rDataCount[1] }
ble_pack rUartRxEn_LC_17_9_5 { rUartRxEn_RNO, rUartRxEn }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_2_LC_17_9_6 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO[2], uart_inst0.rx_uart_fifo_inst.rDataCount[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.rDataCount_3_LC_17_9_7 { uart_inst0.rx_uart_fifo_inst.rDataCount_RNO[3], uart_inst0.rx_uart_fifo_inst.rDataCount[3] }
clb_pack LT_17_9 { uart_inst0.rx_uart_fifo_inst.rDataCount_0_LC_17_9_1, uart_inst0.rx_uart_fifo_inst.rDataCount_RNI3V391_2_LC_17_9_2, uart_inst0.rx_uart_fifo_inst.rDataCount_RNIO7PT1_3_LC_17_9_3, uart_inst0.rx_uart_fifo_inst.rDataCount_1_LC_17_9_4, rUartRxEn_LC_17_9_5, uart_inst0.rx_uart_fifo_inst.rDataCount_2_LC_17_9_6, uart_inst0.rx_uart_fifo_inst.rDataCount_3_LC_17_9_7 }
set_location LT_17_9 17 9
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNID4JC2_0_LC_17_10_0 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNID4JC2[0], uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIK0HS_LC_17_10_1 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIK0HS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIM3IS_LC_17_10_2 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIM3IS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c_RNIO6JS_LC_17_10_3 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c_RNIO6JS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIQ9KS_LC_17_10_4 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIQ9KS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c_RNISCLS_LC_17_10_5 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c_RNISCLS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIUFMS_LC_17_10_6 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIUFMS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c }
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c_RNI0JNS_LC_17_10_7 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c_RNI0JNS, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c }
clb_pack LT_17_10 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNID4JC2_0_LC_17_10_0, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_0_c_RNIK0HS_LC_17_10_1, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_1_c_RNIM3IS_LC_17_10_2, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_2_c_RNIO6JS_LC_17_10_3, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_3_c_RNIQ9KS_LC_17_10_4, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_4_c_RNISCLS_LC_17_10_5, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_5_c_RNIUFMS_LC_17_10_6, uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_6_c_RNI0JNS_LC_17_10_7 }
set_location LT_17_10 17 10
ble_pack uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c_RNI2MOS_LC_17_11_0 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c_RNI2MOS }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNI17A54_1_LC_17_11_1 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNI17A54[1] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_0_LC_17_11_2 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_0 }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNIA98R1_4_LC_17_11_6 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNIA98R1[4] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNIA1EC1_8_LC_17_11_7 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNIA1EC1[8] }
clb_pack LT_17_11 { uart_inst0.rx_uart_fifo_inst.un1_rRamRdAddr_cry_7_c_RNI2MOS_LC_17_11_0, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNI17A54_1_LC_17_11_1, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_0_LC_17_11_2, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNIA98R1_4_LC_17_11_6, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNIA1EC1_8_LC_17_11_7 }
set_location LT_17_11 17 11
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_0_LC_17_12_2 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNO[0], uart_inst0.rx_uart_fifo_inst.rRamRdAddr[0] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamRdAddr_3_LC_17_12_7 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_RNO[3], uart_inst0.rx_uart_fifo_inst.rRamRdAddr[3] }
clb_pack LT_17_12 { uart_inst0.rx_uart_fifo_inst.rRamRdAddr_0_LC_17_12_2, uart_inst0.rx_uart_fifo_inst.rRamRdAddr_3_LC_17_12_7 }
set_location LT_17_12 17 12
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_RNINTCJ_2_LC_17_13_1 { uart_inst0.uart_inst0.rx_bits_remaining_RNINTCJ[2] }
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_RNO_0_2_LC_17_13_3 { uart_inst0.uart_inst0.rx_bits_remaining_RNO_0[2] }
ble_pack uart_inst0.uart_inst0.rx_state_RNID5M13_2_LC_17_13_5 { uart_inst0.uart_inst0.rx_state_RNID5M13[2] }
ble_pack uart_inst0.uart_inst0.rx_state_RNI4UTC3_1_LC_17_13_6 { uart_inst0.uart_inst0.rx_state_RNI4UTC3[1] }
ble_pack uart_inst0.uart_inst0.rx_countdown_RNID5M13_0_LC_17_13_7 { uart_inst0.uart_inst0.rx_countdown_RNID5M13[0] }
clb_pack LT_17_13 { uart_inst0.uart_inst0.rx_bits_remaining_RNINTCJ_2_LC_17_13_1, uart_inst0.uart_inst0.rx_bits_remaining_RNO_0_2_LC_17_13_3, uart_inst0.uart_inst0.rx_state_RNID5M13_2_LC_17_13_5, uart_inst0.uart_inst0.rx_state_RNI4UTC3_1_LC_17_13_6, uart_inst0.uart_inst0.rx_countdown_RNID5M13_0_LC_17_13_7 }
set_location LT_17_13 17 13
ble_pack uart_inst0.uart_inst0.rx_state_RNO_0_3_LC_17_14_1 { uart_inst0.uart_inst0.rx_state_RNO_0[3] }
ble_pack uart_inst0.uart_inst0.rx_state_3_LC_17_14_2 { uart_inst0.uart_inst0.rx_state_RNO[3], uart_inst0.uart_inst0.rx_state[3] }
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_RNINTCJ_3_LC_17_14_3 { uart_inst0.uart_inst0.rx_bits_remaining_RNINTCJ[3] }
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_RNO_0_3_LC_17_14_6 { uart_inst0.uart_inst0.rx_bits_remaining_RNO_0[3] }
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_3_LC_17_14_7 { uart_inst0.uart_inst0.rx_bits_remaining_RNO[3], uart_inst0.uart_inst0.rx_bits_remaining[3] }
clb_pack LT_17_14 { uart_inst0.uart_inst0.rx_state_RNO_0_3_LC_17_14_1, uart_inst0.uart_inst0.rx_state_3_LC_17_14_2, uart_inst0.uart_inst0.rx_bits_remaining_RNINTCJ_3_LC_17_14_3, uart_inst0.uart_inst0.rx_bits_remaining_RNO_0_3_LC_17_14_6, uart_inst0.uart_inst0.rx_bits_remaining_3_LC_17_14_7 }
set_location LT_17_14 17 14
ble_pack uart_inst0.uart_inst0.tx_countdown_2_LC_17_16_4 { uart_inst0.uart_inst0.tx_countdown_RNO[2], uart_inst0.uart_inst0.tx_countdown[2] }
clb_pack LT_17_16 { uart_inst0.uart_inst0.tx_countdown_2_LC_17_16_4 }
set_location LT_17_16 17 16
ble_pack uart_inst0.uart_inst0.tx_clk_divider_3_LC_17_17_4 { uart_inst0.uart_inst0.tx_clk_divider_RNO[3], uart_inst0.uart_inst0.tx_clk_divider[3] }
clb_pack LT_17_17 { uart_inst0.uart_inst0.tx_clk_divider_3_LC_17_17_4 }
set_location LT_17_17 17 17
ble_pack uart_inst0.uart_inst0.tx_countdown_RNO_2_2_LC_17_18_3 { uart_inst0.uart_inst0.tx_countdown_RNO_2[2] }
ble_pack uart_inst0.uart_inst0.tx_countdown_RNO_1_2_LC_17_18_4 { uart_inst0.uart_inst0.tx_countdown_RNO_1[2] }
ble_pack uart_inst0.uart_inst0.tx_clk_divider_RNIAEQ11_0_LC_17_18_5 { uart_inst0.uart_inst0.tx_clk_divider_RNIAEQ11[0] }
clb_pack LT_17_18 { uart_inst0.uart_inst0.tx_countdown_RNO_2_2_LC_17_18_3, uart_inst0.uart_inst0.tx_countdown_RNO_1_2_LC_17_18_4, uart_inst0.uart_inst0.tx_clk_divider_RNIAEQ11_0_LC_17_18_5 }
set_location LT_17_18 17 18
ble_pack fifo_inst.ft2232h_inst.rRxData_5_LC_18_1_1 { fifo_inst.ft2232h_inst.rRxData_RNO[5], fifo_inst.ft2232h_inst.rRxData[5] }
clb_pack LT_18_1 { fifo_inst.ft2232h_inst.rRxData_5_LC_18_1_1 }
set_location LT_18_1 18 1
ble_pack uart_inst0.tx_uart_fifo_inst.m54_e_5_LC_18_2_0 { uart_inst0.tx_uart_fifo_inst.m54_e_5 }
ble_pack uart_inst0.tx_uart_fifo_inst.m54_e_LC_18_2_1 { uart_inst0.tx_uart_fifo_inst.m54_e }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_3_LC_18_2_2 { uart_inst0.tx_uart_fifo_inst.m55, fifo_inst.rx_fifo_inst.rRamWrAddr[3] }
ble_pack uart_inst0.tx_uart_fifo_inst.m54_e_6_LC_18_2_4 { uart_inst0.tx_uart_fifo_inst.m54_e_6 }
ble_pack fifo_inst.rx_fifo_inst.rRamWrAddr_0_LC_18_2_7 { uart_inst0.tx_uart_fifo_inst.m61, fifo_inst.rx_fifo_inst.rRamWrAddr[0] }
clb_pack LT_18_2 { uart_inst0.tx_uart_fifo_inst.m54_e_5_LC_18_2_0, uart_inst0.tx_uart_fifo_inst.m54_e_LC_18_2_1, fifo_inst.rx_fifo_inst.rRamWrAddr_3_LC_18_2_2, uart_inst0.tx_uart_fifo_inst.m54_e_6_LC_18_2_4, fifo_inst.rx_fifo_inst.rRamWrAddr_0_LC_18_2_7 }
set_location LT_18_2 18 2
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_4_LC_18_3_1 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[4], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[4] }
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_3_LC_18_3_7 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[3], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[3] }
clb_pack LT_18_3 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_4_LC_18_3_1, fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_3_LC_18_3_7 }
set_location LT_18_3 18 3
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_7_LC_18_4_0 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[7], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[7] }
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_5_LC_18_4_2 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[5], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[5] }
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_1_LC_18_4_3 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[1], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[1] }
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_2_LC_18_4_4 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[2], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[2] }
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_6_LC_18_4_6 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[6], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[6] }
ble_pack fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_0_LC_18_4_7 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_RNO[0], fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA[0] }
clb_pack LT_18_4 { fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_7_LC_18_4_0, fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_5_LC_18_4_2, fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_1_LC_18_4_3, fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_2_LC_18_4_4, fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_6_LC_18_4_6, fifo_inst.rx_fifo_inst.ram512x8_inst.RDATA_0_LC_18_4_7 }
set_location LT_18_4 18 4
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIRP0T_8_LC_18_7_1 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIRP0T[8] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIMIH82_0_LC_18_7_2 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIMIH82[0] }
ble_pack uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIMJ1Q1_4_LC_18_7_5 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIMJ1Q1[4] }
clb_pack LT_18_7 { uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIRP0T_8_LC_18_7_1, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIMIH82_0_LC_18_7_2, uart_inst0.rx_uart_fifo_inst.rRamWrAddr_RNIMJ1Q1_4_LC_18_7_5 }
set_location LT_18_7 18 7
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_5_LC_18_8_0 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_RNO[5], uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[5] }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_6_LC_18_8_1 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_RNO[6], uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[6] }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_7_LC_18_8_2 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_RNO[7], uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[7] }
clb_pack LT_18_8 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_5_LC_18_8_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_6_LC_18_8_1, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_7_LC_18_8_2 }
set_location LT_18_8 18 8
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_0_LC_18_9_0 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_0_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[0] }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_1_LC_18_9_1 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_1_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[1] }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_2_LC_18_9_2 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_2_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[2] }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_3_LC_18_9_3 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_3_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[3] }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_4_LC_18_9_4 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_4_THRU_LUT4_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA[4] }
clb_pack LT_18_9 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_0_LC_18_9_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_1_LC_18_9_1, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_2_LC_18_9_2, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_3_LC_18_9_3, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.RDATA_4_LC_18_9_4 }
set_location LT_18_9 18 9
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_5_LC_18_10_0 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_5 }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_3_LC_18_10_1 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_3 }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_LC_18_10_2 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_4_LC_18_10_3 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_4 }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_2_LC_18_10_4 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_2 }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_6_LC_18_10_5 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_6 }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_1_LC_18_10_6 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_1 }
ble_pack uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_7_LC_18_10_7 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_7 }
clb_pack LT_18_10 { uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_5_LC_18_10_0, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_3_LC_18_10_1, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_LC_18_10_2, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_4_LC_18_10_3, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_2_LC_18_10_4, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_6_LC_18_10_5, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_1_LC_18_10_6, uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_7_LC_18_10_7 }
set_location LT_18_10 18 10
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_2_LC_18_11_2 { uart_inst0.uart_inst0.rx_bits_remaining_RNO[2], uart_inst0.uart_inst0.rx_bits_remaining[2] }
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_0_LC_18_11_3 { uart_inst0.uart_inst0.rx_bits_remaining_RNO[0], uart_inst0.uart_inst0.rx_bits_remaining[0] }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_1_LC_18_11_5 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_1 }
ble_pack uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_4_LC_18_11_7 { uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_4 }
clb_pack LT_18_11 { uart_inst0.uart_inst0.rx_bits_remaining_2_LC_18_11_2, uart_inst0.uart_inst0.rx_bits_remaining_0_LC_18_11_3, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_1_LC_18_11_5, uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0_RNO_4_LC_18_11_7 }
set_location LT_18_11 18 11
ble_pack uart_inst0.uart_inst0.rRxData_esr_1_LC_18_12_0 { uart_inst0.uart_inst0.rRxData_esr_1_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[1] }
ble_pack uart_inst0.uart_inst0.rRxData_esr_4_LC_18_12_1 { uart_inst0.uart_inst0.rRxData_esr_4_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[4] }
ble_pack uart_inst0.uart_inst0.rRxData_esr_3_LC_18_12_3 { uart_inst0.uart_inst0.rRxData_esr_3_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[3] }
ble_pack uart_inst0.uart_inst0.rRxData_esr_0_LC_18_12_4 { uart_inst0.uart_inst0.rRxData_esr_0_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[0] }
ble_pack uart_inst0.uart_inst0.rRxData_esr_5_LC_18_12_5 { uart_inst0.uart_inst0.rRxData_esr_5_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[5] }
ble_pack uart_inst0.uart_inst0.rRxData_esr_6_LC_18_12_6 { uart_inst0.uart_inst0.rRxData_esr_6_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[6] }
clb_pack LT_18_12 { uart_inst0.uart_inst0.rRxData_esr_1_LC_18_12_0, uart_inst0.uart_inst0.rRxData_esr_4_LC_18_12_1, uart_inst0.uart_inst0.rRxData_esr_3_LC_18_12_3, uart_inst0.uart_inst0.rRxData_esr_0_LC_18_12_4, uart_inst0.uart_inst0.rRxData_esr_5_LC_18_12_5, uart_inst0.uart_inst0.rRxData_esr_6_LC_18_12_6 }
set_location LT_18_12 18 12
ble_pack uart_inst0.uart_inst0.rRxData_esr_2_LC_18_13_5 { uart_inst0.uart_inst0.rRxData_esr_2_THRU_LUT4_0, uart_inst0.uart_inst0.rRxData_esr[2] }
clb_pack LT_18_13 { uart_inst0.uart_inst0.rRxData_esr_2_LC_18_13_5 }
set_location LT_18_13 18 13
ble_pack uart_inst0.uart_inst0.rx_bits_remaining_1_LC_18_14_5 { uart_inst0.uart_inst0.rx_bits_remaining_RNO[1], uart_inst0.uart_inst0.rx_bits_remaining[1] }
clb_pack LT_18_14 { uart_inst0.uart_inst0.rx_bits_remaining_1_LC_18_14_5 }
set_location LT_18_14 18 14
ble_pack fifo_inst.ft2232h_inst.rRxData_2_LC_20_3_0 { fifo_inst.ft2232h_inst.rRxData_RNO[2], fifo_inst.ft2232h_inst.rRxData[2] }
ble_pack fifo_inst.ft2232h_inst.rRxData_1_LC_20_3_2 { fifo_inst.ft2232h_inst.rRxData_RNO[1], fifo_inst.ft2232h_inst.rRxData[1] }
ble_pack fifo_inst.ft2232h_inst.rRxData_3_LC_20_3_3 { fifo_inst.ft2232h_inst.rRxData_RNO[3], fifo_inst.ft2232h_inst.rRxData[3] }
ble_pack fifo_inst.ft2232h_inst.rRxData_4_LC_20_3_4 { fifo_inst.ft2232h_inst.rRxData_RNO[4], fifo_inst.ft2232h_inst.rRxData[4] }
ble_pack fifo_inst.ft2232h_inst.rRxData_0_LC_20_3_6 { fifo_inst.ft2232h_inst.rRxData_RNO[0], fifo_inst.ft2232h_inst.rRxData[0] }
ble_pack fifo_inst.ft2232h_inst.rRxData_7_LC_20_3_7 { fifo_inst.ft2232h_inst.rRxData_RNO[7], fifo_inst.ft2232h_inst.rRxData[7] }
clb_pack LT_20_3 { fifo_inst.ft2232h_inst.rRxData_2_LC_20_3_0, fifo_inst.ft2232h_inst.rRxData_1_LC_20_3_2, fifo_inst.ft2232h_inst.rRxData_3_LC_20_3_3, fifo_inst.ft2232h_inst.rRxData_4_LC_20_3_4, fifo_inst.ft2232h_inst.rRxData_0_LC_20_3_6, fifo_inst.ft2232h_inst.rRxData_7_LC_20_3_7 }
set_location LT_20_3 20 3
ble_pack fifo_inst.ft2232h_inst.rRxData_6_LC_20_4_7 { fifo_inst.ft2232h_inst.rRxData_RNO[6], fifo_inst.ft2232h_inst.rRxData[6] }
clb_pack LT_20_4 { fifo_inst.ft2232h_inst.rRxData_6_LC_20_4_7 }
set_location LT_20_4 20 4
set_location fifo_inst.tx_fifo_inst.ram512x8_inst.mem_mem_0_0 19 1
set_location uart_inst0.tx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0 19 11
set_location fifo_inst.rx_fifo_inst.ram512x8_inst.mem_mem_0_0 19 3
set_location uart_inst0.rx_uart_fifo_inst.ram512x8_inst.mem_mem_0_0 19 9
set_location N_292_g_gb 12 31
set_location wPllLocked_i_g_gb 6 0
set_io ioFifoData[3] 19
set_io P1A9 46
set_io P1A1 4
set_io ioFifoData[0] 6
set_io P1A8 48
set_io oRx_n 11
set_io ioFifoData[5] 21
set_io ioFifoData[1] 9
set_io P1A7 3
set_io P1A3 47
set_io ioFifoData[6] 23
set_io ioFifoData[2] 18
set_io iTxE_n 27
set_io iRxF_n 26
set_io iClk 35
set_io P1A2 2
set_io BTN_N 10
set_io ioFifoData[7] 25
set_io oTx_n 37
set_io ioFifoData[4] 20
set_io P1A4 45
