set_location IN_MUX_bfv_14_2_0_ 14 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_3_0_ 14 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_7_0_ 13 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_8_0_ 13 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_9_0_ 13 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_10_0_ 13 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_18_12_0_ 18 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_9_0_ 15 9 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 16 2 4 #SB_LUT4
set_location PLL_BUFFER_top_pll_inst.top_pll_inst_LOCK_THRU_LUT4_0 1 30 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_THRU_LUT4_0 13 8 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_THRU_LUT4_0 13 8 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_THRU_LUT4_0 13 8 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_THRU_LUT4_0 13 7 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_THRU_LUT4_0 13 7 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_THRU_LUT4_0 13 7 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_THRU_LUT4_0 13 9 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_THRU_LUT4_0 13 8 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_THRU_LUT4_0 13 8 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_THRU_LUT4_0 13 8 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_THRU_LUT4_0 13 8 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_THRU_LUT4_0 13 8 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_THRU_LUT4_0 13 7 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_7_THRU_LUT4_0 20 10 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_6_THRU_LUT4_0 18 7 6 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_5_THRU_LUT4_0 18 7 2 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_4_THRU_LUT4_0 18 7 7 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_3_THRU_LUT4_0 18 6 4 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_2_THRU_LUT4_0 18 7 3 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_1_THRU_LUT4_0 18 7 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr_0_THRU_LUT4_0 18 7 4 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH_4_fifo_inst.ftdi_output_inst.oTx_n_rep4_ess_REP_LUT4_0 20 6 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH_4_fifo_inst.ftdi_output_inst.oTx_n_rep3_ess_REP_LUT4_0 21 6 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH_4_fifo_inst.ftdi_output_inst.oTx_n_rep2_ess_REP_LUT4_0 21 6 2 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH_4_fifo_inst.ftdi_output_inst.oTx_n_rep1_ess_REP_LUT4_0 20 6 3 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH_4_fifo_inst.ftdi_output_inst.oTx_n_rep0_ess_REP_LUT4_0 20 6 4 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_2_THRU_LUT4_0 20 8 5 #SB_LUT4
set_location DUT.uart_inst0.rx_data_7_THRU_LUT4_0 16 7 7 #SB_LUT4
set_location DUT.uart_inst0.rx_data_6_THRU_LUT4_0 16 7 6 #SB_LUT4
set_location DUT.uart_inst0.rx_data_5_THRU_LUT4_0 16 7 5 #SB_LUT4
set_location DUT.uart_inst0.rx_data_4_THRU_LUT4_0 16 7 4 #SB_LUT4
set_location DUT.uart_inst0.rx_data_3_THRU_LUT4_0 16 7 3 #SB_LUT4
set_location DUT.uart_inst0.rx_data_2_THRU_LUT4_0 16 7 2 #SB_LUT4
set_location DUT.uart_inst0.rx_data_1_THRU_LUT4_0 16 7 1 #SB_LUT4
set_location DUT.uart_inst0.rx_data_0_THRU_LUT4_0 16 7 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 18 5 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 18 5 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 18 5 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 18 5 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 18 5 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 18 5 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 18 5 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 18 5 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 17 6 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 17 6 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 17 6 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 17 6 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 17 6 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 17 6 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 17 6 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 17 6 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 17 4 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 17 4 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 17 4 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 17 4 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 17 4 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 17 4 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 17 4 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 17 4 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 16 4 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 16 3 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 16 5 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 16 5 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 17 5 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 17 5 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 16 3 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 16 4 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__7_THRU_LUT4_0 17 8 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__6_THRU_LUT4_0 17 8 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__5_THRU_LUT4_0 17 8 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__4_THRU_LUT4_0 17 8 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__3_THRU_LUT4_0 17 8 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__2_THRU_LUT4_0 17 8 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__1_THRU_LUT4_0 17 8 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3__0_THRU_LUT4_0 17 8 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__7_THRU_LUT4_0 18 8 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__6_THRU_LUT4_0 18 8 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__5_THRU_LUT4_0 18 8 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__4_THRU_LUT4_0 18 8 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__3_THRU_LUT4_0 18 8 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__2_THRU_LUT4_0 18 8 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__1_THRU_LUT4_0 18 8 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__0_THRU_LUT4_0 18 8 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__7_THRU_LUT4_0 18 11 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__6_THRU_LUT4_0 18 11 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__5_THRU_LUT4_0 18 11 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__4_THRU_LUT4_0 18 11 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__3_THRU_LUT4_0 18 11 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__2_THRU_LUT4_0 18 11 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__1_THRU_LUT4_0 18 11 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1__0_THRU_LUT4_0 18 11 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__7_THRU_LUT4_0 17 9 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__6_THRU_LUT4_0 17 9 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__5_THRU_LUT4_0 21 10 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__4_THRU_LUT4_0 17 10 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__3_THRU_LUT4_0 17 10 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__2_THRU_LUT4_0 21 10 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__1_THRU_LUT4_0 18 10 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__0_THRU_LUT4_0 18 10 2 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRx_n 20 8 7 #SB_DFFSS
set_location DUT.uart_inst0.rx_clk_divider[8] 14 8 4 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoDatarff_3 17 7 4 #SB_DFFSR
set_location DUT.uart_inst0.recv_state_RNO_5[2] 13 12 3 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[1] 15 3 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[1] 17 8 1 #SB_DFFE
set_location rTxByte_esr[3] 18 9 6 #SB_DFFESR
set_location DUT.uart_inst0.tx_state_RNIIAMI1[1] 14 4 7 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_2[0] 16 11 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_5_c 13 7 5 #SB_CARRY
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[5] 21 10 1 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_RNO[3] 15 7 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIIV9F1[1] 18 10 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown[3] 14 6 1 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[3] 17 4 3 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider[13] 14 3 5 #SB_DFFSR
set_location DUT.uart_inst0.rx_clk_divider_1_cry_11_c 13 8 3 #SB_CARRY
set_location fifo_inst.ftdi_input_inst.rWrState_latch[1] 15 6 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNIMQ571[1] 15 7 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[7] 17 6 7 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_0_c 13 7 0 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_c_RNIMVNN 15 9 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[5] 14 8 2 #SB_DFFE
set_location DUT.uart_inst0.recv_state[4] 15 11 6 #SB_DFF
set_location DUT.fifo_tx_inst.rWritePtr[0] 15 11 1 #SB_DFF
set_location DUT.fifo_tx_inst.rFifoDatarff_0 17 7 1 #SB_DFFSR
set_location DUT.fifo_rx_inst.rWritePtr[0] 14 12 0 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIQTLJ5[4] 18 9 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[2] 17 8 2 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_12_c 13 8 4 #SB_CARRY
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO_0[0] 20 9 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[1] 14 2 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[4] 15 7 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI5EJ22[0] 18 10 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[4] 17 4 4 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIS9AF1[6] 17 9 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIGT9F1[0] 18 10 0 #SB_LUT4
set_location rTxWrite 13 11 5 #SB_DFFSR
set_location DUT.uart_inst0.tx_out_RNO_0 13 5 5 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO_0[3] 13 4 3 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[3] 15 12 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIUN0H[3] 17 5 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[0] 18 8 0 #SB_DFFE
set_location fifo_inst.ftdi_output_inst.rWrDelay 20 8 2 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[2] 17 6 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[7] 16 4 2 #SB_DFFE
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIUEQM[3] 20 7 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[2] 15 7 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNIN9O8[0] 15 6 5 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oTx_n_rep4_ess 20 6 1 #SB_DFFESS
set_location DUT.uart_inst0.rx_countdown_RNIEGJTC[0] 15 8 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_7_c 13 7 7 #SB_CARRY
set_location fifo_inst.ftdi_output_inst.rRxData_esr[4] 18 7 7 #SB_DFFESR
set_location ioFifoData_iobuf_RNO[4] 20 3 6 #SB_LUT4
set_location DUT.uart_inst0.tx_data[6] 15 5 7 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI0Q0H[4] 16 5 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[6] 14 2 6 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown[5] 13 6 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_1[1] 17 11 5 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.SUM_0[2] 16 8 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_1 17 11 1 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[5] 17 8 5 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIP2K22[5] 17 10 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[7] 18 8 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoCount_RNI5KNB1[2] 14 12 3 #SB_LUT4
set_location rTxByte_esr[7] 18 9 3 #SB_DFFESR
set_location DUT.uart_inst0.tx_bits_remaining[1] 13 2 3 #SB_DFFSR
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIFFVH[4] 20 7 1 #SB_LUT4
set_location DUT.uart_inst0.tx_data_RNO[6] 15 5 7 #SB_LUT4
set_location DUT.uart_inst0.rx_data[2] 16 7 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[2] 17 5 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount[0] 13 11 4 #SB_DFFSR
set_location DUT.uart_inst0.tx_countdown_RNO[4] 13 6 2 #SB_LUT4
set_location DUT.uart_inst0.recv_state[2] 14 9 3 #SB_DFF
set_location DUT.fifo_tx_inst.rReadPtr_RNO[1] 16 6 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9DMJ5[7] 18 9 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[1] 18 10 5 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_RNO[8] 14 3 0 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO_1[3] 14 4 0 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_1[2] 13 5 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNI69LM2[0] 14 11 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[17] 13 9 1 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_4[2] 15 12 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIO5AF1[4] 17 10 3 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNISP995[0] 13 4 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIBELJ5[1] 18 9 4 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr[7] 20 10 1 #SB_DFFESR
set_location DUT.uart_inst0.tx_countdown_RNILLC71[2] 13 5 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[6] 14 2 6 #SB_DFFSS
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[3] 13 7 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNO[2] 18 12 2 #SB_LUT4
set_location ioFifoData_iobuf_RNO[3] 21 1 2 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.oTxFull_0 15 3 0 #SB_LUT4
set_location DUT.uart_inst0.tx_data[3] 15 5 4 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining_RNIAVHE1[2] 15 12 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNO 17 7 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNI5NR43 17 9 7 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO_4[2] 16 11 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[17] 13 9 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[9] 14 7 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[5] 18 5 5 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK[2] 13 2 6 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[1] 16 9 3 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO[3] 16 11 7 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[0] 15 3 5 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI8CH01[1] 15 6 4 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO_0[1] 16 9 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNI4AQO1 17 9 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_2 17 11 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[6] 17 8 6 #SB_DFFE
set_location rTxByte_esr[0] 18 9 2 #SB_DFFESR
set_location fifo_inst.ftdi_output_inst.rFifoState[0] 20 9 3 #SB_DFF
set_location fifo_inst.ftdi_input_inst.rRamWrAddr_latch[1] 16 8 7 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_2[1] 16 9 0 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_c_RNI8H662 16 10 4 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_3[1] 13 12 7 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_1[2] 14 9 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[1] 16 3 0 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNIDD8Q[0] 13 5 0 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO_2[2] 13 12 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[4] 17 10 5 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNO[5] 16 9 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[0] 15 7 3 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining[2] 15 10 5 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoDatarff_1_RNO 17 11 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown[2] 14 6 7 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNO[2] 13 2 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNINK4E1[2] 15 8 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM_0[1] 13 11 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIVUDC1[3] 17 5 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[0] 17 4 0 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNO[2] 13 10 2 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNO[1] 14 5 6 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIBTN81[0] 14 1 6 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_0[4] 13 6 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNIJKPE2[1] 13 6 4 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI67HK1[5] 14 6 4 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI01HK1[5] 13 3 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[12] 14 3 4 #SB_DFFSR
set_location DUT.uart_inst0.rx_countdown_3_cry_2_s1_c_RNIO52I 15 9 3 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr[2] 18 7 3 #SB_DFFESR
set_location DUT.uart_inst0.tx_countdown_RNI34HK1[5] 13 6 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_8_c 13 8 0 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[6] 17 6 6 #SB_DFFE
set_location fifo_inst.ftdi_output_inst.oTx_n 20 7 3 #SB_DFF
set_location DUT.uart_inst0.tx_data_RNO[1] 15 5 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data[0] 15 5 0 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_cry_c[11] 14 3 3 #SB_CARRY
set_location DUT.uart_inst0.rx_data[5] 16 7 5 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNIEQQU[2] 15 12 6 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNIL139C[1] 14 11 3 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI5PJS2[1] 14 5 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNI3V794[0] 15 8 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[6] 14 8 3 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[2] 14 9 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_1 17 7 2 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[2] 18 5 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIJIDC1[0] 16 4 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[6] 14 12 6 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[3] 15 3 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rReadPtr_RNO[0] 16 10 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[3] 17 8 3 #SB_DFFE
set_location fifo_inst.ftdi_output_inst.rFifoState[3] 20 8 0 #SB_DFFSR
set_location DUT.uart_inst0.recv_state_RNO_2[2] 14 9 7 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[1] 14 2 1 #SB_DFFSR
set_location DUT.uart_inst0.recv_state_RNO_1[1] 14 11 0 #SB_LUT4
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_1_c 13 10 1 #SB_CARRY
set_location fifo_inst.ftdi_input_inst.rPacketCount15 15 3 7 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.SUM[2] 15 3 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIQJ0H[1] 16 4 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoCount_RNI0AJL[0] 13 11 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[7] 17 9 5 #SB_DFFE
set_location fifo_inst.ftdi_output_inst.oRxFlag 20 8 6 #SB_DFFSR
set_location DUT.uart_inst0.tx_clk_divider_cry_c[0] 14 2 0 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[2] 14 2 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[5] 14 8 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[10] 14 7 4 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRamRdAddr[0] 20 7 0 #SB_DFF
set_location DUT.uart_inst0.tx_countdown[1] 13 3 5 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNI2GC23[0] 16 9 6 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_3[2] 14 9 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[5] 17 4 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNO[1] 13 10 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[2] 18 11 2 #SB_DFFE
set_location DUT.uart_inst0.tx_out_RNO_1 13 5 4 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_0[1] 14 5 2 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[2] 15 10 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[3] 18 8 3 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining_RNO_2[1] 14 10 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[1] 17 6 1 #SB_DFFE
set_location DUT.uart_inst0.tx_data_RNO[2] 15 5 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[12] 14 3 4 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[8] 13 3 2 #SB_LUT4
set_location DUT.uart_inst0.rx_data[6] 16 7 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[6] 16 3 1 #SB_DFFE
set_location fifo_inst.ftdi_output_inst.oTx_n_rep2_ess 21 6 2 #SB_DFFESS
set_location DUT.uart_inst0.tx_countdown_RNO[0] 13 6 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[3] 15 7 6 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_6_c 13 7 6 #SB_CARRY
set_location DUT.uart_inst0.recv_state[6] 14 12 6 #SB_DFF
set_location DUT.uart_inst0.rx_countdown_RNO[2] 13 12 2 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[5] 15 11 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNO[0] 14 12 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNIPTFQ1[1] 17 12 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNIHH0D1[1] 17 12 6 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[1] 20 8 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_15_c 13 8 7 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider[13] 14 7 1 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_4[6] 16 12 0 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIBVOQB[1] 13 4 5 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRamRdAddr_RNO[2] 20 7 7 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[2] 14 2 2 #SB_DFFSR
set_location DUT.uart_inst0.tx_data[7] 15 4 3 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNO_2[2] 13 5 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[10] 14 3 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO_1[2] 14 10 7 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[7] 14 2 7 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[7] 14 2 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[6] 14 8 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[13] 14 7 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNI110Q1[1] 17 12 3 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRxFlag_RNIHCKH1 16 12 4 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown[4] 13 6 2 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown[5] 16 9 7 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[2] 15 10 4 #SB_LUT4
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c_RNO 13 11 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[6] 17 4 6 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[7] 18 11 7 #SB_DFFE
set_location DUT.uart_inst0.tx_state_RNI92K37[0] 13 2 1 #SB_LUT4
set_location DUT.uart_inst0.tx_out_RNO_2 15 5 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_0[2] 14 5 7 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_0_s1_c_RNIKPDT 15 9 1 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[1] 15 10 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[6] 18 8 6 #SB_DFFE
set_location rTxByte_esr[4] 18 9 7 #SB_DFFESR
set_location DUT.uart_inst0.tx_bits_remaining[0] 13 2 5 #SB_DFFSR
set_location DUT.uart_inst0.rx_bits_remaining_RNO_2[2] 15 10 3 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI9B9Q2[1] 14 6 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data_RNO[7] 15 4 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[8] 14 3 0 #SB_DFFSR
set_location DUT.uart_inst0.rx_data[3] 16 7 3 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[5] 16 5 5 #SB_DFFE
set_location fifo_inst.ftdi_input_inst.rRamWrEn_latch 16 6 7 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO[3] 14 6 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[0] 15 7 3 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[4] 15 11 7 #SB_LUT4
set_location DUT.uart_inst0.recv_state[1] 14 11 1 #SB_DFF
set_location DUT.fifo_rx_inst.rReadPtr[0] 16 10 3 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI9IJ22[1] 18 10 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[0] 18 10 2 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_cry_c[9] 14 3 1 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[9] 14 3 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO[1] 16 9 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rReadPtr_RNI4NC92[0] 16 11 3 #SB_LUT4
set_location DUT.uart_inst0.tx_out 13 5 6 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNO_4[3] 14 4 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[16] 14 8 6 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_4[3] 15 9 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM_2[1] 13 11 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNIJKPE2[5] 14 6 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI69LJ5[0] 18 9 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount[2] 18 12 2 #SB_DFFSR
set_location fifo_inst.ftdi_output_inst.rWrDelay_RNO 20 8 2 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr[6] 18 7 6 #SB_DFFESR
set_location DUT.uart_inst0.tx_state_RNIOJJIA[0] 14 5 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[7] 14 2 7 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoCount_RNO[1] 18 12 1 #SB_LUT4
set_location top_pll_inst.top_pll_inst_RNISDA2_0 12 30 3 #SB_LUT4
set_location ioFifoData_iobuf_RNO[2] 21 4 0 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oTx_n_rep3_ess 21 6 1 #SB_DFFESS
set_location fifo_inst.ftdi_output_inst.oTx_n_rep0_ess 20 6 4 #SB_DFFESS
set_location fifo_inst.ftdi_input_inst.ram512x8_inst 19 7 0 #SB_RAM40_4K
set_location DUT.uart_inst0.tx_data[4] 15 5 5 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_1_c 13 7 1 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[4] 14 2 4 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[16] 14 8 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[6] 18 5 6 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNISL0H[2] 17 5 0 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNICODU[0] 14 4 4 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNI7CGS2[1] 13 12 6 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[0] 16 8 4 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO[2] 14 9 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[4] 18 11 4 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNO_0[2] 13 12 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_4_s1_c_RNISHMM 15 9 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_3 17 7 0 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[7] 17 8 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[5] 18 8 5 #SB_DFFE
set_location rTxByte_esr[1] 18 9 4 #SB_DFFESR
set_location fifo_inst.ftdi_input_inst.rRamWrAddr_latch[2] 16 8 2 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.oPacketAvail_latch 12 7 3 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNI15HA8[0] 15 8 6 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_2[6] 14 12 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIGJLJ5[2] 18 9 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIDMJ22[2] 18 10 7 #SB_LUT4
set_location DUT.rTransmit_RNO 15 6 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[0] 16 4 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount[2] 13 10 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c_RNO 17 12 1 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_4[1] 14 10 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNINMDC1[1] 16 4 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[3] 17 10 2 #SB_DFFE
set_location DUT.uart_inst0.tx_state_RNICU6U[1] 15 6 0 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO[4] 16 8 5 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_3_s1_c 15 9 3 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_3_cry_1_s1_c 15 9 1 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[1] 15 7 4 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining[1] 15 10 7 #SB_DFF
set_location DUT.fifo_tx_inst.rFifoCount_RNIME2J[0] 16 6 0 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.un1_rWrState_1 16 8 1 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIMDQK4_0[0] 13 4 4 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO[1] 13 2 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNI7H9R3[10] 15 8 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[15] 14 7 3 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_4[0] 16 12 7 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_3[6] 14 11 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[1] 17 4 1 #SB_DFFE
set_location DUT.uart_inst0.tx_state_RNO[0] 14 5 4 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[11] 14 3 3 #SB_DFFSR
set_location DUT.uart_inst0.tx_bits_remaining_RNI6CFK_0[2] 13 2 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM[1] 17 11 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNO 17 7 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount[1] 18 12 1 #SB_DFFSR
set_location fifo_inst.ftdi_output_inst.rRxData_esr[1] 18 7 1 #SB_DFFESR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[5] 17 6 5 #SB_DFFE
set_location ioFifoData_iobuf_RNO[1] 18 1 4 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNINQKO8[1] 13 2 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data[1] 15 5 2 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNIEQQU[1] 16 9 5 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_0_s1_c 15 9 0 #SB_CARRY
set_location DUT.fifo_tx_inst.rReadPtr[0] 16 6 3 #SB_DFF
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_0_c 18 12 0 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider[7] 14 8 1 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[3] 16 11 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_2 17 7 3 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[3] 18 5 3 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNO_3[3] 13 6 6 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[3] 14 8 7 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_5[3] 16 12 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[1] 14 11 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI601H[7] 16 4 0 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.rPacketCount_latch[2] 15 3 3 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNI00K8B[0] 14 4 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rReadPtr_RNO[1] 16 10 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[0] 17 8 0 #SB_DFFE
set_location rTxByte_esr[2] 18 9 5 #SB_DFFESR
set_location fifo_inst.ftdi_output_inst.rFifoState[2] 20 8 5 #SB_DFFSR
set_location fifo_inst.ftdi_output_inst.oRxFlag_RNO 20 8 6 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNIBPK2[0] 13 4 0 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_2[3] 16 10 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_1[0] 16 10 1 #SB_LUT4
set_location fifo_inst.ftdi_input_inst.SUM[3] 15 4 1 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO_2[3] 14 4 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[6] 17 9 2 #SB_DFFE
set_location DUT.uart_inst0.tx_clk_divider_cry_c[3] 14 2 3 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[3] 14 2 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNITC2S1[0] 13 4 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[2] 15 7 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI77EC1[5] 16 5 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI4U0H[6] 16 5 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIV2MJ5[5] 18 9 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIT6K22[6] 17 9 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRamRdAddr[1] 20 7 6 #SB_DFF
set_location DUT.uart_inst0.tx_countdown[0] 13 6 0 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_3_cry_3_s1_c_RNIQBCS 15 9 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_3[1] 14 9 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNI8OBB2[1] 15 11 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[2] 17 4 2 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNO[0] 13 11 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[3] 18 11 3 #SB_DFFE
set_location top_pll_inst.top_pll_inst_RNIIIF42 15 8 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNI3ALC[17] 14 7 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[2] 18 8 2 #SB_DFFE
set_location top_pll_inst.top_pll_inst_RNI0MK94 15 8 3 #SB_LUT4
set_location rRxRead_RNO 17 12 7 #SB_LUT4
set_location DUT.uart_inst0.tx_out_RNO 13 5 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[0] 17 6 0 #SB_DFFE
set_location fifo_inst.ftdi_input_inst.un2_oPacketAvail_i 15 4 2 #SB_LUT4
set_location DUT.uart_inst0.tx_state[1] 14 5 6 #SB_DFFSR
set_location DUT.uart_inst0.tx_data_RNO[3] 15 5 4 #SB_LUT4
set_location DUT.uart_inst0.rx_data[7] 16 7 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoCount_RNI96D91[2] 14 12 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[4] 15 7 7 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_10_c 13 8 2 #SB_CARRY
set_location DUT.uart_inst0.recv_state_RNO_0[0] 15 7 0 #SB_LUT4
set_location DUT.uart_inst0.recv_state[5] 15 11 0 #SB_DFF
set_location DUT.fifo_tx_inst.rWritePtr[1] 14 11 7 #SB_DFF
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[0] 18 5 0 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNIHQJ22[3] 17 10 1 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNI3MLP6[0] 13 4 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNI2V95[2] 13 3 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[8] 14 8 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO[4] 15 11 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91[1] 17 11 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr[1] 14 12 1 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI48MJ5[6] 18 9 0 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[0] 20 9 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[12] 14 8 5 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNIHH651[5] 16 11 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIDTQ4[1] 20 9 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[3] 14 2 3 #SB_DFFSS
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[6] 13 7 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rReadPtr_RNILV421[0] 16 6 1 #SB_LUT4
set_location DUT.fifo_rx_inst.un1_rFifoCount_1_cry_1_0_c 18 12 1 #SB_CARRY
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILOLJ5[3] 18 9 6 #SB_LUT4
set_location rRxRead 17 12 7 #SB_DFFSR
set_location DUT.uart_inst0.tx_countdown_RNO_2[3] 14 6 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[13] 14 3 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNI8Q1Q[13] 13 3 1 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNIUMLT1[5] 13 12 5 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_0_RNO 17 11 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[6] 14 2 6 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[0] 15 9 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[7] 14 8 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[12] 14 8 5 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRamRdAddr[2] 20 7 7 #SB_DFF
set_location DUT.uart_inst0.rx_countdown[4] 16 8 5 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_RNIJI4K1[16] 15 7 2 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[3] 15 12 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram1_[7] 17 4 7 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[0] 18 11 0 #SB_DFFE
set_location DUT.uart_inst0.tx_out_RNO_3 13 5 7 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO_0[3] 14 6 3 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNIB99J[10] 14 7 5 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO[0] 14 10 6 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_6[2] 14 9 0 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIFFEC1[7] 16 4 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[1] 18 8 1 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoCount_RNICMVR[2] 17 12 0 #SB_LUT4
set_location rTxByte_esr[5] 18 9 1 #SB_DFFESR
set_location DUT.uart_inst0.tx_bits_remaining_RNO_5[3] 13 6 5 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining[3] 13 4 6 #SB_DFFSS
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[3] 17 6 3 #SB_DFFE
set_location DUT.uart_inst0.tx_data_RNO[4] 15 5 5 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[9] 14 3 1 #SB_DFFSR
set_location DUT.uart_inst0.rx_data[0] 16 7 0 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[4] 16 5 2 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNO[2] 14 6 7 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[1] 15 7 4 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_0[5] 15 11 3 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNIO2V22[1] 14 10 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state[0] 16 10 2 #SB_DFF
set_location DUT.fifo_rx_inst.rReadPtr[1] 16 10 6 #SB_DFF
set_location DUT.uart_inst0.tx_clk_divider_cry_c[8] 14 3 0 #SB_CARRY
set_location DUT.uart_inst0.rx_countdown_RNO[0] 16 8 4 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNIKCMS 16 6 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[11] 14 7 7 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining_RNIP8561[0] 15 10 0 #SB_LUT4
set_location DUT.fifo_tx_inst.wTxEn_1 15 3 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNIOH0H[0] 16 4 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIUBAF1[7] 17 9 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNIJKPE2[4] 13 3 4 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_4_s1_c 15 9 4 #SB_CARRY
set_location DUT.fifo_tx_inst.un1_rFifoCount_1_cry_0_c 13 10 0 #SB_CARRY
set_location DUT.fifo_tx_inst.rWritePtr_RNO[1] 14 11 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_3_RNO 17 7 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNI1BK22[7] 17 9 4 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr[5] 18 7 2 #SB_DFFESR
set_location fifo_inst.ftdi_output_inst.oRamRdAddr_RNO[0] 20 7 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[4] 14 2 4 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoCount_RNO[0] 17 12 2 #SB_LUT4
set_location DUT.uart_inst0.tx_data[5] 15 5 6 #SB_DFFE
set_location DUT.uart_inst0.tx_state_RNI8CH01_0[1] 14 5 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[5] 14 2 5 #SB_CARRY
set_location DUT.uart_inst0.tx_clk_divider_RNO[5] 14 2 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO[15] 14 7 3 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[7] 18 5 7 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_3_c 13 7 3 #SB_CARRY
set_location DUT.fifo_tx_inst.rFifoCount_RNISSQ21[1] 13 11 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2__RNILUJ22[4] 17 10 4 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[5] 18 11 5 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNO_0[3] 14 9 6 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNIV9PG[3] 15 12 2 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_0 17 11 0 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram3_[4] 17 8 4 #SB_DFFE
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram2_[4] 18 8 4 #SB_DFFE
set_location rTxByte_esr[6] 18 9 0 #SB_DFFESR
set_location fifo_inst.ftdi_output_inst.oRx_n_RNO 20 8 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0_[3] 17 5 5 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount[1] 13 10 1 #SB_DFFSR
set_location DUT.fifo_rx_inst.rWritePtr_RNI96D91_0[1] 17 11 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIK1AF1[2] 18 10 6 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oTx_n_RNO 20 7 3 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO[5] 13 6 7 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_4[2] 15 10 2 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNI237O[0] 16 11 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state[3] 16 11 7 #SB_DFF
set_location DUT.fifo_tx_inst.rReadPtr_RNO[0] 16 6 3 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0_[2] 21 10 0 #SB_DFFE
set_location DUT.uart_inst0.rx_bits_remaining[0] 14 10 6 #SB_DFFE
set_location DUT.uart_inst0.tx_countdown_RNO_1[3] 14 6 0 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining_RNO[0] 13 2 5 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNI6B671[5] 14 8 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[14] 14 7 2 #SB_DFFE
set_location DUT.uart_inst0.recv_state_RNO_4[1] 16 9 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[10] 14 3 2 #SB_DFFSR
set_location DUT.fifo_rx_inst.rFifoCount[0] 17 12 2 #SB_DFFSR
set_location fifo_inst.ftdi_output_inst.rRxData_esr[0] 18 7 4 #SB_DFFESR
set_location DUT.uart_inst0.tx_state_RNI6Q5N3[1] 14 4 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNIBTG71[1] 14 12 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2_[4] 17 6 4 #SB_DFFE
set_location ioFifoData_iobuf_RNO[0] 15 2 0 #SB_LUT4
set_location DUT.uart_inst0.tx_data[2] 15 5 3 #SB_DFFE
set_location DUT.fifo_tx_inst.rReadPtr[1] 16 6 2 #SB_DFF
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[4] 18 5 4 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNI40IN5[1] 15 10 6 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown[2] 13 12 2 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_1_cry_4_c 13 7 4 #SB_CARRY
set_location DUT.uart_inst0.recv_state_RNO[0] 16 10 2 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[4] 20 8 1 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[2] 15 10 1 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState[1] 20 8 3 #SB_DFFSR
set_location fifo_inst.ftdi_input_inst.rRamWrAddr_latch[0] 16 8 6 #SB_LUT4
set_location DUT.uart_inst0.tx_state_RNIMDQK4[0] 14 4 2 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_3[2] 15 12 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_1[3] 16 12 6 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oTx_n_rep1_ess 20 6 3 #SB_DFFESS
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram0__RNI2S0H[5] 16 5 3 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[2] 14 2 2 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_1_cry_2_c 13 7 2 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_1_cry_16_c 13 9 0 #SB_CARRY
set_location DUT.uart_inst0.rx_bits_remaining[3] 15 12 1 #SB_DFFE
set_location DUT.uart_inst0.tx_bits_remaining_RNO[3] 13 4 6 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_3[0] 16 10 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIQ7AF1[5] 17 10 6 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIRQDC1[2] 17 5 1 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_2_RNO 17 11 2 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rRxData_esr[3] 18 6 4 #SB_DFFESR
set_location DUT.fifo_tx_inst.rFifoDatarff_1_RNO 17 7 2 #SB_LUT4
set_location DUT.uart_inst0.tx_state[0] 14 5 4 #SB_DFFSR
set_location DUT.uart_inst0.tx_data_RNO[0] 15 5 0 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[10] 14 3 2 #SB_CARRY
set_location DUT.uart_inst0.rx_data[4] 16 7 4 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNO_3[2] 15 12 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNI8BKM_1[1] 16 11 2 #SB_LUT4
set_location rTxWrite_RNO 13 11 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_0[1] 15 11 2 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram3_[1] 18 5 1 #SB_DFFE
set_location DUT.uart_inst0.rx_clk_divider_RNO[9] 14 7 6 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_9_c 13 8 1 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_1_cry_13_c 13 8 5 #SB_CARRY
set_location fifo_inst.ftdi_output_inst.rFifoState_RNO[3] 20 8 0 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNO_1[1] 14 10 5 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState[4] 20 8 1 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoDatarff_2_RNIC6BE 16 6 4 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[0] 15 9 6 #SB_DFFSR
set_location DUT.uart_inst0.rx_countdown_RNIS6O94[0] 14 11 2 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_RNO_0[5] 13 7 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_1[6] 16 12 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_RNO[12] 14 3 4 #SB_LUT4
set_location DUT.uart_inst0.rx_bits_remaining_RNI9JOT[0] 14 10 1 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[1] 14 2 1 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[11] 14 7 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoCount_RNI9EGD1[1] 17 12 4 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_3[3] 16 10 7 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNIBBEC1[6] 16 5 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoDatarff_3_RNO 17 7 0 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[1] 18 11 1 #SB_DFFE
set_location DUT.uart_inst0.rx_countdown_RNI4AOF7[3] 15 11 5 #SB_LUT4
set_location DUT.fifo_tx_inst.rWritePtr_RNI4PUO[1] 14 11 6 #SB_LUT4
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram0__RNIM3AF1[3] 17 10 0 #SB_LUT4
set_location DUT.uart_inst0.tx_bits_remaining[2] 13 2 4 #SB_DFFSR
set_location DUT.fifo_tx_inst.rFifoData_rFifoData_ram2__RNI33EC1[4] 16 5 1 #SB_LUT4
set_location DUT.uart_inst0.tx_data_RNO[5] 15 5 6 #SB_LUT4
set_location DUT.uart_inst0.rx_data[1] 16 7 1 #SB_DFFE
set_location DUT.fifo_tx_inst.rFifoCount_RNI7FOF[2] 13 11 6 #SB_LUT4
set_location DUT.uart_inst0.tx_countdown_RNO[1] 13 3 5 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_0[6] 14 12 5 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNO[3] 14 8 7 #SB_LUT4
set_location DUT.fifo_rx_inst.rWritePtr_RNO[1] 14 12 1 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider[10] 14 7 4 #SB_DFFE
set_location DUT.fifo_tx_inst.rWritePtr_RNO[0] 15 11 1 #SB_LUT4
set_location DUT.fifo_tx_inst.rFifoDatarff_0_RNI86BE 16 6 5 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.rFifoState_RNIBT9K[4] 20 7 5 #SB_LUT4
set_location fifo_inst.ftdi_output_inst.oRamRdAddr_RNO[1] 20 7 6 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider[5] 14 2 5 #SB_DFFSS
set_location DUT.uart_inst0.tx_clk_divider_RNO[11] 14 3 3 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_RNIK68E1[1] 16 8 0 #SB_LUT4
set_location DUT.uart_inst0.rx_clk_divider_1_cry_14_c 13 8 6 #SB_CARRY
set_location GND -1 -1 -1 #GND
set_location fifo_inst.ftdi_output_inst.oTx_n_RNIPDL9 18 3 2 #SB_LUT4
set_location DUT.uart_inst0.tx_clk_divider_cry_c[4] 14 2 4 #SB_CARRY
set_location DUT.uart_inst0.rx_clk_divider_RNO[14] 14 7 2 #SB_LUT4
set_location DUT.uart_inst0.rx_countdown_3_cry_2_s1_c 15 9 2 #SB_CARRY
set_location DUT.uart_inst0.rx_bits_remaining_RNO_0[1] 14 10 0 #SB_LUT4
set_location DUT.uart_inst0.recv_state_RNO_5[6] 16 12 3 #SB_LUT4
set_location DUT.rTransmit 15 6 6 #SB_DFF
set_location DUT.fifo_rx_inst.rFifoData_rFifoData_ram1_[6] 18 11 6 #SB_DFFE
set_io ioFifoData[3] 19
set_io P1A9 46
set_io P1A1 4
set_io ioFifoData[0] 6
set_io P1A8 48
set_io oRx_n 11
set_io ioFifoData[5] 21
set_io ioFifoData[1] 9
set_io P1A7 3
set_io P1A3 47
set_io ioFifoData[6] 23
set_io ioFifoData[2] 18
set_io iTxE_n 27
set_io iRxF_n 26
set_io iClk 35
set_io P1A2 2
set_io BTN_N 10
set_io ioFifoData[7] 25
set_io oTx_n 37
set_io ioFifoData[4] 20
set_io P1A4 45
